## LA MODEL

In [1]:
import pandas as pd
prev_la_weather = pd.read_csv('a_region_north_us.csv')
prev_la_weather.head()

,Unnamed: 0,Dates,Temperature,Wind Speed,Precipitation,Pressure,Heat Index
0,0,2016-01-01,-13,5,0.0,1038,-7
1,1,2016-01-02,-10,6,0.0,1031,-5
2,2,2016-01-03,-9,8,0.0,1028,-6
3,3,2016-01-04,-8,11,0.0,1026,-7
4,4,2016-01-05,-4,8,0.0,1010,-1

In [2]:
prev_la_weather.tail()

,Unnamed: 0,Dates,Temperature,Wind Speed,Precipitation,Pressure,Heat Index
1730,1730,2020-09-26,3,18,0.3,1016,4
1731,1731,2020-09-27,5,6,0.2,1028,5
1732,1732,2020-09-28,7,4,0.0,1029,10
1733,1733,2020-09-29,16,6,0.0,1022,21
1734,1734,2020-09-30,11,3,0.0,1025,13

In [3]:
start_dates=['2015-03-01', '2015-04-01', '2015-05-01', '2015-06-01', '2015-07-01', '2015-08-01', '2015-09-01', '2015-10-01', '2015-11-01', '2015-12-01']
end_dates=['2015-03-31', '2015-04-30', '2015-05-31', '2015-06-30', '2015-07-31', '2015-08-31', '2015-09-30', '2015-10-31', '2015-11-30', '2015-12-31']

In [75]:
import requests
def get_weather(city):
    city_dat = []
    dates, temp, wind, precip, pressure, heat = [], [] ,[], [], [], []
    for i in range(len(start_dates)):
        res_str = f'http://api.worldweatheronline.com/premium/v1/past-weather.ashx?key=7b7c4ad8a29e48c3a51114119200310&q={city}&format=json&date={start_dates[i]}&enddate={end_dates[i]}'
        city_dat.append(res_str)
#     print(city_dat[0])
        res = requests.get(res_str).json()['data']['weather']
        for j in range(len(res)):
            dates.append(res[j]['date'])
            temp.append(res[j]['avgtempC'])
            wind.append(res[j]['hourly'][4]['windspeedKmph'])
            precip.append(res[j]['hourly'][4]['precipMM'])
            pressure.append(res[j]['hourly'][4]['pressure'])
            heat.append(res[j]['hourly'][4]['HeatIndexC'])
    city_df = pd.DataFrame({
        "Dates":dates,
        "Temperature": temp,
        "Wind Speed": wind,
        "Precipitation": precip,
        "Pressure": pressure,
        "Heat Index": heat
    })
    city_df.to_csv(f'{city}.csv')
    print("OK")

In [4]:
import requests
def get_weather(lat, lon):
    city_dat = []
    dates, temp, wind, precip, pressure, heat = [], [] ,[], [], [], []
    for i in range(len(start_dates)):
#         res_str = f'http://api.worldweatheronline.com/premium/v1/past-weather.ashx?key=7b7c4ad8a29e48c3a51114119200310&q={city}&format=json&date={start_dates[i]}&enddate={end_dates[i]}'
        res_str = f'http://api.worldweatheronline.com/premium/v1/past-weather.ashx?key=7b7c4ad8a29e48c3a51114119200310&q={lat},{lon}&format=json&date={start_dates[i]}&enddate={end_dates[i]}'

        city_dat.append(res_str)
#     print(city_dat[0])
        res = requests.get(res_str).json()['data']['weather']
        for j in range(len(res)):
            dates.append(res[j]['date'])
            temp.append(res[j]['avgtempC'])
            wind.append(res[j]['hourly'][4]['windspeedKmph'])
            precip.append(res[j]['hourly'][4]['precipMM'])
            pressure.append(res[j]['hourly'][4]['pressure'])
            heat.append(res[j]['hourly'][4]['HeatIndexC'])
    city_df = pd.DataFrame({
        "Dates":dates,
        "Temperature": temp,
        "Wind Speed": wind,
        "Precipitation": precip,
        "Pressure": pressure,
        "Heat Index": heat
    })
#     city_df.to_csv(f'{city}.csv')
    city_df.to_csv('a_region_north_us.csv')
    print("OK")

In [5]:
# test
get_weather(lat=46.430,lon=-114.724)

OK

In [6]:
new_la_weather = pd.read_csv('a_region_north_us.csv')

In [7]:
new_la_weather.head()

,Unnamed: 0,Dates,Temperature,Wind Speed,Precipitation,Pressure,Heat Index
0,0,2015-03-01,-9,6,0.0,1029,-4
1,1,2015-03-02,-5,1,0.0,1013,0
2,2,2015-03-03,-9,7,0.0,1026,-9
3,3,2015-03-04,-9,8,0.0,1028,-5
4,4,2015-03-05,-4,8,0.0,1029,1

In [8]:
final_la_weather = pd.concat([new_la_weather,prev_la_weather])
final_la_weather

,Unnamed: 0,Dates,Temperature,Wind Speed,Precipitation,Pressure,Heat Index
0,0,2015-03-01,-9,6,0.0,1029,-4
1,1,2015-03-02,-5,1,0.0,1013,0
2,2,2015-03-03,-9,7,0.0,1026,-9
3,3,2015-03-04,-9,8,0.0,1028,-5
4,4,2015-03-05,-4,8,0.0,1029,1
...,...,...,...,...,...,...,...
1730,1730,2020-09-26,3,18,0.3,1016,4
1731,1731,2020-09-27,5,6,0.2,1028,5
1732,1732,2020-09-28,7,4,0.0,1029,10
1733,1733,2020-09-29,16,6,0.0,1022,21
1734,1734,2020-09-30,11,3,0.0,1025,13

In [9]:
final_la_weather.to_csv('final_la_weather.csv')

---
## WEATHER COMPLETE, LA FIRE TIME

In [10]:
final_la_fire = pd.read_csv('la_fire_data.csv')

In [11]:
final_la_fire

,Unnamed: 0,Unnamed: 0.1,Latitude,Longitude,Date,Fire Intensity,Brightness,dist
0,1710,1710,46.1390,-115.7716,2015-03-09,20.3,310.6,86.788203
1,1715,1715,46.1410,-115.7502,2015-03-09,18.1,308.4,85.178619
2,1741,1741,46.3900,-115.8785,2015-03-09,173.4,362.6,88.652076
3,1910,1910,46.1338,-115.7533,2015-03-10,23.9,319.5,85.708776
4,1911,1911,46.1430,-115.7441,2015-03-10,28.0,322.4,84.659143
...,...,...,...,...,...,...,...,...
9818,742012,60458,46.3950,-115.0730,2020-09-18,23.7,319.2,27.045982
9819,742025,60471,46.4390,-114.6720,2020-09-18,9.8,304.9,4.109982
9820,742026,60472,46.5870,-113.7790,2020-09-18,10.2,305.6,74.420518
9821,742048,60494,45.7740,-115.1680,2020-09-18,32.2,325.5,80.602012
9822,750058,68504,46.8280,-115.8530,2020-09-28,19.7,304.6,96.934956

In [12]:
# remove unnamed columns
df = final_la_fire
df = df.loc[:, ~df.columns.str.contains('^Unnamed')]
df

      Latitude  Longitude        Date  Fire Intensity  Brightness       dist
0      46.1390  -115.7716  2015-03-09            20.3       310.6  86.788203
1      46.1410  -115.7502  2015-03-09            18.1       308.4  85.178619
2      46.3900  -115.8785  2015-03-09           173.4       362.6  88.652076
3      46.1338  -115.7533  2015-03-10            23.9       319.5  85.708776
4      46.1430  -115.7441  2015-03-10            28.0       322.4  84.659143
...        ...        ...         ...             ...         ...        ...
9818   46.3950  -115.0730  2020-09-18            23.7       319.2  27.045982
9819   46.4390  -114.6720  2020-09-18             9.8       304.9   4.109982
9820   46.5870  -113.7790  2020-09-18            10.2       305.6  74.420518
9821   45.7740  -115.1680  2020-09-18            32.2       325.5  80.602012
9822   46.8280  -115.8530  2020-09-28            19.7       304.6  96.934956

[9823 rows x 6 columns]

In [13]:
# reassign to good var name
final_la_fire = df
final_la_fire = final_la_fire.rename(columns={'Date':"Dates"})

In [14]:
final_la_weather

,Unnamed: 0,Dates,Temperature,Wind Speed,Precipitation,Pressure,Heat Index
0,0,2015-03-01,-9,6,0.0,1029,-4
1,1,2015-03-02,-5,1,0.0,1013,0
2,2,2015-03-03,-9,7,0.0,1026,-9
3,3,2015-03-04,-9,8,0.0,1028,-5
4,4,2015-03-05,-4,8,0.0,1029,1
...,...,...,...,...,...,...,...
1730,1730,2020-09-26,3,18,0.3,1016,4
1731,1731,2020-09-27,5,6,0.2,1028,5
1732,1732,2020-09-28,7,4,0.0,1029,10
1733,1733,2020-09-29,16,6,0.0,1022,21
1734,1734,2020-09-30,11,3,0.0,1025,13

In [15]:
final_la_fire

      Latitude  Longitude       Dates  Fire Intensity  Brightness       dist
0      46.1390  -115.7716  2015-03-09            20.3       310.6  86.788203
1      46.1410  -115.7502  2015-03-09            18.1       308.4  85.178619
2      46.3900  -115.8785  2015-03-09           173.4       362.6  88.652076
3      46.1338  -115.7533  2015-03-10            23.9       319.5  85.708776
4      46.1430  -115.7441  2015-03-10            28.0       322.4  84.659143
...        ...        ...         ...             ...         ...        ...
9818   46.3950  -115.0730  2020-09-18            23.7       319.2  27.045982
9819   46.4390  -114.6720  2020-09-18             9.8       304.9   4.109982
9820   46.5870  -113.7790  2020-09-18            10.2       305.6  74.420518
9821   45.7740  -115.1680  2020-09-18            32.2       325.5  80.602012
9822   46.8280  -115.8530  2020-09-28            19.7       304.6  96.934956

[9823 rows x 6 columns]

In [16]:
# add count of fires as feature
la_fire_cocunt = final_la_fire['Dates'].value_counts()
la_fire_cocunt

2017-09-03    450
2015-08-27    396
2017-08-18    255
2015-08-25    235
2017-09-12    225
             ...
2019-12-12      1
2015-04-02      1
2019-05-10      1
2015-10-02      1
2015-06-19      1
Name: Dates, Length: 432, dtype: int64

In [17]:
la_fire_count = la_fire_cocunt.to_frame().reset_index().rename(columns={"index":"Dates", "Dates":"Fire Count"}).sort_values(by="Dates", ascending=True)
la_fire_count

          Dates  Fire Count
259  2015-03-09           3
128  2015-03-10          11
360  2015-03-13           1
286  2015-03-20           2
428  2015-04-02           1
..          ...         ...
78   2020-09-15          25
71   2020-09-16          34
67   2020-09-17          35
62   2020-09-18          39
411  2020-09-28           1

[432 rows x 2 columns]

In [18]:
final_la_fire_merged = pd.merge(final_la_fire, la_fire_count, on='Dates', how='outer')
final_la_fire_merged

,Latitude,Longitude,Dates,Fire Intensity,Brightness,dist,Fire Count
0,46.1390,-115.7716,2015-03-09,20.3,310.6,86.788203,3
1,46.1410,-115.7502,2015-03-09,18.1,308.4,85.178619,3
2,46.3900,-115.8785,2015-03-09,173.4,362.6,88.652076,3
3,46.1338,-115.7533,2015-03-10,23.9,319.5,85.708776,11
4,46.1430,-115.7441,2015-03-10,28.0,322.4,84.659143,11
...,...,...,...,...,...,...,...
9818,46.3950,-115.0730,2020-09-18,23.7,319.2,27.045982,39
9819,46.4390,-114.6720,2020-09-18,9.8,304.9,4.109982,39
9820,46.5870,-113.7790,2020-09-18,10.2,305.6,74.420518,39
9821,45.7740,-115.1680,2020-09-18,32.2,325.5,80.602012,39
9822,46.8280,-115.8530,2020-09-28,19.7,304.6,96.934956,1

In [19]:
los_angeles_data = pd.merge(final_la_weather, final_la_fire_merged, on='Dates', how='left')

In [20]:
los_angeles_data

,Unnamed: 0,Dates,Temperature,Wind Speed,Precipitation,Pressure,Heat Index,Latitude,Longitude,Fire Intensity,Brightness,dist,Fire Count
0,0,2015-03-01,-9,6,0.0,1029,-4,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2015-03-02,-5,1,0.0,1013,0,NaN,NaN,NaN,NaN,NaN,NaN
2,2,2015-03-03,-9,7,0.0,1026,-9,NaN,NaN,NaN,NaN,NaN,NaN
3,3,2015-03-04,-9,8,0.0,1028,-5,NaN,NaN,NaN,NaN,NaN,NaN
4,4,2015-03-05,-4,8,0.0,1029,1,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
11427,1730,2020-09-26,3,18,0.3,1016,4,NaN,NaN,NaN,NaN,NaN,NaN
11428,1731,2020-09-27,5,6,0.2,1028,5,NaN,NaN,NaN,NaN,NaN,NaN
11429,1732,2020-09-28,7,4,0.0,1029,10,46.828,-115.853,19.7,304.6,96.934956,1.0
11430,1733,2020-09-29,16,6,0.0,1022,21,NaN,NaN,NaN,NaN,NaN,NaN
11431,1734,2020-09-30,11,3,0.0,1025,13,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
# bhai = los_angeles_data.fillna(los_angeles_data.mean())
bhai = los_angeles_data.fillna(0)
bhai

,Unnamed: 0,Dates,Temperature,Wind Speed,Precipitation,Pressure,Heat Index,Latitude,Longitude,Fire Intensity,Brightness,dist,Fire Count
0,0,2015-03-01,-9,6,0.0,1029,-4,0.000,0.000,0.0,0.0,0.000000,0.0
1,1,2015-03-02,-5,1,0.0,1013,0,0.000,0.000,0.0,0.0,0.000000,0.0
2,2,2015-03-03,-9,7,0.0,1026,-9,0.000,0.000,0.0,0.0,0.000000,0.0
3,3,2015-03-04,-9,8,0.0,1028,-5,0.000,0.000,0.0,0.0,0.000000,0.0
4,4,2015-03-05,-4,8,0.0,1029,1,0.000,0.000,0.0,0.0,0.000000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
11427,1730,2020-09-26,3,18,0.3,1016,4,0.000,0.000,0.0,0.0,0.000000,0.0
11428,1731,2020-09-27,5,6,0.2,1028,5,0.000,0.000,0.0,0.0,0.000000,0.0
11429,1732,2020-09-28,7,4,0.0,1029,10,46.828,-115.853,19.7,304.6,96.934956,1.0
11430,1733,2020-09-29,16,6,0.0,1022,21,0.000,0.000,0.0,0.0,0.000000,0.0
11431,1734,2020-09-30,11,3,0.0,1025,13,0.000,0.000,0.0,0.0,0.000000,0.0

In [22]:
bhai.to_csv('final_la_data.csv')

## ML STARTS NOW
### DATA PREPROCESSING DONE

In [23]:
# IMPORT LIBRARIES
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, MinMaxScaler
from sklearn.linear_model import LinearRegression
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from tensorflow.keras.utils import to_categorical

/home/pseudocodenerd/anaconda3/envs/torch/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:516: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/home/pseudocodenerd/anaconda3/envs/torch/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:517: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/home/pseudocodenerd/anaconda3/envs/torch/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:518: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/home/pseudocodenerd/anaconda3/envs/torch/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/home/pseudocodenerd/anaconda3/envs/torch/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/home/pseudocodenerd/anaconda3/envs/torch/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:525: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])
/home/pseudocodenerd/anaconda3/envs/torch/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:541: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/home/pseudocodenerd/anaconda3/envs/torch/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:542: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/home/pseudocodenerd/anaconda3/envs/torch/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:543: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/home/pseudocodenerd/anaconda3/envs/torch/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:544: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/home/pseudocodenerd/anaconda3/envs/torch/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:545: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/home/pseudocodenerd/anaconda3/envs/torch/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:550: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

In [24]:
src = pd.read_csv('final_la_data.csv', index_col=0)
src

,Unnamed: 0.1,Dates,Temperature,Wind Speed,Precipitation,Pressure,Heat Index,Latitude,Longitude,Fire Intensity,Brightness,dist,Fire Count
0,0,2015-03-01,-9,6,0.0,1029,-4,0.000,0.000,0.0,0.0,0.000000,0.0
1,1,2015-03-02,-5,1,0.0,1013,0,0.000,0.000,0.0,0.0,0.000000,0.0
2,2,2015-03-03,-9,7,0.0,1026,-9,0.000,0.000,0.0,0.0,0.000000,0.0
3,3,2015-03-04,-9,8,0.0,1028,-5,0.000,0.000,0.0,0.0,0.000000,0.0
4,4,2015-03-05,-4,8,0.0,1029,1,0.000,0.000,0.0,0.0,0.000000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
11427,1730,2020-09-26,3,18,0.3,1016,4,0.000,0.000,0.0,0.0,0.000000,0.0
11428,1731,2020-09-27,5,6,0.2,1028,5,0.000,0.000,0.0,0.0,0.000000,0.0
11429,1732,2020-09-28,7,4,0.0,1029,10,46.828,-115.853,19.7,304.6,96.934956,1.0
11430,1733,2020-09-29,16,6,0.0,1022,21,0.000,0.000,0.0,0.0,0.000000,0.0
11431,1734,2020-09-30,11,3,0.0,1025,13,0.000,0.000,0.0,0.0,0.000000,0.0

In [25]:
df = src.loc[:, ~src.columns.str.contains('^Unnamed')]
df

,Dates,Temperature,Wind Speed,Precipitation,Pressure,Heat Index,Latitude,Longitude,Fire Intensity,Brightness,dist,Fire Count
0,2015-03-01,-9,6,0.0,1029,-4,0.000,0.000,0.0,0.0,0.000000,0.0
1,2015-03-02,-5,1,0.0,1013,0,0.000,0.000,0.0,0.0,0.000000,0.0
2,2015-03-03,-9,7,0.0,1026,-9,0.000,0.000,0.0,0.0,0.000000,0.0
3,2015-03-04,-9,8,0.0,1028,-5,0.000,0.000,0.0,0.0,0.000000,0.0
4,2015-03-05,-4,8,0.0,1029,1,0.000,0.000,0.0,0.0,0.000000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
11427,2020-09-26,3,18,0.3,1016,4,0.000,0.000,0.0,0.0,0.000000,0.0
11428,2020-09-27,5,6,0.2,1028,5,0.000,0.000,0.0,0.0,0.000000,0.0
11429,2020-09-28,7,4,0.0,1029,10,46.828,-115.853,19.7,304.6,96.934956,1.0
11430,2020-09-29,16,6,0.0,1022,21,0.000,0.000,0.0,0.0,0.000000,0.0
11431,2020-09-30,11,3,0.0,1025,13,0.000,0.000,0.0,0.0,0.000000,0.0

In [26]:
df['Date'] = pd.to_datetime(df['Dates'], format="%Y-%m-%d")
df['month'] = df['Date'].dt.month
import calendar
df['month'] = df['month'].apply(lambda x: calendar.month_abbr[x])
df = df.drop(columns=['Dates', 'Date'])
df

,Temperature,Wind Speed,Precipitation,Pressure,Heat Index,Latitude,Longitude,Fire Intensity,Brightness,dist,Fire Count,month
0,-9,6,0.0,1029,-4,0.000,0.000,0.0,0.0,0.000000,0.0,Mar
1,-5,1,0.0,1013,0,0.000,0.000,0.0,0.0,0.000000,0.0,Mar
2,-9,7,0.0,1026,-9,0.000,0.000,0.0,0.0,0.000000,0.0,Mar
3,-9,8,0.0,1028,-5,0.000,0.000,0.0,0.0,0.000000,0.0,Mar
4,-4,8,0.0,1029,1,0.000,0.000,0.0,0.0,0.000000,0.0,Mar
...,...,...,...,...,...,...,...,...,...,...,...,...
11427,3,18,0.3,1016,4,0.000,0.000,0.0,0.0,0.000000,0.0,Sep
11428,5,6,0.2,1028,5,0.000,0.000,0.0,0.0,0.000000,0.0,Sep
11429,7,4,0.0,1029,10,46.828,-115.853,19.7,304.6,96.934956,1.0,Sep
11430,16,6,0.0,1022,21,0.000,0.000,0.0,0.0,0.000000,0.0,Sep
11431,11,3,0.0,1025,13,0.000,0.000,0.0,0.0,0.000000,0.0,Sep

In [27]:
src = pd.get_dummies(df, prefix=['month'])
src

,Temperature,Wind Speed,Precipitation,Pressure,Heat Index,Latitude,Longitude,Fire Intensity,Brightness,dist,...,month_Dec,month_Feb,month_Jan,month_Jul,month_Jun,month_Mar,month_May,month_Nov,month_Oct,month_Sep
0,-9,6,0.0,1029,-4,0.000,0.000,0.0,0.0,0.000000,...,0,0,0,0,0,1,0,0,0,0
1,-5,1,0.0,1013,0,0.000,0.000,0.0,0.0,0.000000,...,0,0,0,0,0,1,0,0,0,0
2,-9,7,0.0,1026,-9,0.000,0.000,0.0,0.0,0.000000,...,0,0,0,0,0,1,0,0,0,0
3,-9,8,0.0,1028,-5,0.000,0.000,0.0,0.0,0.000000,...,0,0,0,0,0,1,0,0,0,0
4,-4,8,0.0,1029,1,0.000,0.000,0.0,0.0,0.000000,...,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11427,3,18,0.3,1016,4,0.000,0.000,0.0,0.0,0.000000,...,0,0,0,0,0,0,0,0,0,1
11428,5,6,0.2,1028,5,0.000,0.000,0.0,0.0,0.000000,...,0,0,0,0,0,0,0,0,0,1
11429,7,4,0.0,1029,10,46.828,-115.853,19.7,304.6,96.934956,...,0,0,0,0,0,0,0,0,0,1
11430,16,6,0.0,1022,21,0.000,0.000,0.0,0.0,0.000000,...,0,0,0,0,0,0,0,0,0,1
11431,11,3,0.0,1025,13,0.000,0.000,0.0,0.0,0.000000,...,0,0,0,0,0,0,0,0,0,1

## Regression Take 1

In [28]:
X=src.drop("Fire Intensity", axis=1)
y=src["Fire Intensity"].values.reshape(-1,1)
print(X.shape,y.shape)

(11432, 22) (11432, 1)

In [29]:
# ok data setup epic
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [30]:
a = [X_train, X_test, y_train, y_test]
for m in a:
    print(len(m))

8574
2858
8574
2858

In [31]:
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

In [32]:

print(f"Training Data Score: {model.score(X_train, y_train)}")
print(f"Testing Data Score: {model.score(X_test, y_test)}")

Training Data Score: 0.3963386914575079
Testing Data Score: 0.36205008491519897

---
## Regression Take 2

In [33]:
X_c = src.drop("Fire Count", axis=1)
y_c = src["Fire Count"].values.reshape(-1,1)
print(X_c.shape, y_c.shape)

(11432, 22) (11432, 1)

In [34]:
X_c_train, X_c_test, y_c_train, y_c_test = train_test_split(X_c, y_c, random_state=1)

In [35]:
a = [X_c_train, X_c_test, y_c_train, y_c_test]
for m in a:
    print(len(m))

8574
2858
8574
2858

In [36]:
model_2 = LinearRegression()
model_2.fit(X_c_train, y_c_train)
print(f"Training Data Score: {model_2.score(X_c_train, y_c_train)}")
print(f"Testing Data Score: {model_2.score(X_c_test, y_c_test)}")

Training Data Score: 0.3986820183140075
Testing Data Score: 0.3989094016825936

---

In [37]:
df = pd.merge(final_la_weather, final_la_fire_merged)
# df['Dates'] = pd.to_datetime(df['Dates'])
# mask = (df['Dates'] > '2020-07-01') & (df['Dates'] <= '2000-09-30')
# print(df.loc[mask])
df['date'] = pd.to_datetime(df['Dates'])
mask = (df['date'] > '2020-7-1') & (df['date'] <= '2020-9-30')
hol_out_df = df.loc[mask]

In [38]:
df = hol_out_df
df['Date'] = pd.to_datetime(df['Dates'], format="%Y-%m-%d")
df['month'] = df['Date'].dt.month
import calendar
df['month'] = df['month'].apply(lambda x: calendar.month_abbr[x])
df = df.loc[:, ~df.columns.str.contains('^Unnamed')].drop(columns=['Dates', 'Date', 'date'])
df

,Temperature,Wind Speed,Precipitation,Pressure,Heat Index,Latitude,Longitude,Fire Intensity,Brightness,dist,Fire Count,month
9410,9,10,0.0,1013,11,46.520,-114.119,4.1,308.5,47.412211,1,Jul
9411,19,1,0.0,1016,21,47.307,-114.469,13.1,323.4,99.457124,2,Jul
9412,19,1,0.0,1016,21,47.302,-114.482,63.9,349.8,98.722833,2,Jul
9413,23,3,0.0,1012,24,47.305,-114.474,14.6,312.3,99.165422,9,Jul
9414,23,3,0.0,1012,24,47.303,-114.491,6.8,304.2,98.706937,9,Jul
...,...,...,...,...,...,...,...,...,...,...,...,...
9818,17,2,0.0,1011,19,46.395,-115.073,23.7,319.2,27.045982,39,Sep
9819,17,2,0.0,1011,19,46.439,-114.672,9.8,304.9,4.109982,39,Sep
9820,17,2,0.0,1011,19,46.587,-113.779,10.2,305.6,74.420518,39,Sep
9821,17,2,0.0,1011,19,45.774,-115.168,32.2,325.5,80.602012,39,Sep
9822,7,4,0.0,1029,10,46.828,-115.853,19.7,304.6,96.934956,1,Sep

In [39]:
new_la  = pd.get_dummies(df, prefix=['month'])
new_la

,Temperature,Wind Speed,Precipitation,Pressure,Heat Index,Latitude,Longitude,Fire Intensity,Brightness,dist,Fire Count,month_Aug,month_Jul,month_Sep
9410,9,10,0.0,1013,11,46.520,-114.119,4.1,308.5,47.412211,1,0,1,0
9411,19,1,0.0,1016,21,47.307,-114.469,13.1,323.4,99.457124,2,0,1,0
9412,19,1,0.0,1016,21,47.302,-114.482,63.9,349.8,98.722833,2,0,1,0
9413,23,3,0.0,1012,24,47.305,-114.474,14.6,312.3,99.165422,9,0,1,0
9414,23,3,0.0,1012,24,47.303,-114.491,6.8,304.2,98.706937,9,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9818,17,2,0.0,1011,19,46.395,-115.073,23.7,319.2,27.045982,39,0,0,1
9819,17,2,0.0,1011,19,46.439,-114.672,9.8,304.9,4.109982,39,0,0,1
9820,17,2,0.0,1011,19,46.587,-113.779,10.2,305.6,74.420518,39,0,0,1
9821,17,2,0.0,1011,19,45.774,-115.168,32.2,325.5,80.602012,39,0,0,1
9822,7,4,0.0,1029,10,46.828,-115.853,19.7,304.6,96.934956,1,0,0,1

In [40]:
new_la['month_October']=0
new_la['month_November']=0
new_la['month_December']=0
new_la['month_January']=0
new_la['month_February']=0
new_la['month_March']=0
new_la['month_April']=0
new_la['month_May']=0
new_la['month_June']=0
new_la

,Temperature,Wind Speed,Precipitation,Pressure,Heat Index,Latitude,Longitude,Fire Intensity,Brightness,dist,...,month_Sep,month_October,month_November,month_December,month_January,month_February,month_March,month_April,month_May,month_June
9410,9,10,0.0,1013,11,46.520,-114.119,4.1,308.5,47.412211,...,0,0,0,0,0,0,0,0,0,0
9411,19,1,0.0,1016,21,47.307,-114.469,13.1,323.4,99.457124,...,0,0,0,0,0,0,0,0,0,0
9412,19,1,0.0,1016,21,47.302,-114.482,63.9,349.8,98.722833,...,0,0,0,0,0,0,0,0,0,0
9413,23,3,0.0,1012,24,47.305,-114.474,14.6,312.3,99.165422,...,0,0,0,0,0,0,0,0,0,0
9414,23,3,0.0,1012,24,47.303,-114.491,6.8,304.2,98.706937,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9818,17,2,0.0,1011,19,46.395,-115.073,23.7,319.2,27.045982,...,1,0,0,0,0,0,0,0,0,0
9819,17,2,0.0,1011,19,46.439,-114.672,9.8,304.9,4.109982,...,1,0,0,0,0,0,0,0,0,0
9820,17,2,0.0,1011,19,46.587,-113.779,10.2,305.6,74.420518,...,1,0,0,0,0,0,0,0,0,0
9821,17,2,0.0,1011,19,45.774,-115.168,32.2,325.5,80.602012,...,1,0,0,0,0,0,0,0,0,0
9822,7,4,0.0,1029,10,46.828,-115.853,19.7,304.6,96.934956,...,1,0,0,0,0,0,0,0,0,0

## PREDICTION
(i should really have split the dataset lol)

In [41]:
#predict FRP values
X_new_fire=new_la.drop("Fire Intensity", axis=1)
new_fire=model.predict(X_new_fire)
len(new_fire)

413

In [42]:
new_fire

array([[-8.77498695e+00],
       [ 4.75544061e+01],
       [ 2.06409704e+02],
       [-1.71428618e+01],
       [-6.59523561e+01],
       [-8.69367542e+01],
       [ 8.16332479e+01],
       [ 3.39325570e+02],
       [ 3.61938241e+02],
       [ 4.33064366e+02],
       [ 3.95773976e+02],
       [ 1.94558050e+02],
       [ 2.43447832e+01],
       [ 1.41236825e+01],
       [-1.10987299e+01],
       [ 2.59869152e+02],
       [-4.63240721e+01],
       [ 2.28379307e+01],
       [ 1.52841488e+02],
       [-2.78464416e+00],
       [-3.25703777e+01],
       [ 1.22114988e+02],
       [-7.14856415e+01],
       [-6.59964613e+01],
       [-6.02941405e+01],
       [-6.59533330e+01],
       [ 9.78927202e+01],
       [ 2.20585462e+02],
       [ 1.43207137e+02],
       [ 1.19790759e+02],
       [ 1.31847947e+02],
       [ 9.29730300e+01],
       [ 1.92898597e+02],
       [-6.95482724e+01],
       [-1.30115399e+01],
       [-6.55391101e+01],
       [-5.06508976e+01],
       [ 3.46023750e+01],
       [-2.76477264e+01],
       [ 3.09922896e+01],
       [ 6.85066406e+01],
       [ 3.85434665e+01],
       [ 2.61776364e+02],
       [ 2.91984278e+02],
       [ 2.67883480e+01],
       [ 2.56150158e+02],
       [ 3.53140044e+02],
       [ 1.13093696e+02],
       [ 8.61384732e+01],
       [-5.86897615e+01],
       [ 2.04736068e+01],
       [ 9.44809460e+01],
       [ 9.23867969e+01],
       [ 1.74973859e+01],
       [-3.00371810e+01],
       [-3.60818984e+01],
       [-9.53694536e+01],
       [ 2.01642430e+01],
       [ 9.34568706e+01],
       [ 1.03789289e+02],
       [ 1.00969341e+02],
       [-1.51309503e+01],
       [ 9.61814772e+01],
       [-4.46870224e+01],
       [-1.94454351e+01],
       [-1.64659078e+01],
       [-5.76204734e+01],
       [ 5.97075737e+01],
       [-7.07585117e+00],
       [-1.32436148e+01],
       [-4.97770835e+01],
       [-7.59796936e+01],
       [-5.16202001e+01],
       [-5.14274532e+01],
       [-7.76276916e+01],
       [-4.83443713e+01],
       [-1.67782243e+01],
       [-4.50869501e+01],
       [-4.03638833e+01],
       [-2.80954084e+01],
       [ 2.57677907e+01],
       [ 5.91149002e+01],
       [ 2.30355828e+01],
       [ 1.35570154e+02],
       [ 1.11022405e+02],
       [ 2.15131656e+01],
       [ 1.02807759e+02],
       [ 1.56351519e+02],
       [ 1.90053829e+02],
       [ 1.42891343e+02],
       [ 2.56639471e+02],
       [ 2.64458382e+02],
       [ 1.31490841e+02],
       [ 8.60444791e+01],
       [-6.51521184e+01],
       [ 6.27961612e+01],
       [ 3.32803934e+01],
       [-3.99855842e+01],
       [ 5.10486101e+01],
       [ 1.13722066e+02],
       [ 6.22163770e+00],
       [ 5.52919088e+01],
       [ 2.23001549e+01],
       [ 6.37775905e+01],
       [ 7.85159130e+01],
       [ 1.08916679e+02],
       [ 4.43775790e+01],
       [ 8.60700323e+01],
       [ 1.11287103e+02],
       [ 6.23951535e+01],
       [ 2.43973470e+02],
       [ 2.41907958e+02],
       [ 9.68461271e+01],
       [-4.08135567e+01],
       [-3.48545984e+01],
       [-4.53578752e+01],
       [-4.47464389e+01],
       [-4.43233178e+01],
       [ 5.76484399e+01],
       [ 9.34691165e+01],
       [-6.49598160e+01],
       [-5.63280550e+01],
       [ 8.65393230e+01],
       [-1.96039175e+01],
       [-3.21387705e+00],
       [ 7.58302820e+01],
       [ 1.58931675e+02],
       [ 8.20377046e+01],
       [ 6.79255130e+01],
       [ 1.93525659e+02],
       [ 1.18448030e+02],
       [ 2.46430479e+02],
       [ 2.39785226e+01],
       [ 6.63662510e+01],
       [ 7.05860683e+01],
       [ 1.08555593e+02],
       [ 1.49458966e+02],
       [ 6.02119425e+01],
       [ 8.18566065e+01],
       [ 8.05513331e+01],
       [ 3.13846607e+02],
       [ 9.91885187e+00],
       [ 3.39646457e+02],
       [ 3.40298133e+00],
       [ 9.01361711e+01],
       [-1.27939416e+01],
       [ 5.13018788e+01],
       [-1.64019664e+01],
       [ 3.86969057e+01],
       [-3.01324829e+01],
       [ 3.90085618e+01],
       [ 4.65006581e+01],
       [-2.07609552e+01],
       [ 8.42200308e+00],
       [ 1.22069691e+02],
       [ 1.09869751e+01],
       [-3.13198063e+01],
       [ 1.01927979e+01],
       [-2.81579172e+01],
       [-2.56796798e+01],
       [ 2.76644366e+01],
       [ 3.28744061e+02],
       [ 5.60034572e+01],
       [ 1.00524197e+02],
       [ 5.83324951e+01],
       [ 1.11468552e+01],
       [ 2.14536774e+01],
       [-3.56124283e+01],
       [ 2.09816408e+01],
       [-4.17278270e+01],
       [ 5.29765656e+01],
       [ 3.25312784e+01],
       [ 4.30937705e+01],
       [ 5.71927195e+01],
       [ 2.65061612e+01],
       [ 2.19348313e+01],
       [-7.14723886e+01],
       [-4.06504872e+01],
       [-3.65077830e+01],
       [ 1.12599842e+01],
       [ 8.61778231e+01],
       [ 1.82367532e+01],
       [-9.96476122e+00],
       [ 2.31411400e+02],
       [ 1.37240344e+02],
       [ 3.65270005e+02],
       [ 1.02663095e+02],
       [ 4.68110625e+01],
       [ 2.75466768e+01],
       [ 1.75267966e+02],
       [ 1.25931505e+02],
       [ 1.80994656e+02],
       [ 3.09181421e+02],
       [ 3.74164535e+02],
       [ 2.46316312e+02],
       [ 3.81695044e+02],
       [ 2.24272002e+01],
       [-1.48032883e+01],
       [-3.31247637e+01],
       [ 6.89892533e+01],
       [ 1.38853363e+02],
       [-4.79877285e+01],
       [-2.99507611e+00],
       [ 1.02063560e+01],
       [-2.06989395e+01],
       [ 5.08161550e+01],
       [ 8.11234100e-01],
       [ 7.52052684e+00],
       [ 5.90590048e+00],
       [-7.07079649e+00],
       [-1.33980108e+00],
       [-2.98461656e+00],
       [-1.20975029e+01],
       [ 2.94817783e+01],
       [-3.34531298e+00],
       [ 7.27746947e+01],
       [ 5.11740027e+02],
       [ 4.58722919e+02],
       [ 6.45823156e+01],
       [ 2.35984964e+02],
       [ 6.26685892e+01],
       [ 2.06637857e+02],
       [ 1.45371877e+02],
       [-1.98429232e+01],
       [-2.20233196e+01],
       [-4.36234071e+01],
       [-5.92575835e+01],
       [-1.55529025e+01],
       [-4.70549680e+01],
       [-4.59927859e+01],
       [ 1.66228082e+00],
       [ 1.35793596e+01],
       [ 6.96035634e+01],
       [ 1.56506596e+02],
       [ 1.00428451e+02],
       [ 6.17994512e+01],
       [ 8.27178879e+01],
       [-9.11978845e+00],
       [-2.66595689e+01],
       [ 2.86912211e+01],
       [ 4.24978820e+01],
       [-4.32908095e-03],
       [ 7.17474769e+01],
       [ 1.79724558e+02],
       [ 7.30955755e+01],
       [ 8.08659926e+01],
       [ 2.03815702e+02],
       [ 1.53962352e+02],
       [ 2.22847130e+02],
       [ 1.53927544e+02],
       [ 4.22290732e+02],
       [ 1.53050086e+02],
       [ 1.57111165e+02],
       [-3.10290266e+01],
       [ 1.39523134e+02],
       [ 6.05950652e+01],
       [ 1.16107502e+02],
       [ 6.97996611e+00],
       [-2.69477605e+01],
       [-3.80631662e+01],
       [ 2.25641636e+01],
       [ 2.19021341e+02],
       [ 1.23927569e+02],
       [ 4.39024180e+01],
       [ 8.51358562e+01],
       [ 1.06763153e+02],
       [ 2.96921159e+01],
       [ 9.60226815e+01],
       [ 1.98336370e+01],
       [ 4.63182743e+01],
       [ 2.55265597e+01],
       [ 7.00362279e+01],
       [-4.21879664e+01],
       [-5.67585478e+01],
       [ 4.00044657e+01],
       [-1.33770671e+01],
       [ 1.35718241e+02],
       [-5.57742874e+01],
       [-5.07515607e+01],
       [-3.81096403e+01],
       [-1.17529348e+01],
       [-7.52863220e+01],
       [-6.29001758e+01],
       [ 1.17207543e+02],
       [ 4.61332576e+00],
       [ 5.55027205e+01],
       [ 2.85505099e+01],
       [-7.36578688e+01],
       [-1.76446461e+01],
       [ 6.05672448e+00],
       [-5.51425678e+01],
       [ 2.27221706e+01],
       [-9.21187528e+00],
       [-5.69855069e+01],
       [ 6.97320189e+01],
       [ 9.08687884e+01],
       [-1.24228961e+01],
       [ 1.81892718e+01],
       [ 8.98864861e+01],
       [ 1.03186584e+02],
       [ 2.62154412e+01],
       [-6.29157784e+01],
       [-5.96720345e+01],
       [-2.77030413e+01],
       [-8.19548346e+01],
       [ 1.08328882e+02],
       [-1.88175921e+01],
       [-3.22213740e+01],
       [ 1.44178126e+02],
       [ 8.91895618e+01],
       [ 1.74104179e+01],
       [-1.22371893e+01],
       [-3.61625353e+00],
       [ 2.92386986e+00],
       [-8.46826019e+00],
       [-1.37364919e+01],
       [ 5.14458496e+01],
       [ 7.82421280e+01],
       [ 8.91080331e+01],
       [-1.75571727e+01],
       [ 6.92732079e+01],
       [ 2.07383184e+02],
       [ 6.93222611e+01],
       [ 8.28479293e+01],
       [ 2.08591393e+02],
       [ 1.47612018e+02],
       [ 1.08518542e+02],
       [ 1.43721985e+02],
       [ 5.64605237e+01],
       [ 3.22365945e+01],
       [-1.72931560e+00],
       [ 3.96906877e+00],
       [ 1.13189137e+02],
       [ 8.18017548e+00],
       [ 7.58238302e+01],
       [ 2.93781145e+02],
       [ 4.60442676e+01],
       [ 5.32542053e+01],
       [ 8.74552762e+01],
       [-2.77097490e+01],
       [ 1.15416557e+01],
       [ 4.49567657e+00],
       [ 8.85849117e+00],
       [ 3.05009269e+00],
       [ 6.04822695e+01],
       [-3.98942187e+01],
       [ 8.70200114e+01],
       [-1.81795002e+01],
       [ 9.95313984e+01],
       [-4.73947593e+01],
       [ 7.82229503e+01],
       [ 1.83681625e+02],
       [ 6.14253543e+01],
       [ 7.15008637e+00],
       [ 5.12909287e+01],
       [-9.98139149e+00],
       [ 5.80872037e+01],
       [ 1.83902877e+02],
       [ 2.21556281e+02],
       [ 1.56710318e+02],
       [-5.23883546e+01],
       [ 1.68817378e+01],
       [ 1.07914023e+02],
       [-3.78290952e+01],
       [ 1.10898776e+02],
       [ 6.32998797e+01],
       [ 1.24265161e+02],
       [ 1.05084599e+02],
       [ 1.78889603e+02],
       [ 5.55894992e+01],
       [-3.66163063e+01],
       [ 2.64410826e+01],
       [-3.62856774e+01],
       [ 9.85319783e+01],
       [-3.01947969e+00],
       [ 2.30210592e+01],
       [ 1.98132686e+02],
       [-7.42026321e+01],
       [-1.61564879e+01],
       [-2.26884901e+01],
       [-2.93425541e+01],
       [ 3.50694496e+01],
       [ 1.46979363e+02],
       [ 1.50903213e+02],
       [-4.20230378e+01],
       [-6.57286677e+01],
       [ 8.92364579e+01],
       [ 2.60384998e+01],
       [-3.67861029e+01],
       [-4.19711082e+01],
       [ 1.52110892e+01],
       [ 1.76669165e+02],
       [ 2.79789009e+01],
       [ 3.75253089e+01],
       [ 2.80960513e+01],
       [-1.88706627e+01],
       [ 8.43749429e+01],
       [-5.23400833e+01],
       [-5.61929016e+01],
       [ 3.37528531e+01],
       [-3.21651552e+01],
       [ 1.13923292e+00],
       [-6.98696561e+01],
       [-1.94623157e+01],
       [-5.26294028e+01],
       [ 2.63172345e+02],
       [ 4.87142407e+01],
       [-7.78258643e+01],
       [ 1.86666309e+01],
       [-6.71906660e+01],
       [-5.79398888e+01],
       [ 7.45205706e+01],
       [-5.86449993e+01]])

In [43]:
new_fire_list=[]
for i in range(len(new_fire)):
    new_fire_list.append(new_fire[i][0])
new_fire_list

[-8.774986947455659,
 47.55440612011785,
 206.4097041386019,
 -17.14286176560654,
 -65.95235611037515,
 -86.93675418787359,
 81.63324794078608,
 339.3255702721599,
 361.93824143785105,
 433.0643658517711,
 395.7739758237303,
 194.55804964585286,
 24.344783161277405,
 14.123682504977069,
 -11.098729945905575,
 259.8691522065226,
 -46.324072118552294,
 22.837930737673332,
 152.84148756446803,
 -2.784644163046437,
 -32.57037770846557,
 122.11498812940044,
 -71.48564145565877,
 -65.99646130978817,
 -60.29414045458395,
 -65.95333297696016,
 97.89272022802311,
 220.58546158784816,
 143.2071369984253,
 119.79075920174,
 131.8479469679421,
 92.97303002000183,
 192.89859687652392,
 -69.54827243806824,
 -13.011539855012984,
 -65.53911012335539,
 -50.65089760355886,
 34.60237497825324,
 -27.647726433505227,
 30.992289563290115,
 68.50664058291454,
 38.54346646887939,
 261.7763640105443,
 291.98427812416503,
 26.788347995561367,
 256.15015771517915,
 353.1400438985386,
 113.09369575369283,
 86.13847324459414,
 -58.68976150217361,
 20.473606783285618,
 94.48094604019138,
 92.3867969138031,
 17.497385850460432,
 -30.037181047307627,
 -36.08189840898717,
 -95.3694536420212,
 20.16424295818922,
 93.45687055741644,
 103.78928850972557,
 100.96934087176987,
 -15.130950320151214,
 96.18147723440529,
 -44.68702241619894,
 -19.445435109192545,
 -16.46590783418219,
 -57.620473379435,
 59.70757372243088,
 -7.075851165448967,
 -13.24361484790802,
 -49.77708350062812,
 -75.97969358963144,
 -51.62020013149731,
 -51.427453244596904,
 -77.6276916443536,
 -48.344371304039555,
 -16.778224279779806,
 -45.086950086768184,
 -40.36388331271917,
 -28.095408433182,
 25.76779069331849,
 59.11490017285007,
 23.0355828280301,
 135.5701542637105,
 111.02240497633306,
 21.513165593715712,
 102.80775922139082,
 156.3515188289232,
 190.05382862353713,
 142.8913434802239,
 256.63947115299834,
 264.45838212003355,
 131.49084081426122,
 86.04447912212117,
 -65.15211835926868,
 62.79616115142335,
 33.28039338168412,
 -39.98558424749774,
 51.04861008122293,
 113.72206641047615,
 6.221637702643534,
 55.291908758255886,
 22.300154854099446,
 63.77759049447354,
 78.51591296050867,
 108.91667934570864,
 44.37757901721341,
 86.070032303311,
 111.28710258214687,
 62.39515354247544,
 243.97346964521944,
 241.9079584836859,
 96.8461270532141,
 -40.81355672839186,
 -34.85459835696156,
 -45.357875226074384,
 -44.74643890831442,
 -44.323317768261745,
 57.64843994110538,
 93.4691165324682,
 -64.95981601636697,
 -56.32805504983446,
 86.53932298994005,
 -19.60391751011207,
 -3.2138770454705536,
 75.8302820088013,
 158.9316754135641,
 82.03770460921783,
 67.92551298999592,
 193.52565928546755,
 118.44802982047713,
 246.43047940065458,
 23.97852263432401,
 66.36625096264618,
 70.5860682859128,
 108.55559261296344,
 149.45896577501617,
 60.21194252497037,
 81.85660652687795,
 80.55133308774543,
 313.8466069678541,
 9.918851874176312,
 339.6464566637303,
 3.4029813349920914,
 90.13617111792996,
 -12.793941572443032,
 51.30187883863107,
 -16.40196641388286,
 38.69690574012884,
 -30.132482892725534,
 39.008561751851175,
 46.50065808175043,
 -20.760955216886373,
 8.42200307789517,
 122.06969068486956,
 10.986975053939545,
 -31.319806265834245,
 10.192797904612803,
 -28.157917205455192,
 -25.679679808985043,
 27.664436606079562,
 328.7440608185316,
 56.00345719955533,
 100.52419737144987,
 58.332495090871475,
 11.14685517197347,
 21.453677427102548,
 -35.61242826808518,
 20.981640786797243,
 -41.727826986105924,
 52.976565610050784,
 32.53127843629534,
 43.093770498361664,
 57.19271949818858,
 26.50616124911039,
 21.934831293231127,
 -71.47238858307321,
 -40.650487176869774,
 -36.50778301875846,
 11.259984240156427,
 86.17782308964809,
 18.236753248705668,
 -9.964761219259913,
 231.4113995248024,
 137.24034400513324,
 365.27000546100203,
 102.66309450414224,
 46.81106254181407,
 27.546676755922704,
 175.2679656529349,
 125.93150519332039,
 180.99465563809486,
 309.1814212491727,
 374.16453452434666,
 246.31631203185157,
 381.69504413852815,
 22.427200215990865,
 -14.8032883062981,
 -33.1247636793629,
 68.98925328911685,
 138.85336311238711,
 -47.98772850596663,
 -2.9950761116336935,
 10.206355989411122,
 -20.698939520421163,
 50.81615499963948,
 0.8112340998040963,
 7.520526839094487,
 5.905900478257536,
 -7.070796486560539,
 -1.3398010786597752,
 -2.9846165572960217,
 -12.09750294689377,
 29.481778344674353,
 -3.3453129810195605,
 72.7746946964495,
 511.74002703908695,
 458.7229192903792,
 64.58231557230408,
 235.98496376808657,
 62.66858922085612,
 206.63785723296087,
 145.37187654919376,
 -19.84292324544515,
 -22.02331960917104,
 -43.62340711030902,
 -59.25758351708885,
 -15.55290246558934,
 -47.05496795413649,
 -45.992785925133376,
 1.6622808197228096,
 13.57935957202551,
 69.60356344495403,
 156.50659554159483,
 100.42845123826464,
 61.799451185499834,
 82.71788794041345,
 -9.119788453343517,
 -26.659568904788784,
 28.691221099756945,
 42.49788198617807,
 -0.004329080952629738,
 71.74747694042082,
 179.72455826146552,
 73.09557552198874,
 80.86599260299067,
 203.81570211816916,
 153.9623524419128,
 222.84712982351994,
 153.92754368237797,
 422.29073218685335,
 153.05008637311107,
 157.11116521054555,
 -31.029026613627252,
 139.52313448292762,
 60.59506515071223,
 116.10750203103453,
 6.97996610535904,
 -26.947760473957942,
 -38.0631661752908,
 22.564163588815745,
 219.0213407967185,
 123.9275694258215,
 43.90241797863882,
 85.13585616598073,
 106.76315297530823,
 29.692115870605903,
 96.02268147130621,
 19.833637036402706,
 46.318274253908726,
 25.52655972293917,
 70.03622788949792,
 -42.18796638245226,
 -56.75854784728335,
 40.004465681926945,
 -13.377067082586336,
 135.71824133589212,
 -55.774287373436096,
 -50.751560737363775,
 -38.10964027845307,
 -11.752934841356023,
 -75.28632203398524,
 -62.9001758101266,
 117.20754320719652,
 4.613325762451495,
 55.50272051086256,
 28.55050986305912,
 -73.65786882609609,
 -17.64464607397815,
 6.056724476923819,
 -55.1425677817723,
 22.722170609374984,
 -9.211875283294148,
 -56.98550687534021,
 69.73201888091023,
 90.86878838567611,
 -12.422896075247195,
 18.189271811721483,
 89.88648607592052,
 103.18658374928896,
 26.215441217571538,
 -62.91577840310799,
 -59.6720345095174,
 -27.70304128455814,
 -81.95483455093745,
 108.32888165535724,
 -18.817592101951732,
 -32.22137397656343,
 144.17812583092746,
 89.1895618018633,
 17.410417901429128,
 -12.237189331201876,
 -3.616253526566311,
 2.923869862884544,
 -8.468260190777983,
 -13.73649194789607,
 51.4458496444056,
 78.2421280205948,
 89.10803307599815,
 -17.557172738250983,
 69.27320793678985,
 207.3831840217099,
 69.32226112413593,
 82.84792925039642,
 208.5913925312991,
 147.6120176816985,
 108.51854164877909,
 143.72198513718467,
 56.46052367084053,
 32.23659453240248,
 -1.7293155975896752,
 3.9690687668057762,
 113.1891366459381,
 8.180175476913632,
 75.82383017860707,
 293.7811450804131,
 46.04426759564183,
 53.25420530924248,
 87.4552761739933,
 -27.709748961152968,
 11.541655717377012,
 4.495676569607667,
 8.858491172504387,
 3.050092694768864,
 60.482269450392096,
 -39.894218725232804,
 87.02001142819859,
 -18.179500213049096,
 99.53139836206446,
 -47.39475932882044,
 78.2229503122802,
 183.68162463364365,
 61.4253542750572,
 7.15008637347205,
 51.29092870385796,
 -9.981391487362089,
 58.087203725758854,
 183.9028770647592,
 221.55628131988715,
 156.71031824971942,
 -52.388354590051904,
 16.88173779838064,
 107.9140234931765,
 -37.829095238771174,
 110.8987760839982,
 63.29987971359651,
 124.26516086949346,
 105.0845990410703,
 178.88960345549935,
 55.58949923682724,
 -36.61630633552397,
 26.441082560903396,
 -36.28567737521735,
 98.53197828925477,
 -3.0194796863105466,
 23.021059190054416,
 198.1326864456894,
 -74.2026321132912,
 -16.156487879550923,
 -22.688490136568817,
 -29.342554142080417,
 35.06944955750487,
 146.97936349938823,
 150.9032130871908,
 -42.023037846505645,
 -65.72866769959478,
 89.23645792079503,
 26.03849977005325,
 -36.786102908309886,
 -41.971108173148764,
 15.21108915020443,
 176.6691650875748,
 27.97890093124829,
 37.52530891369065,
 28.096051320491256,
 -18.87066265849785,
 84.3749429250289,
 -52.34008326091907,
 -56.19290161344486,
 33.752853063448924,
 -32.16515519574466,
 1.1392329228954168,
 -69.86965608698756,
 -19.46231574954288,
 -52.62940282369084,
 263.17234537437025,
 48.714240659483266,
 -77.82586428676416,
 18.666630925877257,
 -67.19066604808427,
 -57.93988878118296,
 74.52057058734852,
 -58.64499933627383]

In [44]:
# prediciton data farme
predict_df=pd.DataFrame({'Fire Intensity': new_fire_list})
f=predict_df

In [45]:
new_dates = pd.date_range(start='2020-10-01', end='2020-11-30', freq='D')
print(new_dates)
print(len(new_dates))

DatetimeIndex(['2020-10-01', '2020-10-02', '2020-10-03', '2020-10-04',
               '2020-10-05', '2020-10-06', '2020-10-07', '2020-10-08',
               '2020-10-09', '2020-10-10', '2020-10-11', '2020-10-12',
               '2020-10-13', '2020-10-14', '2020-10-15', '2020-10-16',
               '2020-10-17', '2020-10-18', '2020-10-19', '2020-10-20',
               '2020-10-21', '2020-10-22', '2020-10-23', '2020-10-24',
               '2020-10-25', '2020-10-26', '2020-10-27', '2020-10-28',
               '2020-10-29', '2020-10-30', '2020-10-31', '2020-11-01',
               '2020-11-02', '2020-11-03', '2020-11-04', '2020-11-05',
               '2020-11-06', '2020-11-07', '2020-11-08', '2020-11-09',
               '2020-11-10', '2020-11-11', '2020-11-12', '2020-11-13',
               '2020-11-14', '2020-11-15', '2020-11-16', '2020-11-17',
               '2020-11-18', '2020-11-19', '2020-11-20', '2020-11-21',
               '2020-11-22', '2020-11-23', '2020-11-24', '2020-11-25',
               '2020-11-26', '2020-11-27', '2020-11-28', '2020-11-29',
               '2020-11-30'],
              dtype='datetime64[ns]', freq='D')
61

In [46]:
predict_df = f.head(len(new_dates))
predict_df['Dates']=list(new_dates)

/home/pseudocodenerd/anaconda3/envs/torch/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [675]:
f['Dates']=list(new_dates)[:61]

In [51]:
predict_df['Fire Intensity'] = predict_df['Fire Intensity'].abs()

/home/pseudocodenerd/anaconda3/envs/torch/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [52]:
predict_df

    Fire Intensity      Dates
0         8.774987 2020-10-01
1        47.554406 2020-10-02
2       206.409704 2020-10-03
3        17.142862 2020-10-04
4        65.952356 2020-10-05
..             ...        ...
56       95.369454 2020-11-26
57       20.164243 2020-11-27
58       93.456871 2020-11-28
59      103.789289 2020-11-29
60      100.969341 2020-11-30

[61 rows x 2 columns]

In [53]:
predict_df.to_csv('yellowstone_ke_around_afaik_61D.csv')