## PHOENIX MODEL

In [2]:
import pandas as pd
prev_la_weather = pd.read_csv('Denver.csv')
prev_la_weather.head()

,Unnamed: 0,Dates,Temperature,Wind Speed,Precipitation,Pressure,Heat Index
0,0,2016-01-01,-11,3,0.0,1034,2
1,1,2016-01-02,-7,3,0.0,1029,2
2,2,2016-01-03,-4,3,0.0,1026,5
3,3,2016-01-04,-5,8,0.0,1022,1
4,4,2016-01-05,-2,3,0.0,1011,5

In [3]:
prev_la_weather.tail()

,Unnamed: 0,Dates,Temperature,Wind Speed,Precipitation,Pressure,Heat Index
1730,1730,2020-09-26,26,10,0.0,1008,28
1731,1731,2020-09-27,14,14,0.0,1018,12
1732,1732,2020-09-28,13,13,0.0,1028,14
1733,1733,2020-09-29,23,6,0.0,1020,24
1734,1734,2020-09-30,21,7,0.0,1023,22

In [4]:
start_dates=['2015-03-01', '2015-04-01', '2015-05-01', '2015-06-01', '2015-07-01', '2015-08-01', '2015-09-01', '2015-10-01', '2015-11-01', '2015-12-01']
end_dates=['2015-03-31', '2015-04-30', '2015-05-31', '2015-06-30', '2015-07-31', '2015-08-31', '2015-09-30', '2015-10-31', '2015-11-30', '2015-12-31']

In [5]:
import requests
def get_weather(city):
    city_dat = []
    dates, temp, wind, precip, pressure, heat = [], [] ,[], [], [], []
    for i in range(len(start_dates)):
        res_str = f'http://api.worldweatheronline.com/premium/v1/past-weather.ashx?key=7b7c4ad8a29e48c3a51114119200310&q={city}&format=json&date={start_dates[i]}&enddate={end_dates[i]}'
        city_dat.append(res_str)
#     print(city_dat[0])
        res = requests.get(res_str).json()['data']['weather']
        for j in range(len(res)):
            dates.append(res[j]['date'])
            temp.append(res[j]['avgtempC'])
            wind.append(res[j]['hourly'][4]['windspeedKmph'])
            precip.append(res[j]['hourly'][4]['precipMM'])
            pressure.append(res[j]['hourly'][4]['pressure'])
            heat.append(res[j]['hourly'][4]['HeatIndexC'])
    city_df = pd.DataFrame({
        "Dates":dates,
        "Temperature": temp,
        "Wind Speed": wind,
        "Precipitation": precip,
        "Pressure": pressure,
        "Heat Index": heat
    })
    city_df.to_csv(f'{city}.csv')
    print("OK")

In [6]:
get_weather('Denver')

OK

In [7]:
new_la_weather = pd.read_csv('Denver.csv')

In [8]:
new_la_weather.head()

,Unnamed: 0,Dates,Temperature,Wind Speed,Precipitation,Pressure,Heat Index
0,0,2015-03-01,-8,10,0.0,1024,-4
1,1,2015-03-02,-3,3,0.0,1011,1
2,2,2015-03-03,-7,13,0.0,1014,-7
3,3,2015-03-04,-11,12,0.0,1028,-10
4,4,2015-03-05,-7,4,0.0,1028,3

In [9]:
final_la_weather = pd.concat([new_la_weather,prev_la_weather])
final_la_weather

,Unnamed: 0,Dates,Temperature,Wind Speed,Precipitation,Pressure,Heat Index
0,0,2015-03-01,-8,10,0.0,1024,-4
1,1,2015-03-02,-3,3,0.0,1011,1
2,2,2015-03-03,-7,13,0.0,1014,-7
3,3,2015-03-04,-11,12,0.0,1028,-10
4,4,2015-03-05,-7,4,0.0,1028,3
...,...,...,...,...,...,...,...
1730,1730,2020-09-26,26,10,0.0,1008,28
1731,1731,2020-09-27,14,14,0.0,1018,12
1732,1732,2020-09-28,13,13,0.0,1028,14
1733,1733,2020-09-29,23,6,0.0,1020,24
1734,1734,2020-09-30,21,7,0.0,1023,22

In [10]:
final_la_weather.to_csv('final_la_weather.csv')

---
## WEATHER COMPLETE, LA FIRE TIME

In [51]:
final_la_fire = pd.read_csv('la_fire_data.csv')

In [52]:
final_la_fire

,Unnamed: 0,Unnamed: 0.1,Latitude,Longitude,Date,Fire Intensity,Brightness,dist
0,2963,2963,40.3346,-104.7054,2015-03-12,3.4,304.6,117.499627
1,3282,3282,39.5742,-107.6571,2015-03-14,5.4,310.2,149.518364
2,4216,4216,40.1519,-104.8187,2015-03-16,13.4,315.4,101.337074
3,4280,4280,39.8691,-106.1243,2015-03-17,12.7,305.3,14.387188
4,5020,5020,39.2521,-107.2014,2015-03-17,96.7,332.4,128.014322
...,...,...,...,...,...,...,...,...
5693,752179,70625,41.0270,-106.3750,2020-09-30,15154.8,501.8,131.417468
5694,752183,70629,41.0490,-106.2240,2020-09-30,643.6,355.7,130.983617
5695,752201,70647,41.0480,-106.2690,2020-09-30,1643.9,386.3,131.583010
5696,752202,70648,41.0640,-106.3250,2020-09-30,416.7,346.2,134.342615
5697,752208,70654,41.1480,-106.5000,2020-09-30,517.0,350.8,147.357363

In [53]:
# remove unnamed columns
df = final_la_fire
df = df.loc[:, ~df.columns.str.contains('^Unnamed')].drop(columns=['Latitude', 'Longitude'])
df

            Date  Fire Intensity  Brightness        dist
0     2015-03-12             3.4       304.6  117.499627
1     2015-03-14             5.4       310.2  149.518364
2     2015-03-16            13.4       315.4  101.337074
3     2015-03-17            12.7       305.3   14.387188
4     2015-03-17            96.7       332.4  128.014322
...          ...             ...         ...         ...
5693  2020-09-30         15154.8       501.8  131.417468
5694  2020-09-30           643.6       355.7  130.983617
5695  2020-09-30          1643.9       386.3  131.583010
5696  2020-09-30           416.7       346.2  134.342615
5697  2020-09-30           517.0       350.8  147.357363

[5698 rows x 4 columns]

In [54]:
# reassign to good var name
final_la_fire = df
final_la_fire = final_la_fire.rename(columns={'Date':"Dates"})
final_la_fire

           Dates  Fire Intensity  Brightness        dist
0     2015-03-12             3.4       304.6  117.499627
1     2015-03-14             5.4       310.2  149.518364
2     2015-03-16            13.4       315.4  101.337074
3     2015-03-17            12.7       305.3   14.387188
4     2015-03-17            96.7       332.4  128.014322
...          ...             ...         ...         ...
5693  2020-09-30         15154.8       501.8  131.417468
5694  2020-09-30           643.6       355.7  130.983617
5695  2020-09-30          1643.9       386.3  131.583010
5696  2020-09-30           416.7       346.2  134.342615
5697  2020-09-30           517.0       350.8  147.357363

[5698 rows x 4 columns]

In [55]:
final_la_weather

,Unnamed: 0,Dates,Temperature,Wind Speed,Precipitation,Pressure,Heat Index
0,0,2015-03-01,-8,10,0.0,1024,-4
1,1,2015-03-02,-3,3,0.0,1011,1
2,2,2015-03-03,-7,13,0.0,1014,-7
3,3,2015-03-04,-11,12,0.0,1028,-10
4,4,2015-03-05,-7,4,0.0,1028,3
...,...,...,...,...,...,...,...
1730,1730,2020-09-26,26,10,0.0,1008,28
1731,1731,2020-09-27,14,14,0.0,1018,12
1732,1732,2020-09-28,13,13,0.0,1028,14
1733,1733,2020-09-29,23,6,0.0,1020,24
1734,1734,2020-09-30,21,7,0.0,1023,22

In [56]:
final_la_fire

           Dates  Fire Intensity  Brightness        dist
0     2015-03-12             3.4       304.6  117.499627
1     2015-03-14             5.4       310.2  149.518364
2     2015-03-16            13.4       315.4  101.337074
3     2015-03-17            12.7       305.3   14.387188
4     2015-03-17            96.7       332.4  128.014322
...          ...             ...         ...         ...
5693  2020-09-30         15154.8       501.8  131.417468
5694  2020-09-30           643.6       355.7  130.983617
5695  2020-09-30          1643.9       386.3  131.583010
5696  2020-09-30           416.7       346.2  134.342615
5697  2020-09-30           517.0       350.8  147.357363

[5698 rows x 4 columns]

In [57]:
# add count of fires as feature
la_fire_cocunt = final_la_fire['Dates'].value_counts()
la_fire_cocunt

2020-09-26    395
2020-09-07    314
2020-09-06    278
2020-08-14    220
2020-09-30    219
             ...
2015-09-01      1
2018-10-16      1
2018-03-21      1
2020-04-07      1
2018-08-09      1
Name: Dates, Length: 462, dtype: int64

In [58]:
la_fire_count = la_fire_cocunt.to_frame().reset_index().rename(columns={"index":"Dates", "Dates":"Fire Count"}).sort_values(by="Dates", ascending=True)
la_fire_count

          Dates  Fire Count
374  2015-03-12           1
406  2015-03-14           1
407  2015-03-16           1
185  2015-03-17           4
454  2015-03-21           1
..          ...         ...
0    2020-09-26         395
47   2020-09-27          29
44   2020-09-28          30
5    2020-09-29         153
4    2020-09-30         219

[462 rows x 2 columns]

In [59]:
final_la_fire_merged = pd.merge(final_la_fire, la_fire_count, on='Dates', how='outer')
final_la_fire_merged

           Dates  Fire Intensity  Brightness        dist  Fire Count
0     2015-03-12             3.4       304.6  117.499627           1
1     2015-03-14             5.4       310.2  149.518364           1
2     2015-03-16            13.4       315.4  101.337074           1
3     2015-03-17            12.7       305.3   14.387188           4
4     2015-03-17            96.7       332.4  128.014322           4
...          ...             ...         ...         ...         ...
5693  2020-09-30         15154.8       501.8  131.417468         219
5694  2020-09-30           643.6       355.7  130.983617         219
5695  2020-09-30          1643.9       386.3  131.583010         219
5696  2020-09-30           416.7       346.2  134.342615         219
5697  2020-09-30           517.0       350.8  147.357363         219

[5698 rows x 5 columns]

In [60]:
los_angeles_data = pd.merge(final_la_weather, final_la_fire_merged, on='Dates', how='left')

In [61]:
los_angeles_data

,Unnamed: 0,Dates,Temperature,Wind Speed,Precipitation,Pressure,Heat Index,Fire Intensity,Brightness,dist,Fire Count
0,0,2015-03-01,-8,10,0.0,1024,-4,NaN,NaN,NaN,NaN
1,1,2015-03-02,-3,3,0.0,1011,1,NaN,NaN,NaN,NaN
2,2,2015-03-03,-7,13,0.0,1014,-7,NaN,NaN,NaN,NaN
3,3,2015-03-04,-11,12,0.0,1028,-10,NaN,NaN,NaN,NaN
4,4,2015-03-05,-7,4,0.0,1028,3,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
7272,1734,2020-09-30,21,7,0.0,1023,22,15154.8,501.8,131.417468,219.0
7273,1734,2020-09-30,21,7,0.0,1023,22,643.6,355.7,130.983617,219.0
7274,1734,2020-09-30,21,7,0.0,1023,22,1643.9,386.3,131.583010,219.0
7275,1734,2020-09-30,21,7,0.0,1023,22,416.7,346.2,134.342615,219.0
7276,1734,2020-09-30,21,7,0.0,1023,22,517.0,350.8,147.357363,219.0

In [62]:
# bhai = los_angeles_data.fillna(los_angeles_data.mean())
bhai = los_angeles_data.fillna(0)
bhai

,Unnamed: 0,Dates,Temperature,Wind Speed,Precipitation,Pressure,Heat Index,Fire Intensity,Brightness,dist,Fire Count
0,0,2015-03-01,-8,10,0.0,1024,-4,0.0,0.0,0.000000,0.0
1,1,2015-03-02,-3,3,0.0,1011,1,0.0,0.0,0.000000,0.0
2,2,2015-03-03,-7,13,0.0,1014,-7,0.0,0.0,0.000000,0.0
3,3,2015-03-04,-11,12,0.0,1028,-10,0.0,0.0,0.000000,0.0
4,4,2015-03-05,-7,4,0.0,1028,3,0.0,0.0,0.000000,0.0
...,...,...,...,...,...,...,...,...,...,...,...
7272,1734,2020-09-30,21,7,0.0,1023,22,15154.8,501.8,131.417468,219.0
7273,1734,2020-09-30,21,7,0.0,1023,22,643.6,355.7,130.983617,219.0
7274,1734,2020-09-30,21,7,0.0,1023,22,1643.9,386.3,131.583010,219.0
7275,1734,2020-09-30,21,7,0.0,1023,22,416.7,346.2,134.342615,219.0
7276,1734,2020-09-30,21,7,0.0,1023,22,517.0,350.8,147.357363,219.0

In [63]:
bhai.to_csv('final_la_data.csv')

## ML STARTS NOW
### DATA PREPROCESSING DONE

In [64]:
# IMPORT LIBRARIES
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, MinMaxScaler
from sklearn.linear_model import LinearRegression
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from tensorflow.keras.utils import to_categorical

In [65]:
src = pd.read_csv('final_la_data.csv', index_col=0)
src

,Unnamed: 0.1,Dates,Temperature,Wind Speed,Precipitation,Pressure,Heat Index,Fire Intensity,Brightness,dist,Fire Count
0,0,2015-03-01,-8,10,0.0,1024,-4,0.0,0.0,0.000000,0.0
1,1,2015-03-02,-3,3,0.0,1011,1,0.0,0.0,0.000000,0.0
2,2,2015-03-03,-7,13,0.0,1014,-7,0.0,0.0,0.000000,0.0
3,3,2015-03-04,-11,12,0.0,1028,-10,0.0,0.0,0.000000,0.0
4,4,2015-03-05,-7,4,0.0,1028,3,0.0,0.0,0.000000,0.0
...,...,...,...,...,...,...,...,...,...,...,...
7272,1734,2020-09-30,21,7,0.0,1023,22,15154.8,501.8,131.417468,219.0
7273,1734,2020-09-30,21,7,0.0,1023,22,643.6,355.7,130.983617,219.0
7274,1734,2020-09-30,21,7,0.0,1023,22,1643.9,386.3,131.583010,219.0
7275,1734,2020-09-30,21,7,0.0,1023,22,416.7,346.2,134.342615,219.0
7276,1734,2020-09-30,21,7,0.0,1023,22,517.0,350.8,147.357363,219.0

In [66]:
df = src.loc[:, ~src.columns.str.contains('^Unnamed')]
df

,Dates,Temperature,Wind Speed,Precipitation,Pressure,Heat Index,Fire Intensity,Brightness,dist,Fire Count
0,2015-03-01,-8,10,0.0,1024,-4,0.0,0.0,0.000000,0.0
1,2015-03-02,-3,3,0.0,1011,1,0.0,0.0,0.000000,0.0
2,2015-03-03,-7,13,0.0,1014,-7,0.0,0.0,0.000000,0.0
3,2015-03-04,-11,12,0.0,1028,-10,0.0,0.0,0.000000,0.0
4,2015-03-05,-7,4,0.0,1028,3,0.0,0.0,0.000000,0.0
...,...,...,...,...,...,...,...,...,...,...
7272,2020-09-30,21,7,0.0,1023,22,15154.8,501.8,131.417468,219.0
7273,2020-09-30,21,7,0.0,1023,22,643.6,355.7,130.983617,219.0
7274,2020-09-30,21,7,0.0,1023,22,1643.9,386.3,131.583010,219.0
7275,2020-09-30,21,7,0.0,1023,22,416.7,346.2,134.342615,219.0
7276,2020-09-30,21,7,0.0,1023,22,517.0,350.8,147.357363,219.0

In [67]:
df['Date'] = pd.to_datetime(df['Dates'], format="%Y-%m-%d")
df['month'] = df['Date'].dt.month
import calendar
df['month'] = df['month'].apply(lambda x: calendar.month_abbr[x])
df = df.drop(columns=['Dates', 'Date'])
df

,Temperature,Wind Speed,Precipitation,Pressure,Heat Index,Fire Intensity,Brightness,dist,Fire Count,month
0,-8,10,0.0,1024,-4,0.0,0.0,0.000000,0.0,Mar
1,-3,3,0.0,1011,1,0.0,0.0,0.000000,0.0,Mar
2,-7,13,0.0,1014,-7,0.0,0.0,0.000000,0.0,Mar
3,-11,12,0.0,1028,-10,0.0,0.0,0.000000,0.0,Mar
4,-7,4,0.0,1028,3,0.0,0.0,0.000000,0.0,Mar
...,...,...,...,...,...,...,...,...,...,...
7272,21,7,0.0,1023,22,15154.8,501.8,131.417468,219.0,Sep
7273,21,7,0.0,1023,22,643.6,355.7,130.983617,219.0,Sep
7274,21,7,0.0,1023,22,1643.9,386.3,131.583010,219.0,Sep
7275,21,7,0.0,1023,22,416.7,346.2,134.342615,219.0,Sep
7276,21,7,0.0,1023,22,517.0,350.8,147.357363,219.0,Sep

In [68]:
src = pd.get_dummies(df, prefix=['month'])
src

,Temperature,Wind Speed,Precipitation,Pressure,Heat Index,Fire Intensity,Brightness,dist,Fire Count,month_Apr,...,month_Dec,month_Feb,month_Jan,month_Jul,month_Jun,month_Mar,month_May,month_Nov,month_Oct,month_Sep
0,-8,10,0.0,1024,-4,0.0,0.0,0.000000,0.0,0,...,0,0,0,0,0,1,0,0,0,0
1,-3,3,0.0,1011,1,0.0,0.0,0.000000,0.0,0,...,0,0,0,0,0,1,0,0,0,0
2,-7,13,0.0,1014,-7,0.0,0.0,0.000000,0.0,0,...,0,0,0,0,0,1,0,0,0,0
3,-11,12,0.0,1028,-10,0.0,0.0,0.000000,0.0,0,...,0,0,0,0,0,1,0,0,0,0
4,-7,4,0.0,1028,3,0.0,0.0,0.000000,0.0,0,...,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7272,21,7,0.0,1023,22,15154.8,501.8,131.417468,219.0,0,...,0,0,0,0,0,0,0,0,0,1
7273,21,7,0.0,1023,22,643.6,355.7,130.983617,219.0,0,...,0,0,0,0,0,0,0,0,0,1
7274,21,7,0.0,1023,22,1643.9,386.3,131.583010,219.0,0,...,0,0,0,0,0,0,0,0,0,1
7275,21,7,0.0,1023,22,416.7,346.2,134.342615,219.0,0,...,0,0,0,0,0,0,0,0,0,1
7276,21,7,0.0,1023,22,517.0,350.8,147.357363,219.0,0,...,0,0,0,0,0,0,0,0,0,1

## Regression Take 1

In [69]:
X=src.drop("Fire Intensity", axis=1)
y=src["Fire Intensity"].values.reshape(-1,1)
print(X.shape,y.shape)

(7277, 20) (7277, 1)

In [70]:
# ok data setup epic
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [71]:
a = [X_train, X_test, y_train, y_test]
for m in a:
    print(len(m))

5457
1820
5457
1820

In [72]:
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

In [73]:

print(f"Training Data Score: {model.score(X_train, y_train)}")
print(f"Testing Data Score: {model.score(X_test, y_test)}")

Training Data Score: 0.16310470449888137
Testing Data Score: 0.16515674810207037

---
## Regression Take 2

In [74]:
X_c = src.drop("Fire Count", axis=1)
y_c = src["Fire Count"].values.reshape(-1,1)
print(X_c.shape, y_c.shape)

(7277, 20) (7277, 1)

In [75]:
X_c_train, X_c_test, y_c_train, y_c_test = train_test_split(X_c, y_c, random_state=1)

In [76]:
a = [X_c_train, X_c_test, y_c_train, y_c_test]
for m in a:
    print(len(m))

5457
1820
5457
1820

In [77]:
model_2 = LinearRegression()
model_2.fit(X_c_train, y_c_train)
print(f"Training Data Score: {model_2.score(X_c_train, y_c_train)}")
print(f"Testing Data Score: {model_2.score(X_c_test, y_c_test)}")

Training Data Score: 0.5436606318792259
Testing Data Score: 0.5406094511670313

---

In [78]:
df = pd.merge(final_la_weather, final_la_fire_merged)
# df['Dates'] = pd.to_datetime(df['Dates'])
# mask = (df['Dates'] > '2020-07-01') & (df['Dates'] <= '2000-09-30')
# print(df.loc[mask])
df['date'] = pd.to_datetime(df['Dates'])
mask = (df['date'] > '2020-7-1') & (df['date'] <= '2020-9-30')
hol_out_df = df.loc[mask]

In [79]:
df = hol_out_df
df['Date'] = pd.to_datetime(df['Dates'], format="%Y-%m-%d")
df['month'] = df['Date'].dt.month
import calendar
df['month'] = df['month'].apply(lambda x: calendar.month_abbr[x])
df = df.loc[:, ~df.columns.str.contains('^Unnamed')].drop(columns=['Dates', 'Date', 'date'])
df

,Temperature,Wind Speed,Precipitation,Pressure,Heat Index,Fire Intensity,Brightness,dist,Fire Count,month
2894,29,15,0.0,1013,29,220.0,395.4,40.197602,1,Jul
2895,27,9,0.0,1013,30,9.1,301.0,112.018507,3,Jul
2896,27,9,0.0,1013,30,15.1,305.5,113.304953,3,Jul
2897,27,9,0.0,1013,30,10.0,302.2,113.693249,3,Jul
2898,25,12,0.0,1020,25,6.2,323.6,103.383249,1,Jul
...,...,...,...,...,...,...,...,...,...,...
5693,21,7,0.0,1023,22,15154.8,501.8,131.417468,219,Sep
5694,21,7,0.0,1023,22,643.6,355.7,130.983617,219,Sep
5695,21,7,0.0,1023,22,1643.9,386.3,131.583010,219,Sep
5696,21,7,0.0,1023,22,416.7,346.2,134.342615,219,Sep
5697,21,7,0.0,1023,22,517.0,350.8,147.357363,219,Sep

In [80]:
new_la  = pd.get_dummies(df, prefix=['month'])
new_la

,Temperature,Wind Speed,Precipitation,Pressure,Heat Index,Fire Intensity,Brightness,dist,Fire Count,month_Aug,month_Jul,month_Sep
2894,29,15,0.0,1013,29,220.0,395.4,40.197602,1,0,1,0
2895,27,9,0.0,1013,30,9.1,301.0,112.018507,3,0,1,0
2896,27,9,0.0,1013,30,15.1,305.5,113.304953,3,0,1,0
2897,27,9,0.0,1013,30,10.0,302.2,113.693249,3,0,1,0
2898,25,12,0.0,1020,25,6.2,323.6,103.383249,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
5693,21,7,0.0,1023,22,15154.8,501.8,131.417468,219,0,0,1
5694,21,7,0.0,1023,22,643.6,355.7,130.983617,219,0,0,1
5695,21,7,0.0,1023,22,1643.9,386.3,131.583010,219,0,0,1
5696,21,7,0.0,1023,22,416.7,346.2,134.342615,219,0,0,1
5697,21,7,0.0,1023,22,517.0,350.8,147.357363,219,0,0,1

In [81]:
new_la['month_October']=0
new_la['month_November']=0
new_la['month_December']=0
new_la['month_January']=0
new_la['month_February']=0
new_la['month_March']=0
new_la['month_April']=0
new_la['month_May']=0
new_la['month_June']=0
new_la

,Temperature,Wind Speed,Precipitation,Pressure,Heat Index,Fire Intensity,Brightness,dist,Fire Count,month_Aug,...,month_Sep,month_October,month_November,month_December,month_January,month_February,month_March,month_April,month_May,month_June
2894,29,15,0.0,1013,29,220.0,395.4,40.197602,1,0,...,0,0,0,0,0,0,0,0,0,0
2895,27,9,0.0,1013,30,9.1,301.0,112.018507,3,0,...,0,0,0,0,0,0,0,0,0,0
2896,27,9,0.0,1013,30,15.1,305.5,113.304953,3,0,...,0,0,0,0,0,0,0,0,0,0
2897,27,9,0.0,1013,30,10.0,302.2,113.693249,3,0,...,0,0,0,0,0,0,0,0,0,0
2898,25,12,0.0,1020,25,6.2,323.6,103.383249,1,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5693,21,7,0.0,1023,22,15154.8,501.8,131.417468,219,0,...,1,0,0,0,0,0,0,0,0,0
5694,21,7,0.0,1023,22,643.6,355.7,130.983617,219,0,...,1,0,0,0,0,0,0,0,0,0
5695,21,7,0.0,1023,22,1643.9,386.3,131.583010,219,0,...,1,0,0,0,0,0,0,0,0,0
5696,21,7,0.0,1023,22,416.7,346.2,134.342615,219,0,...,1,0,0,0,0,0,0,0,0,0
5697,21,7,0.0,1023,22,517.0,350.8,147.357363,219,0,...,1,0,0,0,0,0,0,0,0,0

## PREDICTION
(i should really have split the dataset lol)

In [82]:
#predict FRP values
X_new_fire=new_la.drop("Fire Intensity", axis=1)
new_fire=model.predict(X_new_fire)
len(new_fire)

2804

In [83]:
new_fire

array([[544.68265693],
       [ -4.04042147],
       [  2.35601524],
       ...,
       [256.99689018],
       [138.20898745],
       [ 93.92182194]])

In [84]:
new_fire_list=[]
for i in range(len(new_fire)):
    new_fire_list.append(new_fire[i][0])
new_fire_list

[544.6826569311688,
 -4.040421465917461,
 2.356015244434275,
 -8.119813741450344,
 125.08025347710281,
 -57.57945359542782,
 -53.18515338106181,
 -59.817966260670346,
 22.166366346338236,
 50.9217954081555,
 35.409666752519115,
 10.178766624026593,
 125.63910333500439,
 87.2611790977005,
 519.9298311468026,
 377.8744037581148,
 378.87232705597603,
 365.2691958288292,
 77.66707993866362,
 311.71721947639,
 265.17023874178903,
 9.822766715322814,
 8.869494624632807,
 -5.9908811352670455,
 3.367851570421408,
 9.78817112053639,
 -15.754234937503043,
 8.040019056039,
 -2.8366114721384292,
 90.73012295818353,
 117.9138289723519,
 107.32854136889682,
 94.9146195629362,
 84.42302975718917,
 111.99035436026952,
 56.69543485204349,
 225.86394131166753,
 288.55566845951444,
 109.09458487180314,
 156.90464731698944,
 18.30877091792354,
 12.878750294657948,
 125.79555583201841,
 55.740637313058414,
 -3.767581731237442,
 28.75286832839606,
 27.407692665184868,
 36.26956499021571,
 32.15049218977333,
 17.71783838982992,
 57.005750036112204,
 19.129351226521976,
 58.166012626584234,
 39.763198512549025,
 -27.586748922661172,
 -43.065532464722764,
 -31.336559439764187,
 35.755547156830744,
 9.015438268768776,
 31.33097999877714,
 1.5642041632918335,
 131.54912851321683,
 167.72832121279203,
 39.130808793919186,
 76.56782048756236,
 75.81151647056731,
 6.84190268086104,
 77.75311025325504,
 72.76958523808139,
 86.77222146325676,
 68.98252392296013,
 145.54739090328258,
 95.72530200741085,
 117.35307386823956,
 84.57256344416146,
 196.41816807998475,
 415.1994909971738,
 384.2800106680029,
 87.2604729177101,
 85.34910404642847,
 265.36361731752595,
 472.68532408943975,
 348.6359271199626,
 39.10296957850096,
 14.303506619936343,
 16.897140964611935,
 -16.913051282861034,
 -24.730067043485178,
 4.858417472774363,
 138.96466547795808,
 192.79687098227032,
 93.47530579269687,
 57.578816187406346,
 385.9154576308763,
 179.7846603217888,
 93.93451038522358,
 116.08546189683284,
 48.72658656058434,
 28.493006846307935,
 58.37222870390019,
 72.15317759254663,
 73.73463253994578,
 116.24210646963093,
 91.97222512930011,
 98.949388164021,
 122.51657212165219,
 168.91001278765543,
 37.983244122731094,
 172.27054550466528,
 122.95165051831373,
 269.3792764081354,
 110.8928652931611,
 152.99053247281768,
 204.10398691794785,
 106.15984859132323,
 237.0506615944396,
 4.846500967270458,
 317.1117228104092,
 222.5914926047751,
 411.4931587045876,
 284.7437280852114,
 266.70814309455886,
 212.12130469606495,
 346.6421011430982,
 337.97390136128365,
 291.7093346476747,
 250.71859418623217,
 238.99685478214542,
 454.7329823272055,
 401.52452826264243,
 111.52571693759,
 157.8937444210685,
 227.58562085794074,
 180.7312767817334,
 211.29328904744284,
 169.87090043280205,
 167.22203725915733,
 250.5325688769135,
 296.9718266692844,
 223.11708070199802,
 425.32726439924613,
 245.81931353665072,
 407.3129827422431,
 369.5890249909653,
 236.74673910328193,
 189.79062719979333,
 157.35166668286024,
 191.13822432076313,
 185.7302013039432,
 147.56296526009692,
 137.7534044303461,
 296.8488752293233,
 238.61608807437688,
 174.21730787965294,
 137.91430245392803,
 68.94384494710857,
 208.82030839203549,
 119.29582214587026,
 270.7352114340117,
 137.75476208986447,
 237.21493446422483,
 121.33261554942828,
 207.19672741887825,
 195.80105090731809,
 114.75665024778755,
 118.30697562689011,
 73.03251681372967,
 111.30256816424435,
 160.1345531031277,
 181.89167141356643,
 201.73474488515876,
 201.1286897934442,
 162.8698198551158,
 158.03701399702118,
 166.11954411378701,
 80.8432975060282,
 46.04562642135397,
 138.4013358154857,
 253.73743416397315,
 301.7411553001464,
 443.0373778509411,
 317.64277485849834,
 250.69578999250166,
 263.89123101191876,
 210.71079895419666,
 238.22004608581142,
 103.51753640458355,
 121.97306927283307,
 152.44745157272655,
 247.2911846583379,
 229.2457951189749,
 162.94073798519503,
 111.59070286937049,
 178.81494678268882,
 146.22635010288423,
 136.17999372480836,
 162.68465928499495,
 178.72454891979874,
 128.94893899183717,
 158.75911163895012,
 119.11136385344707,
 134.62952451783804,
 114.6743739016074,
 118.15558025381324,
 65.21478837512768,
 100.1318502301533,
 90.16667786887047,
 63.169559930557625,
 149.81097825266124,
 74.44057183097857,
 256.26237473840456,
 592.8370975204678,
 518.3016187157812,
 279.5302019408575,
 728.7376719038441,
 373.108503097385,
 248.81212941879994,
 599.9154202243349,
 725.0427773603237,
 316.99222214540987,
 577.184813651689,
 526.2464093096892,
 727.2853919797842,
 354.36487501665033,
 453.32687393790775,
 431.5888570259999,
 329.86595725557754,
 273.6974136099275,
 303.08395383647076,
 186.18553375021042,
 198.77071121250333,
 167.31895775004796,
 146.52976478478195,
 227.52796269379064,
 167.35586110955774,
 210.8185933868997,
 186.33897959899468,
 182.02198779674222,
 185.9802719852189,
 189.92792799303174,
 146.2273371328297,
 154.31781179964128,
 188.39813152868214,
 160.06169243903173,
 172.12937216040064,
 237.2733954138621,
 186.8709684989269,
 655.9389958976062,
 701.343827533279,
 564.6866159939693,
 691.1070954409583,
 634.5482533378126,
 262.82428862352685,
 411.253605094563,
 439.98656968059004,
 738.0593380479565,
 480.9348649838139,
 330.17298818782274,
 332.32881803635564,
 679.8266915603413,
 717.2095634348946,
 563.2313165643325,
 333.05941555920276,
 400.5400364454317,
 332.8005367505309,
 352.3248020713854,
 365.59145203479034,
 334.8901824002901,
 568.3074945020619,
 508.5521206334363,
 526.6935281944047,
 500.87612110653595,
 261.9896005960436,
 736.1236072080303,
 652.1172313384159,
 497.1291787380246,
 401.78528188327414,
 264.64095468898176,
 352.35924015169485,
 447.52904051366636,
 419.91950851092133,
 190.62024020150534,
 182.4927913036977,
 194.2927769259752,
 220.64798908571424,
 216.47841252599642,
 225.24609886391022,
 145.9612005335016,
 157.6563668681713,
 286.0939141610195,
 358.2459542731963,
 190.93071343330666,
 158.46229051358955,
 204.86753750350567,
 218.69015532437675,
 297.58753060629647,
 228.3134832132314,
 163.11577945108888,
 260.12233218399933,
 357.83696796856657,
 305.96274877894825,
 227.89683483653062,
 195.63235014542693,
 225.69593451628202,
 358.83024679409436,
 213.20506852623453,
 215.3265016141463,
 188.94840209051335,
 370.69569005491417,
 210.08122650809696,
 190.99589125611692,
 161.14762028045834,
 321.3403668508165,
 193.83245892095465,
 158.65355114591375,
 227.39299815841105,
 160.8731283374541,
 178.37164509446075,
 317.9030409088675,
 185.11672104493186,
 231.65696413337332,
 377.57768689842374,
 167.81446086208848,
 169.53927881580125,
 162.01105017440955,
 188.08037727588862,
 198.1694164270914,
 320.74206552211695,
 232.99497872761322,
 222.9167139174674,
 282.00899757755246,
 249.2160447937697,
 609.1393667336781,
 1047.0467808834485,
 804.5489413953865,
 609.4207652801208,
 602.8194326856726,
 269.33461789145485,
 195.03125263880338,
 255.37253769399808,
 215.93002261081733,
 193.99152247866436,
 208.55039468310133,
 195.2977051227615,
 98.934335475318,
 116.66189123848335,
 182.300430554581,
 108.48810643744878,
 150.9018250042859,
 145.42938759590834,
 113.88170905075617,
 148.7906428769761,
 311.50982617378827,
 234.09351335384963,
 327.13532692540707,
 309.9621948737906,
 224.86897921181026,
 226.44333798385355,
 122.07418920812825,
 185.9582116463214,
 165.92103552709295,
 185.8360248736319,
 138.8866923459691,
 205.26897900286372,
 109.26605435032138,
 89.92054270286667,
 81.54747779946479,
 82.96062740022876,
 107.57283237273691,
 571.421911799896,
 519.9839101833445,
 576.9606419963027,
 547.1311627731866,
 576.74920708079,
 503.4219425389922,
 557.111563483897,
 548.2627485420558,
 610.1472353577828,
 577.653737566282,
 710.4115483406915,
 184.02552346212542,
 181.61325318341892,
 239.94827283900918,
 224.43265212568713,
 177.89229609184758,
 110.28942490970189,
 157.14988972504352,
 134.77339448187513,
 159.877072127598,
 35.50689679486254,
 567.2498829785648,
 503.71719359402096,
 759.0952028249274,
 248.62826198463495,
 289.1261059929352,
 320.1192961166978,
 209.53280596953618,
 196.46423711559441,
 221.16967923251605,
 142.40757364227284,
 112.20387675288725,
 613.4722837944701,
 610.4003126605303,
 768.562504808026,
 577.4374701081558,
 616.2369896683056,
 562.134242089752,
 604.0908391217301,
 326.4293971542754,
 328.74047126794994,
 237.11647471974902,
 252.52591763686019,
 292.03944290192544,
 316.962499647238,
 358.5083497197602,
 386.436667819441,
 301.1588788106021,
 301.7009148734942,
 354.8252757584203,
 356.272648545101,
 610.6859424238371,
 624.455272983098,
 619.5440983153512,
 610.3336238889608,
 633.3708635026351,
 609.8991054391888,
 338.1973332207972,
 362.30338703783696,
 498.60851762653715,
 520.5769862529689,
 433.5344426359718,
 341.4599249285652,
 467.98786275360953,
 312.3144634659104,
 496.761862584827,
 322.978993805604,
 504.35350305997804,
 565.2506888272744,
 253.2275105915544,
 492.4215800543095,
 483.1458475526806,
 364.02809296058945,
 156.96763004800164,
 183.261226957781,
 158.7773003822026,
 192.72029945884356,
 179.67898478451025,
 208.30817132617653,
 253.5906715125127,
 367.50760375329196,
 153.01834656472488,
 220.87456780789626,
 217.44956918549042,
 180.8229065779899,
 254.5637590119536,
 280.39910538947584,
 159.21268080946288,
 280.8991349169719,
 195.78836569457962,
 247.45711790203723,
 141.68194345935603,
 263.89417970660065,
 520.346856353631,
 268.9979923056678,
 116.36192937012288,
 183.80229122583614,
 243.75394953393925,
 136.79578694222505,
 114.69755301166447,
 149.64267735982594,
 140.12711454275382,
 191.79654485922583,
 222.43214606124275,
 149.2530902809815,
 169.49088485340235,
 599.9074722058192,
 631.5286168349489,
 647.8373445167861,
 713.5818935929901,
 1038.3339877773626,
 913.3785209106554,
 813.2718896086931,
 646.2998248037179,
 681.4340163324403,
 669.4415829939799,
 1040.564535442043,
 818.0782764935632,
 905.3146539857005,
 150.36640301535044,
 204.47513520041412,
 172.61327011577464,
 210.69759208207938,
 191.94505256554703,
 190.8603674473227,
 520.0230033067621,
 376.75045784195004,
 177.79541956961316,
 189.5444397528379,
 219.2125000905628,
 200.30043561132993,
 191.02143979296807,
 446.738702276489,
 403.29139685553446,
 375.34230218974994,
 210.6333437403523,
 301.50989050202656,
 523.6107926666889,
 318.08600790057926,
 257.10091487050136,
 197.0177182362636,
 190.54281877073458,
 170.05556259798254,
 166.4284084672163,
 213.3299239446676,
 171.34147281225705,
 145.64158882775814,
 62.00204625716651,
 66.07478302832942,
 126.51760296889415,
 112.49752510103917,
 96.56751458321878,
 66.04552925797316,
 126.48897665844925,
 150.3562799271274,
 117.15002525159161,
 99.37967684000432,
 76.46721570137197,
 71.05374716191545,
 121.3759640534654,
 102.06559185062224,
 49.16357383682134,
 26.466209935771985,
 14.208027423521344,
 25.686008432954168,
 5.349520621154625,
 487.0781554301657,
 648.1205851997993,
 572.726054172778,
 555.7135574933404,
 523.7001691765809,
 533.2392466119259,
 501.28733671914006,
 525.5986089250296,
 523.743075896127,
 524.6483351964391,
 595.7265252328798,
 621.3711022127316,
 517.7660539910285,
 600.2775995880654,
 587.3954621884677,
 512.9646272615228,
 518.5939325987406,
 477.64981507205516,
 213.89493446827282,
 156.8141679658354,
 154.22642328880443,
 161.57224481124513,
 244.6001686183788,
 173.71653720741324,
 300.62486148269386,
 215.09142206589308,
 270.9064375867256,
 233.16138069459066,
 245.9901626267224,
 90.6345682559895,
 158.89955093638446,
 12.778153594592368,
 75.91398501481854,
 523.8690843441755,
 472.8577051317975,
 525.9243512529831,
 470.9115496074321,
 483.29559567716024,
 516.2906488608521,
 548.6652429392523,
 535.0601294247001,
 543.0919881227012,
 522.7676873475909,
 480.8243515978452,
 498.20991854878616,
 515.894265745017,
 459.01663255786207,
 557.2285183463864,
 504.719943819998,
 243.35839410771223,
 230.73214150606282,
 226.15779878613398,
 263.1542992227385,
 278.99891335259326,
 308.67125658535156,
 346.69502582525297,
 268.4187096655123,
 295.405956048128,
 300.79180740776656,
 337.1000633444821,
 244.00725116583135,
 246.48124518262784,
 227.41404874214754,
 278.10140800644854,
 214.58274000797655,
 363.6300694034762,
 331.49729611534895,
 286.1159997311597,
 240.31095906947166,
 247.4476795207422,
 318.30552717222326,
 231.86320565859364,
 266.09249258969317,
 174.13223207552323,
 171.3017906247294,
 128.6915241184115,
 171.958973592878,
 182.03179147548758,
 143.4589473688377,
 103.88345359774985,
 125.59519845560658,
 571.5685931640719,
 551.2633050019201,
 551.7153558895825,
 559.059934894937,
 630.3527194618487,
 545.2377954313802,
 612.472208970793,
 596.340749814942,
 601.6978743194982,
 561.8660439538075,
 562.89129251961,
 566.6940396339398,
 556.8637078805843,
 552.0927539860672,
 531.365458877659,
 535.9835663878564,
 512.7176335496686,
 135.64196719301822,
 174.5899392544361,
 166.33960319192624,
 105.46557958944777,
 224.540919834262,
 212.0266870908158,
 168.7537871881584,
 229.11839748879197,
 171.15104707524324,
 130.91564046738267,
 158.55629517377065,
 148.46989422660704,
 123.55837192940953,
 139.05589670294376,
 137.20880072873,
 146.19711872132416,
 36.82370364981557,
 79.04331219579603,
 43.176251239697876,
 46.1958980369111,
 24.881483531837148,
 45.7483854190566,
 42.999000424929136,
 31.613580391911682,
 47.13842321949801,
 177.6172662589156,
 72.72346715141862,
 -0.9691699011491437,
 25.492036672187623,
 29.24622082426481,
 8.162118625786661,
 99.41519430927383,
 76.08844079461414,
 -16.429116539891766,
 -4.631554064148986,
 128.8343171246861,
 96.92161717337581,
 -5.082693149191982,
 46.10091396877465,
 161.59727571509052,
 38.1570070085279,
 6.424154463377818,
 16.854165529088277,
 531.6601362685583,
 462.00831872203617,
 510.78286944778756,
 468.6388444463994,
 483.3256355468559,
 453.1465556303765,
 160.77340415428898,
 216.38450875787407,
 214.796917491336,
 153.16953412943963,
 185.2949049899746,
 149.17004892256955,
 189.4488013712953,
 203.5912956057423,
 188.0036819527727,
 198.09170612640173,
 47.78727868542978,
 166.4210092104754,
 115.91654314014818,
 110.70816774658897,
 79.78260677225353,
 78.18088921557614,
 -31.9786918940099,
 4.708825028867977,
 -8.766387854995628,
 -2.915230903579868,
 -5.466062776452873,
 51.19835447071182,
 18.736062800639047,
 41.48257519034041,
 -37.815518250635705,
 415.94475819659147,
 438.48751544460174,
 460.83672156951866,
 428.8736658882294,
 458.0425862080124,
 207.74788284692727,
 197.95567993527993,
 170.0222915640918,
 195.6473668172357,
 266.86375375627244,
 238.5270070072345,
 202.7783265933224,
 190.84252751348617,
 219.29420260031088,
 46.92323658487339,
 102.42313578725293,
 505.2533859657724,
 516.2586465400188,
 452.698598901831,
 628.9184147764793,
 480.06986802574033,
 523.9451775076423,
 156.8158847285397,
 192.20819437568412,
 111.17374984616299,
 164.31901619329665,
 129.74584982867736,
 144.54851835466275,
 219.34332488471205,
 222.597649473817,
 211.87319568676776,
 177.57373586244967,
 207.3613099571844,
 126.09728619241218,
 133.0070980841001,
 119.4147986157277,
 89.65663195507159,
 36.46971372065627,
 56.39873455035058,
 90.37182534498788,
 470.0671235964462,
 502.15930614435047,
 499.7541103211124,
 499.819809314047,
 447.935575254764,
 502.7610426293213,
 556.7021478652609,
 470.92850577152626,
 511.8649272947325,
 511.387164033428,
 227.37475595488354,
 263.0039805776348,
 222.8962272627275,
 206.4733636195233,
 336.8615729092717,
 168.8823776767572,
 301.36429335933894,
 282.3077467300254,
 593.3002312870713,
 584.7929404789215,
 615.3958282899582,
 509.8472147352072,
 616.0104407501462,
 552.8772024705081,
 494.44896990029315,
 604.859742269424,
 576.9630648861739,
 411.6331857703947,
 446.95013914623587,
 447.36820786002,
 440.31638706729063,
 429.26399967278326,
 418.02911181560444,
 545.8963102702537,
 548.8583451322829,
 504.71654586764475,
 492.36417997052695,
 521.8663138043651,
 510.35235405550793,
 706.845350290255,
 536.7935662596963,
 518.2416744694983,
 290.9417346263144,
 177.77694139740652,
 95.88428623277855,
 171.16307232187546,
 200.73291254466585,
 231.98805114234983,
 256.3898372109786,
 153.02905337156608,
 368.04322948920776,
 316.2702669670773,
 192.1230268400136,
 356.7834629010947,
 275.7110584151594,
 145.5710373289278,
 243.83222495693144,
 280.7754443634899,
 180.2318955930723,
 138.16334371571338,
 249.58345637875436,
 127.98580334147869,
 134.15564553024683,
 451.8898294037822,
 131.599265338931,
 183.54957603800972,
 16.757965920239258,
 32.63541590893715,
 132.2047283172369,
 127.81645642221451,
 194.40553686080875,
 199.44786415225485,
 265.46402500271506,
 339.19186418396725,
 86.82093071569375,
 120.95943112594409,
 445.2209662243165,
 465.13960978295177,
 429.997370531705,
 276.8698359712773,
 165.666110446703,
 137.50203645018246,
 109.9277869495968,
 233.3703434187894,
 358.2643797660394,
 130.41711967848687,
 334.21711114640925,
 293.6078660900107,
 167.33742210164178,
 173.64205278140957,
 141.29941987723168,
 149.9050692598421,
 107.93131916243647,
 114.08361382075145,
 310.8931529590782,
 67.9478313408074,
 67.06855588212306,
 424.70279864542545,
 433.7980385968374,
 460.16226767794114,
 4.52901669679477,
 55.78969803498285,
 35.49019010374559,
 157.58649195904331,
 274.92038515362196,
 417.8810457715301,
 192.46541478113113,
 73.72389374337331,
 75.40623238951434,
 599.5113963979761,
 543.7119178589962,
 631.3329532725695,
 472.473310353221,
 108.99991956261601,
 165.47303320865763,
 30.28024910193858,
 32.66791871149121,
 55.99564566077083,
 463.69612031721545,
 473.0690619583486,
 159.77540577104082,
 477.15468982576226,
 117.41756227799465,
 136.44353491550146,
 148.5187738264865,
 316.2062279949821,
 143.56710229085843,
 312.24801689248466,
 199.76757489434067,
 170.34831878898535,
 282.15347734043917,
 154.1268813514032,
 333.43113297043305,
 340.53592166188355,
 309.5208635818117,
 195.70431538279695,
 120.46994825767138,
 146.66528821596944,
 131.15674401235924,
 39.406042809905784,
 125.85529824541868,
 74.13473581667085,
 72.68088051467998,
 59.326445521259984,
 36.81664466866232,
 74.73979264294258,
 84.36676001186424,
 106.11014905285697,
 180.91269559000398,
 208.61010940999427,
 137.9022848896377,
 129.58579926816628,
 113.10285822442597,
 114.90258195343608,
 132.95985710243394,
 109.29435967236668,
 208.99218858203244,
 109.33457488705926,
 2.8477057997092743,
 10.627388802906808,
 -15.94668261628658,
 -27.52949715425075,
 27.740135872056726,
 99.60400358013817,
 203.93519316948596,
 116.53171427611642,
 59.1239918306253,
 59.482413973077655,
 58.10075945921835,
 48.27548782621966,
 142.5888065603558,
 76.19703636740246,
 212.47310534203893,
 118.62781711999082,
 32.08153261108987,
 92.25789108276649,
 100.86976483650369,
 209.63447928512392,
 163.24628395224158,
 138.43511725113808,
 144.43866499003207,
 216.36626456539807,
 164.17389262106713,
 271.1354119085074,
 363.5435657852645,
 167.46596621910226,
 226.0230066937645,
 294.2196347458728,
 234.8556117078615,
 224.41010672597326,
 221.66585222357958,
 251.77170265115478,
 232.23393453730432,
 156.7193863182017,
 274.6452548625509,
 261.5705451702888,
 239.39528795460433,
 217.23116532679387,
 182.7112717785592,
 161.95218492975005,
 271.90225762985983,
 244.84516190660565,
 192.6312544517316,
 187.59525542899314,
 282.0359426213038,
 302.2187165938135,
 261.6266997744542,
 194.61591462246997,
 224.2314325967095,
 278.4821040937122,
 273.8226714654661,
 232.35785409052232,
 198.2729718043322,
 251.47000552841314,
 274.16546610392606,
 255.9849918511586,
 241.20776713399027,
 208.31000273647487,
 183.88471225235867,
 147.07894330004478,
 182.20375040804947,
 151.47615357060636,
 181.4820863616253,
 200.89307732013185,
 216.53189714388645,
 217.2118118169633,
 226.9642460581465,
 153.6288858932328,
 316.34603110571584,
 268.6172646067846,
 251.20719164325806,

In [91]:
# prediciton data farme
predict_df=pd.DataFrame({'Fire Intensity': new_fire_list})
f = predict_df

In [92]:
new_dates = pd.date_range(start='2020-10-01', end='2020-11-30', freq='D')
print(new_dates)
print(len(new_dates))

DatetimeIndex(['2020-10-01', '2020-10-02', '2020-10-03', '2020-10-04',
               '2020-10-05', '2020-10-06', '2020-10-07', '2020-10-08',
               '2020-10-09', '2020-10-10', '2020-10-11', '2020-10-12',
               '2020-10-13', '2020-10-14', '2020-10-15', '2020-10-16',
               '2020-10-17', '2020-10-18', '2020-10-19', '2020-10-20',
               '2020-10-21', '2020-10-22', '2020-10-23', '2020-10-24',
               '2020-10-25', '2020-10-26', '2020-10-27', '2020-10-28',
               '2020-10-29', '2020-10-30', '2020-10-31', '2020-11-01',
               '2020-11-02', '2020-11-03', '2020-11-04', '2020-11-05',
               '2020-11-06', '2020-11-07', '2020-11-08', '2020-11-09',
               '2020-11-10', '2020-11-11', '2020-11-12', '2020-11-13',
               '2020-11-14', '2020-11-15', '2020-11-16', '2020-11-17',
               '2020-11-18', '2020-11-19', '2020-11-20', '2020-11-21',
               '2020-11-22', '2020-11-23', '2020-11-24', '2020-11-25',
               '2020-11-26', '2020-11-27', '2020-11-28', '2020-11-29',
               '2020-11-30'],
              dtype='datetime64[ns]', freq='D')
61

In [93]:
predict_df = f.head(len(new_dates))
predict_df['Dates']=list(new_dates)

/home/pseudocodenerd/anaconda3/envs/torch/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [94]:
predict_df

    Fire Intensity      Dates
0       544.682657 2020-10-01
1        -4.040421 2020-10-02
2         2.356015 2020-10-03
3        -8.119814 2020-10-04
4       125.080253 2020-10-05
..             ...        ...
56      -31.336559 2020-11-26
57       35.755547 2020-11-27
58        9.015438 2020-11-28
59       31.330980 2020-11-29
60        1.564204 2020-11-30

[61 rows x 2 columns]

In [95]:
predict_df.to_csv('CL_FOREST_61_DAYS_maybe_bugged.csv')

In [49]:
# comined CSV FOR JAISAL

In [62]:
lacsv = pd.read_csv('FINAL_LA_44_DAYS.csv')
sfcsv = pd.read_csv('FINAL_SF_40_DAYS.csv')
phoecsv = pd.read_csv('FINAL_PHOENIX_30_DAYS.csv')
merged = pd.merge(lacsv, sfcsv, on='Dates', how='outer')
final_merged = pd.merge(merged, phoecsv, on='Dates', how='outer')
df = final_merged
df = df.loc[:, ~df.columns.str.contains('^Unnamed')]
df

    Fire Intensity_x       Dates  Fire Intensity_y  Fire Intensity
0          74.672755  2020-10-01         56.875008       62.170287
1          76.782775  2020-10-02         23.059613       15.453074
2          75.725114  2020-10-03         58.301694       84.317342
3          72.082963  2020-10-04         41.389730       35.599108
4          69.535390  2020-10-05         37.952859      -11.448706
5          79.029996  2020-10-06         53.478314        6.452678
6          80.563014  2020-10-07         18.261467      -14.889214
7          73.666036  2020-10-08         46.624334       54.455350
8          66.687940  2020-10-09         43.255403      -13.095983
9          62.848122  2020-10-10         41.268187      -14.226464
10         72.730146  2020-10-11         61.137985       93.098899
11         82.593036  2020-10-12         42.592314       24.371154
12         88.565791  2020-10-13         46.018040       83.630981
13         76.330033  2020-10-14        112.532235       22.570507
14         82.029706  2020-10-15         40.116912      108.583933
15         82.651339  2020-10-16         38.563943        8.687232
16         78.138199  2020-10-17         50.242768       66.901615
17         82.504649  2020-10-18         48.963102       33.000479
18         83.573265  2020-10-19         36.506308       70.473055
19         78.772493  2020-10-20        127.629852       -6.707821
20        106.594550  2020-10-21         87.868905       48.990646
21         95.604761  2020-10-22         34.054283       26.069832
22         86.926769  2020-10-23         62.651470       47.225496
23         87.070623  2020-10-24        125.828527       42.835354
24         80.517322  2020-10-25         57.933161       21.749314
25         81.845389  2020-10-26         28.875999       99.751395
26         80.538746  2020-10-27         67.462421       44.731889
27         82.072008  2020-10-28         40.323670       43.519676
28         85.188441  2020-10-29         89.211192       -1.173666
29         83.688808  2020-10-30         33.409465       30.509182
30         84.366053  2020-10-31         63.733030             NaN
31         86.470858  2020-11-01         23.339615             NaN
32         90.035852  2020-11-02         18.542749             NaN
33         85.682124  2020-11-03         30.705464             NaN
34         82.138220  2020-11-04         53.201515             NaN
35         79.592682  2020-11-05         55.386222             NaN
36         76.316623  2020-11-06         24.935113             NaN
37         75.681574  2020-11-07        108.078606             NaN
38         78.360120  2020-11-08        126.474958             NaN
39         74.052196  2020-11-09         46.482860             NaN
40         76.310665  2020-11-10         58.848638             NaN
41         80.310579  2020-11-11               NaN             NaN
42         79.382345  2020-11-12               NaN             NaN
43         84.934814  2020-11-13               NaN             NaN
44         86.780886  2020-11-14               NaN             NaN

In [63]:
df = df[ ['Dates'] + [ col for col in df.columns if col != 'Dates' ] ]

In [64]:
df

         Dates  Fire Intensity_x  Fire Intensity_y  Fire Intensity
0   2020-10-01         74.672755         56.875008       62.170287
1   2020-10-02         76.782775         23.059613       15.453074
2   2020-10-03         75.725114         58.301694       84.317342
3   2020-10-04         72.082963         41.389730       35.599108
4   2020-10-05         69.535390         37.952859      -11.448706
5   2020-10-06         79.029996         53.478314        6.452678
6   2020-10-07         80.563014         18.261467      -14.889214
7   2020-10-08         73.666036         46.624334       54.455350
8   2020-10-09         66.687940         43.255403      -13.095983
9   2020-10-10         62.848122         41.268187      -14.226464
10  2020-10-11         72.730146         61.137985       93.098899
11  2020-10-12         82.593036         42.592314       24.371154
12  2020-10-13         88.565791         46.018040       83.630981
13  2020-10-14         76.330033        112.532235       22.570507
14  2020-10-15         82.029706         40.116912      108.583933
15  2020-10-16         82.651339         38.563943        8.687232
16  2020-10-17         78.138199         50.242768       66.901615
17  2020-10-18         82.504649         48.963102       33.000479
18  2020-10-19         83.573265         36.506308       70.473055
19  2020-10-20         78.772493        127.629852       -6.707821
20  2020-10-21        106.594550         87.868905       48.990646
21  2020-10-22         95.604761         34.054283       26.069832
22  2020-10-23         86.926769         62.651470       47.225496
23  2020-10-24         87.070623        125.828527       42.835354
24  2020-10-25         80.517322         57.933161       21.749314
25  2020-10-26         81.845389         28.875999       99.751395
26  2020-10-27         80.538746         67.462421       44.731889
27  2020-10-28         82.072008         40.323670       43.519676
28  2020-10-29         85.188441         89.211192       -1.173666
29  2020-10-30         83.688808         33.409465       30.509182
30  2020-10-31         84.366053         63.733030             NaN
31  2020-11-01         86.470858         23.339615             NaN
32  2020-11-02         90.035852         18.542749             NaN
33  2020-11-03         85.682124         30.705464             NaN
34  2020-11-04         82.138220         53.201515             NaN
35  2020-11-05         79.592682         55.386222             NaN
36  2020-11-06         76.316623         24.935113             NaN
37  2020-11-07         75.681574        108.078606             NaN
38  2020-11-08         78.360120        126.474958             NaN
39  2020-11-09         74.052196         46.482860             NaN
40  2020-11-10         76.310665         58.848638             NaN
41  2020-11-11         80.310579               NaN             NaN
42  2020-11-12         79.382345               NaN             NaN
43  2020-11-13         84.934814               NaN             NaN
44  2020-11-14         86.780886               NaN             NaN

In [66]:
jaisal = df.rename(columns={'Fire Intensity_x':"Los Angeles, CA", 'Fire Intensity_y': 'San Francisco, CA', "Fire Intensity":"Phoenix, AZ"})

In [67]:
jaisal.to_csv('city_wise(3)-data.csv')