## LA MODEL

In [45]:
import pandas as pd
prev_la_weather = pd.read_csv('city_weather_data/Los+Angeles.csv')
prev_la_weather.head()

,Unnamed: 0,Dates,Temperature,Wind Speed,Precipitation,Pressure,Heat Index
0,0,2016-01-01,8,5,0.0,1020,18
1,1,2016-01-02,9,11,0.0,1018,19
2,2,2016-01-03,8,15,0.0,1014,16
3,3,2016-01-04,11,7,0.1,1020,19
4,4,2016-01-05,12,19,14.1,1008,13

In [46]:
prev_la_weather.tail()

,Unnamed: 0,Dates,Temperature,Wind Speed,Precipitation,Pressure,Heat Index
1730,1730,2020-09-26,27,9,0.0,1013,28
1731,1731,2020-09-27,27,10,0.0,1012,29
1732,1732,2020-09-28,29,8,0.0,1014,31
1733,1733,2020-09-29,32,10,0.0,1016,32
1734,1734,2020-09-30,35,6,0.0,1015,36

In [47]:
start_dates=['2015-03-01', '2015-04-01', '2015-05-01', '2015-06-01', '2015-07-01', '2015-08-01', '2015-09-01', '2015-10-01', '2015-11-01', '2015-12-01']
end_dates=['2015-03-31', '2015-04-30', '2015-05-31', '2015-06-30', '2015-07-31', '2015-08-31', '2015-09-30', '2015-10-31', '2015-11-30', '2015-12-31']

In [75]:
import requests
def get_weather(city):
    city_dat = []
    dates, temp, wind, precip, pressure, heat = [], [] ,[], [], [], []
    for i in range(len(start_dates)):
        res_str = f'http://api.worldweatheronline.com/premium/v1/past-weather.ashx?key=7b7c4ad8a29e48c3a51114119200310&q={city}&format=json&date={start_dates[i]}&enddate={end_dates[i]}'
        city_dat.append(res_str)
#     print(city_dat[0])
        res = requests.get(res_str).json()['data']['weather']
        for j in range(len(res)):
            dates.append(res[j]['date'])
            temp.append(res[j]['avgtempC'])
            wind.append(res[j]['hourly'][4]['windspeedKmph'])
            precip.append(res[j]['hourly'][4]['precipMM'])
            pressure.append(res[j]['hourly'][4]['pressure'])
            heat.append(res[j]['hourly'][4]['HeatIndexC'])
    city_df = pd.DataFrame({
        "Dates":dates,
        "Temperature": temp,
        "Wind Speed": wind,
        "Precipitation": precip,
        "Pressure": pressure,
        "Heat Index": heat
    })
    city_df.to_csv(f'{city}.csv')
    print("OK")

In [76]:
get_weather('Los+Angeles')

OK

In [77]:
new_la_weather = pd.read_csv('Los+Angeles.csv')

In [78]:
new_la_weather.head()

,Unnamed: 0,Dates,Temperature,Wind Speed,Precipitation,Pressure,Heat Index
0,0,2015-03-01,10,19,0.1,1013,17
1,1,2015-03-02,10,12,0.3,1012,15
2,2,2015-03-03,9,8,0.0,1013,19
3,3,2015-03-04,10,8,0.0,1019,23
4,4,2015-03-05,11,5,0.0,1024,24

In [79]:
final_la_weather = pd.concat([new_la_weather,prev_la_weather])
final_la_weather

,Unnamed: 0,Dates,Temperature,Wind Speed,Precipitation,Pressure,Heat Index
0,0,2015-03-01,10,19,0.1,1013,17
1,1,2015-03-02,10,12,0.3,1012,15
2,2,2015-03-03,9,8,0.0,1013,19
3,3,2015-03-04,10,8,0.0,1019,23
4,4,2015-03-05,11,5,0.0,1024,24
...,...,...,...,...,...,...,...
1730,1730,2020-09-26,27,9,0.0,1013,28
1731,1731,2020-09-27,27,10,0.0,1012,29
1732,1732,2020-09-28,29,8,0.0,1014,31
1733,1733,2020-09-29,32,10,0.0,1016,32
1734,1734,2020-09-30,35,6,0.0,1015,36

In [53]:
final_la_weather.to_csv('final_la_weather.csv')

---
## WEATHER COMPLETE, LA FIRE TIME

In [517]:
final_la_fire = pd.read_csv('la_fire_data.csv')

In [518]:
final_la_fire

     Unnamed: 0        Date  Fire Intensity  Brightness
0             0  2015-03-09           5.900    320.1000
1             1  2015-03-19          43.800    321.2000
2             2  2015-03-20          17.740    317.7400
3             3  2015-04-09           3.200    318.9000
4             4  2015-04-14           8.200    302.1000
..          ...         ...             ...         ...
457         457  2020-09-26          29.075    319.9500
458         458  2020-09-27          86.900    332.5875
459         459  2020-09-28          16.800    312.6200
460         460  2020-09-29          23.900    335.0000
461         461  2020-09-30           7.950    306.6000

[462 rows x 4 columns]

In [519]:
# remove unnamed columns
df = final_la_fire
df = df.loc[:, ~df.columns.str.contains('^Unnamed')]
df

           Date  Fire Intensity  Brightness
0    2015-03-09           5.900    320.1000
1    2015-03-19          43.800    321.2000
2    2015-03-20          17.740    317.7400
3    2015-04-09           3.200    318.9000
4    2015-04-14           8.200    302.1000
..          ...             ...         ...
457  2020-09-26          29.075    319.9500
458  2020-09-27          86.900    332.5875
459  2020-09-28          16.800    312.6200
460  2020-09-29          23.900    335.0000
461  2020-09-30           7.950    306.6000

[462 rows x 3 columns]

In [520]:
# reassign to good var name
final_la_fire = df
final_la_fire = final_la_fire.rename(columns={'Date':"Dates"})

In [521]:
final_la_weather

,Unnamed: 0,Dates,Temperature,Wind Speed,Precipitation,Pressure,Heat Index
0,0,2015-03-01,10,19,0.1,1013,17
1,1,2015-03-02,10,12,0.3,1012,15
2,2,2015-03-03,9,8,0.0,1013,19
3,3,2015-03-04,10,8,0.0,1019,23
4,4,2015-03-05,11,5,0.0,1024,24
...,...,...,...,...,...,...,...
1730,1730,2020-09-26,27,9,0.0,1013,28
1731,1731,2020-09-27,27,10,0.0,1012,29
1732,1732,2020-09-28,29,8,0.0,1014,31
1733,1733,2020-09-29,32,10,0.0,1016,32
1734,1734,2020-09-30,35,6,0.0,1015,36

In [522]:
final_la_fire

          Dates  Fire Intensity  Brightness
0    2015-03-09           5.900    320.1000
1    2015-03-19          43.800    321.2000
2    2015-03-20          17.740    317.7400
3    2015-04-09           3.200    318.9000
4    2015-04-14           8.200    302.1000
..          ...             ...         ...
457  2020-09-26          29.075    319.9500
458  2020-09-27          86.900    332.5875
459  2020-09-28          16.800    312.6200
460  2020-09-29          23.900    335.0000
461  2020-09-30           7.950    306.6000

[462 rows x 3 columns]

In [523]:
# add count of fires as feature
la_fire_cocunt = final_la_fire['Dates'].value_counts()
la_fire_cocunt

2018-08-27    1
2020-01-13    1
2020-02-07    1
2018-01-12    1
2016-03-21    1
             ..
2020-08-16    1
2015-04-19    1
2020-07-31    1
2017-06-29    1
2016-02-19    1
Name: Dates, Length: 462, dtype: int64

In [524]:
la_fire_count = la_fire_cocunt.to_frame().reset_index().rename(columns={"index":"Dates", "Dates":"Fire Count"}).sort_values(by="Dates", ascending=True)
la_fire_count

          Dates  Fire Count
175  2015-03-09           1
134  2015-03-19           1
292  2015-03-20           1
182  2015-04-09           1
43   2015-04-14           1
..          ...         ...
416  2020-09-26           1
376  2020-09-27           1
338  2020-09-28           1
190  2020-09-29           1
200  2020-09-30           1

[462 rows x 2 columns]

In [574]:
final_la_fire_merged = pd.merge(final_la_fire, la_fire_count, on='Dates', how='outer')
final_la_fire_merged

          Dates  Fire Intensity  Brightness  Fire Count
0    2015-03-09           5.900    320.1000           1
1    2015-03-19          43.800    321.2000           1
2    2015-03-20          17.740    317.7400           1
3    2015-04-09           3.200    318.9000           1
4    2015-04-14           8.200    302.1000           1
..          ...             ...         ...         ...
457  2020-09-26          29.075    319.9500           1
458  2020-09-27          86.900    332.5875           1
459  2020-09-28          16.800    312.6200           1
460  2020-09-29          23.900    335.0000           1
461  2020-09-30           7.950    306.6000           1

[462 rows x 4 columns]

In [649]:
los_angeles_data = pd.merge(final_la_weather, final_la_fire_merged, on='Dates', how='left')

In [650]:
los_angeles_data

,Unnamed: 0,Dates,Temperature,Wind Speed,Precipitation,Pressure,Heat Index,Fire Intensity,Brightness,Fire Count
0,0,2015-03-01,10,19,0.1,1013,17,NaN,NaN,NaN
1,1,2015-03-02,10,12,0.3,1012,15,NaN,NaN,NaN
2,2,2015-03-03,9,8,0.0,1013,19,NaN,NaN,NaN
3,3,2015-03-04,10,8,0.0,1019,23,NaN,NaN,NaN
4,4,2015-03-05,11,5,0.0,1024,24,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
2036,1730,2020-09-26,27,9,0.0,1013,28,29.075,319.9500,1.0
2037,1731,2020-09-27,27,10,0.0,1012,29,86.900,332.5875,1.0
2038,1732,2020-09-28,29,8,0.0,1014,31,16.800,312.6200,1.0
2039,1733,2020-09-29,32,10,0.0,1016,32,23.900,335.0000,1.0
2040,1734,2020-09-30,35,6,0.0,1015,36,7.950,306.6000,1.0

In [651]:
# bhai = los_angeles_data.fillna(los_angeles_data.mean())
bhai = los_angeles_data.fillna(0)
bhai

,Unnamed: 0,Dates,Temperature,Wind Speed,Precipitation,Pressure,Heat Index,Fire Intensity,Brightness,Fire Count
0,0,2015-03-01,10,19,0.1,1013,17,0.000,0.0000,0.0
1,1,2015-03-02,10,12,0.3,1012,15,0.000,0.0000,0.0
2,2,2015-03-03,9,8,0.0,1013,19,0.000,0.0000,0.0
3,3,2015-03-04,10,8,0.0,1019,23,0.000,0.0000,0.0
4,4,2015-03-05,11,5,0.0,1024,24,0.000,0.0000,0.0
...,...,...,...,...,...,...,...,...,...,...
2036,1730,2020-09-26,27,9,0.0,1013,28,29.075,319.9500,1.0
2037,1731,2020-09-27,27,10,0.0,1012,29,86.900,332.5875,1.0
2038,1732,2020-09-28,29,8,0.0,1014,31,16.800,312.6200,1.0
2039,1733,2020-09-29,32,10,0.0,1016,32,23.900,335.0000,1.0
2040,1734,2020-09-30,35,6,0.0,1015,36,7.950,306.6000,1.0

In [652]:
bhai.to_csv('final_la_data.csv')

## ML STARTS NOW
### DATA PREPROCESSING DONE

In [653]:
# IMPORT LIBRARIES
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, MinMaxScaler
from sklearn.linear_model import LinearRegression
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from tensorflow.keras.utils import to_categorical

In [654]:
src = pd.read_csv('final_la_data.csv', index_col=0)
src

,Unnamed: 0.1,Dates,Temperature,Wind Speed,Precipitation,Pressure,Heat Index,Fire Intensity,Brightness,Fire Count
0,0,2015-03-01,10,19,0.1,1013,17,0.000,0.0000,0.0
1,1,2015-03-02,10,12,0.3,1012,15,0.000,0.0000,0.0
2,2,2015-03-03,9,8,0.0,1013,19,0.000,0.0000,0.0
3,3,2015-03-04,10,8,0.0,1019,23,0.000,0.0000,0.0
4,4,2015-03-05,11,5,0.0,1024,24,0.000,0.0000,0.0
...,...,...,...,...,...,...,...,...,...,...
2036,1730,2020-09-26,27,9,0.0,1013,28,29.075,319.9500,1.0
2037,1731,2020-09-27,27,10,0.0,1012,29,86.900,332.5875,1.0
2038,1732,2020-09-28,29,8,0.0,1014,31,16.800,312.6200,1.0
2039,1733,2020-09-29,32,10,0.0,1016,32,23.900,335.0000,1.0
2040,1734,2020-09-30,35,6,0.0,1015,36,7.950,306.6000,1.0

In [655]:
df = src.loc[:, ~src.columns.str.contains('^Unnamed')]
df

,Dates,Temperature,Wind Speed,Precipitation,Pressure,Heat Index,Fire Intensity,Brightness,Fire Count
0,2015-03-01,10,19,0.1,1013,17,0.000,0.0000,0.0
1,2015-03-02,10,12,0.3,1012,15,0.000,0.0000,0.0
2,2015-03-03,9,8,0.0,1013,19,0.000,0.0000,0.0
3,2015-03-04,10,8,0.0,1019,23,0.000,0.0000,0.0
4,2015-03-05,11,5,0.0,1024,24,0.000,0.0000,0.0
...,...,...,...,...,...,...,...,...,...
2036,2020-09-26,27,9,0.0,1013,28,29.075,319.9500,1.0
2037,2020-09-27,27,10,0.0,1012,29,86.900,332.5875,1.0
2038,2020-09-28,29,8,0.0,1014,31,16.800,312.6200,1.0
2039,2020-09-29,32,10,0.0,1016,32,23.900,335.0000,1.0
2040,2020-09-30,35,6,0.0,1015,36,7.950,306.6000,1.0

In [656]:
df['Date'] = pd.to_datetime(df['Dates'], format="%Y-%m-%d")
df['month'] = df['Date'].dt.month
import calendar
df['month'] = df['month'].apply(lambda x: calendar.month_abbr[x])
df = df.drop(columns=['Dates', 'Date'])
df

,Temperature,Wind Speed,Precipitation,Pressure,Heat Index,Fire Intensity,Brightness,Fire Count,month
0,10,19,0.1,1013,17,0.000,0.0000,0.0,Mar
1,10,12,0.3,1012,15,0.000,0.0000,0.0,Mar
2,9,8,0.0,1013,19,0.000,0.0000,0.0,Mar
3,10,8,0.0,1019,23,0.000,0.0000,0.0,Mar
4,11,5,0.0,1024,24,0.000,0.0000,0.0,Mar
...,...,...,...,...,...,...,...,...,...
2036,27,9,0.0,1013,28,29.075,319.9500,1.0,Sep
2037,27,10,0.0,1012,29,86.900,332.5875,1.0,Sep
2038,29,8,0.0,1014,31,16.800,312.6200,1.0,Sep
2039,32,10,0.0,1016,32,23.900,335.0000,1.0,Sep
2040,35,6,0.0,1015,36,7.950,306.6000,1.0,Sep

In [657]:
src = pd.get_dummies(df, prefix=['month'])
src

,Temperature,Wind Speed,Precipitation,Pressure,Heat Index,Fire Intensity,Brightness,Fire Count,month_Apr,month_Aug,month_Dec,month_Feb,month_Jan,month_Jul,month_Jun,month_Mar,month_May,month_Nov,month_Oct,month_Sep
0,10,19,0.1,1013,17,0.000,0.0000,0.0,0,0,0,0,0,0,0,1,0,0,0,0
1,10,12,0.3,1012,15,0.000,0.0000,0.0,0,0,0,0,0,0,0,1,0,0,0,0
2,9,8,0.0,1013,19,0.000,0.0000,0.0,0,0,0,0,0,0,0,1,0,0,0,0
3,10,8,0.0,1019,23,0.000,0.0000,0.0,0,0,0,0,0,0,0,1,0,0,0,0
4,11,5,0.0,1024,24,0.000,0.0000,0.0,0,0,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2036,27,9,0.0,1013,28,29.075,319.9500,1.0,0,0,0,0,0,0,0,0,0,0,0,1
2037,27,10,0.0,1012,29,86.900,332.5875,1.0,0,0,0,0,0,0,0,0,0,0,0,1
2038,29,8,0.0,1014,31,16.800,312.6200,1.0,0,0,0,0,0,0,0,0,0,0,0,1
2039,32,10,0.0,1016,32,23.900,335.0000,1.0,0,0,0,0,0,0,0,0,0,0,0,1
2040,35,6,0.0,1015,36,7.950,306.6000,1.0,0,0,0,0,0,0,0,0,0,0,0,1

## Regression Take 1

In [658]:
X=src.drop("Fire Intensity", axis=1)
y=src["Fire Intensity"].values.reshape(-1,1)
print(X.shape,y.shape)

(2041, 19) (2041, 1)

In [659]:
# ok data setup epic
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [660]:
a = [X_train, X_test, y_train, y_test]
for m in a:
    print(len(m))

1530
511
1530
511

In [661]:
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

In [662]:

print(f"Training Data Score: {model.score(X_train, y_train)}")
print(f"Testing Data Score: {model.score(X_test, y_test)}")

Training Data Score: 0.6372851844132608
Testing Data Score: 0.5796676892796813

---
## Regression Take 2

In [663]:
X_c = src.drop("Fire Count", axis=1)
y_c = src["Fire Count"].values.reshape(-1,1)
print(X_c.shape, y_c.shape)

(2041, 19) (2041, 1)

In [664]:
X_c_train, X_c_test, y_c_train, y_c_test = train_test_split(X_c, y_c, random_state=1)

In [665]:
a = [X_c_train, X_c_test, y_c_train, y_c_test]
for m in a:
    print(len(m))

1530
511
1530
511

In [666]:
model_2 = LinearRegression()
model_2.fit(X_c_train, y_c_train)
print(f"Training Data Score: {model_2.score(X_c_train, y_c_train)}")
print(f"Testing Data Score: {model_2.score(X_c_test, y_c_test)}")

Training Data Score: 0.998044819349977
Testing Data Score: 0.9973135909716135

---

In [667]:
df = pd.merge(final_la_weather, final_la_fire_merged)
# df['Dates'] = pd.to_datetime(df['Dates'])
# mask = (df['Dates'] > '2020-07-01') & (df['Dates'] <= '2000-09-30')
# print(df.loc[mask])
df['date'] = pd.to_datetime(df['Dates'])
mask = (df['date'] > '2020-7-1') & (df['date'] <= '2020-9-30')
hol_out_df = df.loc[mask]

In [668]:
df = hol_out_df
df['Date'] = pd.to_datetime(df['Dates'], format="%Y-%m-%d")
df['month'] = df['Date'].dt.month
import calendar
df['month'] = df['month'].apply(lambda x: calendar.month_abbr[x])
df = df.loc[:, ~df.columns.str.contains('^Unnamed')].drop(columns=['Dates', 'Date', 'date'])
df

,Temperature,Wind Speed,Precipitation,Pressure,Heat Index,Fire Intensity,Brightness,Fire Count,month
417,27,10,0.0,1012,28,46.750000,332.600000,1,Jul
418,30,10,0.0,1016,30,10.650000,332.300000,1,Jul
419,27,13,0.0,1010,28,13.100000,334.900000,1,Jul
420,26,12,0.0,1013,27,7.800000,330.300000,1,Jul
421,27,11,0.0,1012,28,8.000000,304.600000,1,Jul
422,29,12,0.0,1013,30,18.200000,340.600000,1,Jul
423,32,10,0.0,1013,32,25.400000,328.100000,1,Jul
424,30,12,0.0,1013,31,10.900000,332.800000,1,Aug
425,24,13,0.0,1012,25,67.966667,348.366667,1,Aug
426,27,12,0.0,1013,27,7.600000,308.700000,1,Aug
427,29,12,0.2,1013,29,71.521569,343.286275,1,Aug
428,32,12,0.2,1012,32,996.927273,367.495455,1,Aug
429,33,9,0.0,1011,35,391.543750,374.325000,1,Aug
430,30,10,0.2,1013,31,202.025000,345.780000,1,Aug
431,31,10,0.0,1013,33,236.352381,361.495238,1,Aug
432,33,11,0.0,1013,36,171.023684,339.073684,1,Aug
433,32,13,0.0,1011,34,82.633333,327.300000,1,Aug
434,32,12,0.0,1009,35,177.700000,339.312500,1,Aug
435,32,12,0.0,1008,34,243.288000,350.552000,1,Aug
436,27,9,0.0,1013,29,14.200000,326.000000,1,Sep
437,39,10,0.0,1013,41,976.700000,367.642857,1,Sep
438,34,11,0.0,1008,35,118.416981,350.817925,1,Sep
439,29,13,0.0,1005,31,163.337681,336.240580,1,Sep
440,31,9,0.0,1012,30,221.611236,354.770787,1,Sep
441,30,10,0.0,1016,30,98.090385,329.309615,1,Sep
442,30,10,0.0,1015,30,101.385714,334.485714,1,Sep
443,30,12,0.0,1013,29,52.795000,331.045000,1,Sep
444,28,11,0.0,1013,29,242.560656,342.847541,1,Sep
445,30,8,0.0,1014,31,96.156180,342.741573,1,Sep
446,31,9,0.0,1017,31,179.358730,339.322222,1,Sep
447,32,9,0.0,1016,31,107.063725,339.105882,1,Sep
448,32,8,0.0,1014,31,190.062810,346.169421,1,Sep
449,32,9,0.0,1013,32,263.986547,356.414798,1,Sep
450,30,10,0.0,1012,31,154.471739,341.712500,1,Sep
451,29,9,0.0,1012,29,252.284211,338.757895,1,Sep
452,26,10,0.0,1014,28,157.552586,342.199138,1,Sep
453,27,8,0.0,1016,28,140.533333,326.111905,1,Sep
454,28,10,0.0,1017,28,29.697222,323.447222,1,Sep
455,29,9,0.0,1013,29,51.793750,320.106250,1,Sep
456,28,10,0.0,1014,28,12.987500,308.100000,1,Sep
457,27,9,0.0,1013,28,29.075000,319.950000,1,Sep
458,27,10,0.0,1012,29,86.900000,332.587500,1,Sep
459,29,8,0.0,1014,31,16.800000,312.620000,1,Sep
460,32,10,0.0,1016,32,23.900000,335.000000,1,Sep
461,35,6,0.0,1015,36,7.950000,306.600000,1,Sep

In [669]:
new_la  = pd.get_dummies(df, prefix=['month'])
new_la

,Temperature,Wind Speed,Precipitation,Pressure,Heat Index,Fire Intensity,Brightness,Fire Count,month_Aug,month_Jul,month_Sep
417,27,10,0.0,1012,28,46.750000,332.600000,1,0,1,0
418,30,10,0.0,1016,30,10.650000,332.300000,1,0,1,0
419,27,13,0.0,1010,28,13.100000,334.900000,1,0,1,0
420,26,12,0.0,1013,27,7.800000,330.300000,1,0,1,0
421,27,11,0.0,1012,28,8.000000,304.600000,1,0,1,0
422,29,12,0.0,1013,30,18.200000,340.600000,1,0,1,0
423,32,10,0.0,1013,32,25.400000,328.100000,1,0,1,0
424,30,12,0.0,1013,31,10.900000,332.800000,1,1,0,0
425,24,13,0.0,1012,25,67.966667,348.366667,1,1,0,0
426,27,12,0.0,1013,27,7.600000,308.700000,1,1,0,0
427,29,12,0.2,1013,29,71.521569,343.286275,1,1,0,0
428,32,12,0.2,1012,32,996.927273,367.495455,1,1,0,0
429,33,9,0.0,1011,35,391.543750,374.325000,1,1,0,0
430,30,10,0.2,1013,31,202.025000,345.780000,1,1,0,0
431,31,10,0.0,1013,33,236.352381,361.495238,1,1,0,0
432,33,11,0.0,1013,36,171.023684,339.073684,1,1,0,0
433,32,13,0.0,1011,34,82.633333,327.300000,1,1,0,0
434,32,12,0.0,1009,35,177.700000,339.312500,1,1,0,0
435,32,12,0.0,1008,34,243.288000,350.552000,1,1,0,0
436,27,9,0.0,1013,29,14.200000,326.000000,1,0,0,1
437,39,10,0.0,1013,41,976.700000,367.642857,1,0,0,1
438,34,11,0.0,1008,35,118.416981,350.817925,1,0,0,1
439,29,13,0.0,1005,31,163.337681,336.240580,1,0,0,1
440,31,9,0.0,1012,30,221.611236,354.770787,1,0,0,1
441,30,10,0.0,1016,30,98.090385,329.309615,1,0,0,1
442,30,10,0.0,1015,30,101.385714,334.485714,1,0,0,1
443,30,12,0.0,1013,29,52.795000,331.045000,1,0,0,1
444,28,11,0.0,1013,29,242.560656,342.847541,1,0,0,1
445,30,8,0.0,1014,31,96.156180,342.741573,1,0,0,1
446,31,9,0.0,1017,31,179.358730,339.322222,1,0,0,1
447,32,9,0.0,1016,31,107.063725,339.105882,1,0,0,1
448,32,8,0.0,1014,31,190.062810,346.169421,1,0,0,1
449,32,9,0.0,1013,32,263.986547,356.414798,1,0,0,1
450,30,10,0.0,1012,31,154.471739,341.712500,1,0,0,1
451,29,9,0.0,1012,29,252.284211,338.757895,1,0,0,1
452,26,10,0.0,1014,28,157.552586,342.199138,1,0,0,1
453,27,8,0.0,1016,28,140.533333,326.111905,1,0,0,1
454,28,10,0.0,1017,28,29.697222,323.447222,1,0,0,1
455,29,9,0.0,1013,29,51.793750,320.106250,1,0,0,1
456,28,10,0.0,1014,28,12.987500,308.100000,1,0,0,1
457,27,9,0.0,1013,28,29.075000,319.950000,1,0,0,1
458,27,10,0.0,1012,29,86.900000,332.587500,1,0,0,1
459,29,8,0.0,1014,31,16.800000,312.620000,1,0,0,1
460,32,10,0.0,1016,32,23.900000,335.000000,1,0,0,1
461,35,6,0.0,1015,36,7.950000,306.600000,1,0,0,1

In [670]:
new_la['month_October']=0
new_la['month_November']=0
new_la['month_December']=0
new_la['month_January']=0
new_la['month_February']=0
new_la['month_March']=0
new_la['month_April']=0
new_la['month_May']=0
new_la['month_June']=0
new_la

,Temperature,Wind Speed,Precipitation,Pressure,Heat Index,Fire Intensity,Brightness,Fire Count,month_Aug,month_Jul,month_Sep,month_October,month_November,month_December,month_January,month_February,month_March,month_April,month_May,month_June
417,27,10,0.0,1012,28,46.750000,332.600000,1,0,1,0,0,0,0,0,0,0,0,0,0
418,30,10,0.0,1016,30,10.650000,332.300000,1,0,1,0,0,0,0,0,0,0,0,0,0
419,27,13,0.0,1010,28,13.100000,334.900000,1,0,1,0,0,0,0,0,0,0,0,0,0
420,26,12,0.0,1013,27,7.800000,330.300000,1,0,1,0,0,0,0,0,0,0,0,0,0
421,27,11,0.0,1012,28,8.000000,304.600000,1,0,1,0,0,0,0,0,0,0,0,0,0
422,29,12,0.0,1013,30,18.200000,340.600000,1,0,1,0,0,0,0,0,0,0,0,0,0
423,32,10,0.0,1013,32,25.400000,328.100000,1,0,1,0,0,0,0,0,0,0,0,0,0
424,30,12,0.0,1013,31,10.900000,332.800000,1,1,0,0,0,0,0,0,0,0,0,0,0
425,24,13,0.0,1012,25,67.966667,348.366667,1,1,0,0,0,0,0,0,0,0,0,0,0
426,27,12,0.0,1013,27,7.600000,308.700000,1,1,0,0,0,0,0,0,0,0,0,0,0
427,29,12,0.2,1013,29,71.521569,343.286275,1,1,0,0,0,0,0,0,0,0,0,0,0
428,32,12,0.2,1012,32,996.927273,367.495455,1,1,0,0,0,0,0,0,0,0,0,0,0
429,33,9,0.0,1011,35,391.543750,374.325000,1,1,0,0,0,0,0,0,0,0,0,0,0
430,30,10,0.2,1013,31,202.025000,345.780000,1,1,0,0,0,0,0,0,0,0,0,0,0
431,31,10,0.0,1013,33,236.352381,361.495238,1,1,0,0,0,0,0,0,0,0,0,0,0
432,33,11,0.0,1013,36,171.023684,339.073684,1,1,0,0,0,0,0,0,0,0,0,0,0
433,32,13,0.0,1011,34,82.633333,327.300000,1,1,0,0,0,0,0,0,0,0,0,0,0
434,32,12,0.0,1009,35,177.700000,339.312500,1,1,0,0,0,0,0,0,0,0,0,0,0
435,32,12,0.0,1008,34,243.288000,350.552000,1,1,0,0,0,0,0,0,0,0,0,0,0
436,27,9,0.0,1013,29,14.200000,326.000000,1,0,0,1,0,0,0,0,0,0,0,0,0
437,39,10,0.0,1013,41,976.700000,367.642857,1,0,0,1,0,0,0,0,0,0,0,0,0
438,34,11,0.0,1008,35,118.416981,350.817925,1,0,0,1,0,0,0,0,0,0,0,0,0
439,29,13,0.0,1005,31,163.337681,336.240580,1,0,0,1,0,0,0,0,0,0,0,0,0
440,31,9,0.0,1012,30,221.611236,354.770787,1,0,0,1,0,0,0,0,0,0,0,0,0
441,30,10,0.0,1016,30,98.090385,329.309615,1,0,0,1,0,0,0,0,0,0,0,0,0
442,30,10,0.0,1015,30,101.385714,334.485714,1,0,0,1,0,0,0,0,0,0,0,0,0
443,30,12,0.0,1013,29,52.795000,331.045000,1,0,0,1,0,0,0,0,0,0,0,0,0
444,28,11,0.0,1013,29,242.560656,342.847541,1,0,0,1,0,0,0,0,0,0,0,0,0
445,30,8,0.0,1014,31,96.156180,342.741573,1,0,0,1,0,0,0,0,0,0,0,0,0
446,31,9,0.0,1017,31,179.358730,339.322222,1,0,0,1,0,0,0,0,0,0,0,0,0
447,32,9,0.0,1016,31,107.063725,339.105882,1,0,0,1,0,0,0,0,0,0,0,0,0
448,32,8,0.0,1014,31,190.062810,346.169421,1,0,0,1,0,0,0,0,0,0,0,0,0
449,32,9,0.0,1013,32,263.986547,356.414798,1,0,0,1,0,0,0,0,0,0,0,0,0
450,30,10,0.0,1012,31,154.471739,341.712500,1,0,0,1,0,0,0,0,0,0,0,0,0
451,29,9,0.0,1012,29,252.284211,338.757895,1,0,0,1,0,0,0,0,0,0,0,0,0
452,26,10,0.0,1014,28,157.552586,342.199138,1,0,0,1,0,0,0,0,0,0,0,0,0
453,27,8,0.0,1016,28,140.533333,326.111905,1,0,0,1,0,0,0,0,0,0,0,0,0
454,28,10,0.0,1017,28,29.697222,323.447222,1,0,0,1,0,0,0,0,0,0,0,0,0
455,29,9,0.0,1013,29,51.793750,320.106250,1,0,0,1,0,0,0,0,0,0,0,0,0
456,28,10,0.0,1014,28,12.987500,308.100000,1,0,0,1,0,0,0,0,0,0,0,0,0
457,27,9,0.0,1013,28,29.075000,319.950000,1,0,0,1,0,0,0,0,0,0,0,0,0
458,27,10,0.0,1012,29,86.900000,332.587500,1,0,0,1,0,0,0,0,0,0,0,0,0
459,29,8,0.0,1014,31,16.800000,312.620000,1,0,0,1,0,0,0,0,0,0,0,0,0
460,32,10,0.0,1016,32,23.900000,335.000000,1,0,0,1,0,0,0,0,0,0,0,0,0
461,35,6,0.0,1015,36,7.950000,306.600000,1,0,0,1,0,0,0,0,0,0,0,0,0

## PREDICTION
(i should really have split the dataset lol)

In [671]:
#predict FRP values
X_new_fire=new_la.drop("Fire Intensity", axis=1)
new_fire=model.predict(X_new_fire)
len(new_fire)

45

In [672]:
new_fire

array([[ 85.5244952 ],
       [ 85.77154743],
       [ 94.27854317],
       [ 76.2112273 ],
       [-26.26748459],
       [118.16023603],
       [ 69.00734549],
       [ 82.53245231],
       [142.8033879 ],
       [-14.63043848],
       [124.00601653],
       [221.29427494],
       [248.94313984],
       [134.40307827],
       [197.52271822],
       [108.68031227],
       [ 60.8698405 ],
       [108.59871888],
       [153.15494993],
       [ 64.28510715],
       [233.82953714],
       [164.21086064],
       [104.16577244],
       [179.68233922],
       [ 78.61139688],
       [ 99.08926465],
       [ 84.82054027],
       [131.65111386],
       [132.02601094],
       [119.06196361],
       [118.16545598],
       [146.01270799],
       [186.8330566 ],
       [127.51024623],
       [115.33171717],
       [128.8375504 ],
       [ 65.17870806],
       [ 54.83880708],
       [ 41.06113378],
       [ -6.97885008],
       [ 40.00826846],
       [ 90.37767793],
       [ 11.63283485],
       [101.88182995],
       [-10.6355353 ]])

In [673]:
new_fire_list=[]
for i in range(len(new_fire)):
    new_fire_list.append(new_fire[i][0])
new_fire_list

[85.52449520046358,
 85.77154742702524,
 94.27854316506901,
 76.21122730468451,
 -26.267484593369204,
 118.16023602841292,
 69.00734549211771,
 82.53245231457421,
 142.8033879040673,
 -14.630438480358123,
 124.00601652832287,
 221.29427494487217,
 248.94313984164782,
 134.40307827276214,
 197.52271821538633,
 108.68031227002743,
 60.869840496632435,
 108.59871887638687,
 153.154949933457,
 64.28510714857848,
 233.8295371424011,
 164.21086063790298,
 104.16577244405207,
 179.68233922201043,
 78.61139688470402,
 99.08926464934697,
 84.82054027428248,
 131.65111385769873,
 132.02601094166047,
 119.06196360679027,
 118.16545598023421,
 146.01270799335006,
 186.83305659508332,
 127.51024622885038,
 115.33171717404375,
 128.8375503987057,
 65.17870805623451,
 54.83880707711643,
 41.061133776440386,
 -6.978850084403291,
 40.00826846226238,
 90.37767793320344,
 11.632834854857776,
 101.88182994524809,
 -10.635535298159027]

In [637]:
# prediciton data farme
predict_df=pd.DataFrame({'Fire Intensity': new_fire_list})
predict_df

    Fire Intensity
0        74.672755
1        76.782775
2        75.725114
3        72.082963
4        69.535390
5        79.029996
6        80.563014
7        73.666036
8        66.687940
9        62.848122
10       72.730146
11       82.593036
12       88.565791
13       76.330033
14       82.029706
15       82.651339
16       78.138199
17       82.504649
18       83.573265
19       78.772493
20      106.594550
21       95.604761
22       86.926769
23       87.070623
24       80.517322
25       81.845389
26       80.538746
27       82.072008
28       85.188441
29       83.688808
30       84.366053
31       86.470858
32       90.035852
33       85.682124
34       82.138220
35       79.592682
36       76.316623
37       75.681574
38       78.360120
39       74.052196
40       76.310665
41       80.310579
42       79.382345
43       84.934814
44       86.780886

In [674]:
new_dates = pd.date_range(start='2020-10-01', end='2020-11-30', freq='D')
print(new_dates)
print(len(new_dates))

DatetimeIndex(['2020-10-01', '2020-10-02', '2020-10-03', '2020-10-04',
               '2020-10-05', '2020-10-06', '2020-10-07', '2020-10-08',
               '2020-10-09', '2020-10-10', '2020-10-11', '2020-10-12',
               '2020-10-13', '2020-10-14', '2020-10-15', '2020-10-16',
               '2020-10-17', '2020-10-18', '2020-10-19', '2020-10-20',
               '2020-10-21', '2020-10-22', '2020-10-23', '2020-10-24',
               '2020-10-25', '2020-10-26', '2020-10-27', '2020-10-28',
               '2020-10-29', '2020-10-30', '2020-10-31', '2020-11-01',
               '2020-11-02', '2020-11-03', '2020-11-04', '2020-11-05',
               '2020-11-06', '2020-11-07', '2020-11-08', '2020-11-09',
               '2020-11-10', '2020-11-11', '2020-11-12', '2020-11-13',
               '2020-11-14', '2020-11-15', '2020-11-16', '2020-11-17',
               '2020-11-18', '2020-11-19', '2020-11-20', '2020-11-21',
               '2020-11-22', '2020-11-23', '2020-11-24', '2020-11-25',
               '2020-11-26', '2020-11-27', '2020-11-28', '2020-11-29',
               '2020-11-30'],
              dtype='datetime64[ns]', freq='D')
61

In [675]:
predict_df['Dates']=list(new_dates)[:45]

In [676]:
predict_df

    Fire Intensity      Dates
0        74.672755 2020-10-01
1        76.782775 2020-10-02
2        75.725114 2020-10-03
3        72.082963 2020-10-04
4        69.535390 2020-10-05
5        79.029996 2020-10-06
6        80.563014 2020-10-07
7        73.666036 2020-10-08
8        66.687940 2020-10-09
9        62.848122 2020-10-10
10       72.730146 2020-10-11
11       82.593036 2020-10-12
12       88.565791 2020-10-13
13       76.330033 2020-10-14
14       82.029706 2020-10-15
15       82.651339 2020-10-16
16       78.138199 2020-10-17
17       82.504649 2020-10-18
18       83.573265 2020-10-19
19       78.772493 2020-10-20
20      106.594550 2020-10-21
21       95.604761 2020-10-22
22       86.926769 2020-10-23
23       87.070623 2020-10-24
24       80.517322 2020-10-25
25       81.845389 2020-10-26
26       80.538746 2020-10-27
27       82.072008 2020-10-28
28       85.188441 2020-10-29
29       83.688808 2020-10-30
30       84.366053 2020-10-31
31       86.470858 2020-11-01
32       90.035852 2020-11-02
33       85.682124 2020-11-03
34       82.138220 2020-11-04
35       79.592682 2020-11-05
36       76.316623 2020-11-06
37       75.681574 2020-11-07
38       78.360120 2020-11-08
39       74.052196 2020-11-09
40       76.310665 2020-11-10
41       80.310579 2020-11-11
42       79.382345 2020-11-12
43       84.934814 2020-11-13
44       86.780886 2020-11-14

In [677]:
predict_df.to_csv('FINAL_LA_44_DAYS.csv')