## PHOENIX MODEL

In [1]:
import pandas as pd
prev_la_weather = pd.read_csv('San+Francisco.csv')
prev_la_weather.head()

,Unnamed: 0,Dates,Temperature,Wind Speed,Precipitation,Pressure,Heat Index
0,0,2016-01-01,5,18,0.0,1021,8
1,1,2016-01-02,7,12,0.0,1016,10
2,2,2016-01-03,9,15,0.0,1010,12
3,3,2016-01-04,9,11,1.7,1019,14
4,4,2016-01-05,11,9,0.0,1006,11

In [3]:
prev_la_weather.tail()

,Unnamed: 0,Dates,Temperature,Wind Speed,Precipitation,Pressure,Heat Index
1730,1730,2020-09-26,36,7,0.0,1013,35
1731,1731,2020-09-27,36,1,0.0,1013,36
1732,1732,2020-09-28,35,10,0.0,1015,35
1733,1733,2020-09-29,32,16,0.0,1017,31
1734,1734,2020-09-30,36,6,0.0,1016,36

In [2]:
start_dates=['2015-03-01', '2015-04-01', '2015-05-01', '2015-06-01', '2015-07-01', '2015-08-01', '2015-09-01', '2015-10-01', '2015-11-01', '2015-12-01']
end_dates=['2015-03-31', '2015-04-30', '2015-05-31', '2015-06-30', '2015-07-31', '2015-08-31', '2015-09-30', '2015-10-31', '2015-11-30', '2015-12-31']

In [3]:
import requests
def get_weather(city):
    city_dat = []
    dates, temp, wind, precip, pressure, heat = [], [] ,[], [], [], []
    for i in range(len(start_dates)):
        res_str = f'http://api.worldweatheronline.com/premium/v1/past-weather.ashx?key=7b7c4ad8a29e48c3a51114119200310&q={city}&format=json&date={start_dates[i]}&enddate={end_dates[i]}'
        city_dat.append(res_str)
#     print(city_dat[0])
        res = requests.get(res_str).json()['data']['weather']
        for j in range(len(res)):
            dates.append(res[j]['date'])
            temp.append(res[j]['avgtempC'])
            wind.append(res[j]['hourly'][4]['windspeedKmph'])
            precip.append(res[j]['hourly'][4]['precipMM'])
            pressure.append(res[j]['hourly'][4]['pressure'])
            heat.append(res[j]['hourly'][4]['HeatIndexC'])
    city_df = pd.DataFrame({
        "Dates":dates,
        "Temperature": temp,
        "Wind Speed": wind,
        "Precipitation": precip,
        "Pressure": pressure,
        "Heat Index": heat
    })
    city_df.to_csv(f'{city}.csv')
    print("OK")

In [4]:
get_weather('San+Francisco')

OK

In [5]:
new_la_weather = pd.read_csv('San+Francisco.csv')

In [6]:
new_la_weather.head()

,Unnamed: 0,Dates,Temperature,Wind Speed,Precipitation,Pressure,Heat Index
0,0,2015-03-01,11,10,0.0,1014,17
1,1,2015-03-02,11,8,0.0,1010,14
2,2,2015-03-03,11,6,0.0,1016,17
3,3,2015-03-04,11,2,0.0,1020,20
4,4,2015-03-05,13,8,0.0,1026,21

In [7]:
final_la_weather = pd.concat([new_la_weather,prev_la_weather])
final_la_weather

,Unnamed: 0,Dates,Temperature,Wind Speed,Precipitation,Pressure,Heat Index
0,0,2015-03-01,11,10,0.0,1014,17
1,1,2015-03-02,11,8,0.0,1010,14
2,2,2015-03-03,11,6,0.0,1016,17
3,3,2015-03-04,11,2,0.0,1020,20
4,4,2015-03-05,13,8,0.0,1026,21
...,...,...,...,...,...,...,...
1730,1730,2020-09-26,22,10,0.0,1016,25
1731,1731,2020-09-27,26,8,0.0,1012,27
1732,1732,2020-09-28,27,5,0.0,1013,28
1733,1733,2020-09-29,25,6,0.0,1016,27
1734,1734,2020-09-30,23,6,0.0,1018,26

In [8]:
final_la_weather.to_csv('final_la_weather.csv')

---
## WEATHER COMPLETE, LA FIRE TIME

In [9]:
final_la_fire = pd.read_csv('la_fire_data.csv')

In [10]:
final_la_fire

     Unnamed: 0        Date   Latitude   Longitude  Fire Intensity  Brightness
0             0  2015-03-02  37.678900 -121.340300       10.600000  302.000000
1             1  2015-03-03  38.983429 -121.646743       17.700000  309.285714
2             2  2015-03-04  39.104200 -121.540475        4.975000  305.925000
3             3  2015-03-05  39.071400 -121.981025       12.175000  316.300000
4             4  2015-03-06  38.716450 -122.073350        6.850000  309.700000
..          ...         ...        ...         ...             ...         ...
954         954  2020-09-24  39.011500 -121.597500       20.100000  315.250000
955         955  2020-09-27  38.571227 -122.492545      157.545455  351.018182
956         956  2020-09-28  38.522283 -122.540132      172.746769  358.553538
957         957  2020-09-29  38.569357 -122.534357       73.657143  324.331429
958         958  2020-09-30  38.585699 -122.513516       49.594624  329.426882

[959 rows x 6 columns]

In [11]:
# remove unnamed columns
df = final_la_fire
df = df.loc[:, ~df.columns.str.contains('^Unnamed')].drop(columns=['Latitude', 'Longitude'])
df

           Date  Fire Intensity  Brightness
0    2015-03-02       10.600000  302.000000
1    2015-03-03       17.700000  309.285714
2    2015-03-04        4.975000  305.925000
3    2015-03-05       12.175000  316.300000
4    2015-03-06        6.850000  309.700000
..          ...             ...         ...
954  2020-09-24       20.100000  315.250000
955  2020-09-27      157.545455  351.018182
956  2020-09-28      172.746769  358.553538
957  2020-09-29       73.657143  324.331429
958  2020-09-30       49.594624  329.426882

[959 rows x 3 columns]

In [12]:
# reassign to good var name
final_la_fire = df
final_la_fire = final_la_fire.rename(columns={'Date':"Dates"})
final_la_fire

          Dates  Fire Intensity  Brightness
0    2015-03-02       10.600000  302.000000
1    2015-03-03       17.700000  309.285714
2    2015-03-04        4.975000  305.925000
3    2015-03-05       12.175000  316.300000
4    2015-03-06        6.850000  309.700000
..          ...             ...         ...
954  2020-09-24       20.100000  315.250000
955  2020-09-27      157.545455  351.018182
956  2020-09-28      172.746769  358.553538
957  2020-09-29       73.657143  324.331429
958  2020-09-30       49.594624  329.426882

[959 rows x 3 columns]

In [13]:
final_la_weather

,Unnamed: 0,Dates,Temperature,Wind Speed,Precipitation,Pressure,Heat Index
0,0,2015-03-01,11,10,0.0,1014,17
1,1,2015-03-02,11,8,0.0,1010,14
2,2,2015-03-03,11,6,0.0,1016,17
3,3,2015-03-04,11,2,0.0,1020,20
4,4,2015-03-05,13,8,0.0,1026,21
...,...,...,...,...,...,...,...
1730,1730,2020-09-26,22,10,0.0,1016,25
1731,1731,2020-09-27,26,8,0.0,1012,27
1732,1732,2020-09-28,27,5,0.0,1013,28
1733,1733,2020-09-29,25,6,0.0,1016,27
1734,1734,2020-09-30,23,6,0.0,1018,26

In [522]:
final_la_fire

          Dates  Fire Intensity  Brightness
0    2015-03-09           5.900    320.1000
1    2015-03-19          43.800    321.2000
2    2015-03-20          17.740    317.7400
3    2015-04-09           3.200    318.9000
4    2015-04-14           8.200    302.1000
..          ...             ...         ...
457  2020-09-26          29.075    319.9500
458  2020-09-27          86.900    332.5875
459  2020-09-28          16.800    312.6200
460  2020-09-29          23.900    335.0000
461  2020-09-30           7.950    306.6000

[462 rows x 3 columns]

In [14]:
# add count of fires as feature
la_fire_cocunt = final_la_fire['Dates'].value_counts()
la_fire_cocunt

2015-06-01    1
2019-09-23    1
2017-10-04    1
2018-04-17    1
2017-06-13    1
             ..
2017-04-01    1
2018-05-29    1
2016-10-05    1
2015-07-13    1
2018-01-23    1
Name: Dates, Length: 959, dtype: int64

In [15]:
la_fire_count = la_fire_cocunt.to_frame().reset_index().rename(columns={"index":"Dates", "Dates":"Fire Count"}).sort_values(by="Dates", ascending=True)
la_fire_count

          Dates  Fire Count
299  2015-03-02           1
319  2015-03-03           1
591  2015-03-04           1
216  2015-03-05           1
499  2015-03-06           1
..          ...         ...
84   2020-09-24           1
906  2020-09-27           1
764  2020-09-28           1
781  2020-09-29           1
260  2020-09-30           1

[959 rows x 2 columns]

In [16]:
final_la_fire_merged = pd.merge(final_la_fire, la_fire_count, on='Dates', how='outer')
final_la_fire_merged

          Dates  Fire Intensity  Brightness  Fire Count
0    2015-03-02       10.600000  302.000000           1
1    2015-03-03       17.700000  309.285714           1
2    2015-03-04        4.975000  305.925000           1
3    2015-03-05       12.175000  316.300000           1
4    2015-03-06        6.850000  309.700000           1
..          ...             ...         ...         ...
954  2020-09-24       20.100000  315.250000           1
955  2020-09-27      157.545455  351.018182           1
956  2020-09-28      172.746769  358.553538           1
957  2020-09-29       73.657143  324.331429           1
958  2020-09-30       49.594624  329.426882           1

[959 rows x 4 columns]

In [17]:
los_angeles_data = pd.merge(final_la_weather, final_la_fire_merged, on='Dates', how='left')

In [18]:
los_angeles_data

,Unnamed: 0,Dates,Temperature,Wind Speed,Precipitation,Pressure,Heat Index,Fire Intensity,Brightness,Fire Count
0,0,2015-03-01,11,10,0.0,1014,17,NaN,NaN,NaN
1,1,2015-03-02,11,8,0.0,1010,14,10.600000,302.000000,1.0
2,2,2015-03-03,11,6,0.0,1016,17,17.700000,309.285714,1.0
3,3,2015-03-04,11,2,0.0,1020,20,4.975000,305.925000,1.0
4,4,2015-03-05,13,8,0.0,1026,21,12.175000,316.300000,1.0
...,...,...,...,...,...,...,...,...,...,...
2036,1730,2020-09-26,22,10,0.0,1016,25,NaN,NaN,NaN
2037,1731,2020-09-27,26,8,0.0,1012,27,157.545455,351.018182,1.0
2038,1732,2020-09-28,27,5,0.0,1013,28,172.746769,358.553538,1.0
2039,1733,2020-09-29,25,6,0.0,1016,27,73.657143,324.331429,1.0
2040,1734,2020-09-30,23,6,0.0,1018,26,49.594624,329.426882,1.0

In [19]:
# bhai = los_angeles_data.fillna(los_angeles_data.mean())
bhai = los_angeles_data.fillna(0)
bhai

,Unnamed: 0,Dates,Temperature,Wind Speed,Precipitation,Pressure,Heat Index,Fire Intensity,Brightness,Fire Count
0,0,2015-03-01,11,10,0.0,1014,17,0.000000,0.000000,0.0
1,1,2015-03-02,11,8,0.0,1010,14,10.600000,302.000000,1.0
2,2,2015-03-03,11,6,0.0,1016,17,17.700000,309.285714,1.0
3,3,2015-03-04,11,2,0.0,1020,20,4.975000,305.925000,1.0
4,4,2015-03-05,13,8,0.0,1026,21,12.175000,316.300000,1.0
...,...,...,...,...,...,...,...,...,...,...
2036,1730,2020-09-26,22,10,0.0,1016,25,0.000000,0.000000,0.0
2037,1731,2020-09-27,26,8,0.0,1012,27,157.545455,351.018182,1.0
2038,1732,2020-09-28,27,5,0.0,1013,28,172.746769,358.553538,1.0
2039,1733,2020-09-29,25,6,0.0,1016,27,73.657143,324.331429,1.0
2040,1734,2020-09-30,23,6,0.0,1018,26,49.594624,329.426882,1.0

In [20]:
bhai.to_csv('final_la_data.csv')

## ML STARTS NOW
### DATA PREPROCESSING DONE

In [21]:
# IMPORT LIBRARIES
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, MinMaxScaler
from sklearn.linear_model import LinearRegression
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from tensorflow.keras.utils import to_categorical

/home/pseudocodenerd/anaconda3/envs/torch/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:516: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/home/pseudocodenerd/anaconda3/envs/torch/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:517: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/home/pseudocodenerd/anaconda3/envs/torch/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:518: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/home/pseudocodenerd/anaconda3/envs/torch/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/home/pseudocodenerd/anaconda3/envs/torch/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/home/pseudocodenerd/anaconda3/envs/torch/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:525: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])
/home/pseudocodenerd/anaconda3/envs/torch/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:541: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/home/pseudocodenerd/anaconda3/envs/torch/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:542: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/home/pseudocodenerd/anaconda3/envs/torch/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:543: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/home/pseudocodenerd/anaconda3/envs/torch/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:544: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/home/pseudocodenerd/anaconda3/envs/torch/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:545: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/home/pseudocodenerd/anaconda3/envs/torch/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:550: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

In [22]:
src = pd.read_csv('final_la_data.csv', index_col=0)
src

,Unnamed: 0.1,Dates,Temperature,Wind Speed,Precipitation,Pressure,Heat Index,Fire Intensity,Brightness,Fire Count
0,0,2015-03-01,11,10,0.0,1014,17,0.000000,0.000000,0.0
1,1,2015-03-02,11,8,0.0,1010,14,10.600000,302.000000,1.0
2,2,2015-03-03,11,6,0.0,1016,17,17.700000,309.285714,1.0
3,3,2015-03-04,11,2,0.0,1020,20,4.975000,305.925000,1.0
4,4,2015-03-05,13,8,0.0,1026,21,12.175000,316.300000,1.0
...,...,...,...,...,...,...,...,...,...,...
2036,1730,2020-09-26,22,10,0.0,1016,25,0.000000,0.000000,0.0
2037,1731,2020-09-27,26,8,0.0,1012,27,157.545455,351.018182,1.0
2038,1732,2020-09-28,27,5,0.0,1013,28,172.746769,358.553538,1.0
2039,1733,2020-09-29,25,6,0.0,1016,27,73.657143,324.331429,1.0
2040,1734,2020-09-30,23,6,0.0,1018,26,49.594624,329.426882,1.0

In [23]:
df = src.loc[:, ~src.columns.str.contains('^Unnamed')]
df

,Dates,Temperature,Wind Speed,Precipitation,Pressure,Heat Index,Fire Intensity,Brightness,Fire Count
0,2015-03-01,11,10,0.0,1014,17,0.000000,0.000000,0.0
1,2015-03-02,11,8,0.0,1010,14,10.600000,302.000000,1.0
2,2015-03-03,11,6,0.0,1016,17,17.700000,309.285714,1.0
3,2015-03-04,11,2,0.0,1020,20,4.975000,305.925000,1.0
4,2015-03-05,13,8,0.0,1026,21,12.175000,316.300000,1.0
...,...,...,...,...,...,...,...,...,...
2036,2020-09-26,22,10,0.0,1016,25,0.000000,0.000000,0.0
2037,2020-09-27,26,8,0.0,1012,27,157.545455,351.018182,1.0
2038,2020-09-28,27,5,0.0,1013,28,172.746769,358.553538,1.0
2039,2020-09-29,25,6,0.0,1016,27,73.657143,324.331429,1.0
2040,2020-09-30,23,6,0.0,1018,26,49.594624,329.426882,1.0

In [24]:
df['Date'] = pd.to_datetime(df['Dates'], format="%Y-%m-%d")
df['month'] = df['Date'].dt.month
import calendar
df['month'] = df['month'].apply(lambda x: calendar.month_abbr[x])
df = df.drop(columns=['Dates', 'Date'])
df

,Temperature,Wind Speed,Precipitation,Pressure,Heat Index,Fire Intensity,Brightness,Fire Count,month
0,11,10,0.0,1014,17,0.000000,0.000000,0.0,Mar
1,11,8,0.0,1010,14,10.600000,302.000000,1.0,Mar
2,11,6,0.0,1016,17,17.700000,309.285714,1.0,Mar
3,11,2,0.0,1020,20,4.975000,305.925000,1.0,Mar
4,13,8,0.0,1026,21,12.175000,316.300000,1.0,Mar
...,...,...,...,...,...,...,...,...,...
2036,22,10,0.0,1016,25,0.000000,0.000000,0.0,Sep
2037,26,8,0.0,1012,27,157.545455,351.018182,1.0,Sep
2038,27,5,0.0,1013,28,172.746769,358.553538,1.0,Sep
2039,25,6,0.0,1016,27,73.657143,324.331429,1.0,Sep
2040,23,6,0.0,1018,26,49.594624,329.426882,1.0,Sep

In [25]:
src = pd.get_dummies(df, prefix=['month'])
src

,Temperature,Wind Speed,Precipitation,Pressure,Heat Index,Fire Intensity,Brightness,Fire Count,month_Apr,month_Aug,month_Dec,month_Feb,month_Jan,month_Jul,month_Jun,month_Mar,month_May,month_Nov,month_Oct,month_Sep
0,11,10,0.0,1014,17,0.000000,0.000000,0.0,0,0,0,0,0,0,0,1,0,0,0,0
1,11,8,0.0,1010,14,10.600000,302.000000,1.0,0,0,0,0,0,0,0,1,0,0,0,0
2,11,6,0.0,1016,17,17.700000,309.285714,1.0,0,0,0,0,0,0,0,1,0,0,0,0
3,11,2,0.0,1020,20,4.975000,305.925000,1.0,0,0,0,0,0,0,0,1,0,0,0,0
4,13,8,0.0,1026,21,12.175000,316.300000,1.0,0,0,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2036,22,10,0.0,1016,25,0.000000,0.000000,0.0,0,0,0,0,0,0,0,0,0,0,0,1
2037,26,8,0.0,1012,27,157.545455,351.018182,1.0,0,0,0,0,0,0,0,0,0,0,0,1
2038,27,5,0.0,1013,28,172.746769,358.553538,1.0,0,0,0,0,0,0,0,0,0,0,0,1
2039,25,6,0.0,1016,27,73.657143,324.331429,1.0,0,0,0,0,0,0,0,0,0,0,0,1
2040,23,6,0.0,1018,26,49.594624,329.426882,1.0,0,0,0,0,0,0,0,0,0,0,0,1

## Regression Take 1

In [26]:
X=src.drop("Fire Intensity", axis=1)
y=src["Fire Intensity"].values.reshape(-1,1)
print(X.shape,y.shape)

(2041, 19) (2041, 1)

In [27]:
# ok data setup epic
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [28]:
a = [X_train, X_test, y_train, y_test]
for m in a:
    print(len(m))

1530
511
1530
511

In [29]:
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

In [30]:

print(f"Training Data Score: {model.score(X_train, y_train)}")
print(f"Testing Data Score: {model.score(X_test, y_test)}")

Training Data Score: 0.4690341320990671
Testing Data Score: 0.5117806690829383

---
## Regression Take 2

In [31]:
X_c = src.drop("Fire Count", axis=1)
y_c = src["Fire Count"].values.reshape(-1,1)
print(X_c.shape, y_c.shape)

(2041, 19) (2041, 1)

In [32]:
X_c_train, X_c_test, y_c_train, y_c_test = train_test_split(X_c, y_c, random_state=1)

In [33]:
a = [X_c_train, X_c_test, y_c_train, y_c_test]
for m in a:
    print(len(m))

1530
511
1530
511

In [34]:
model_2 = LinearRegression()
model_2.fit(X_c_train, y_c_train)
print(f"Training Data Score: {model_2.score(X_c_train, y_c_train)}")
print(f"Testing Data Score: {model_2.score(X_c_test, y_c_test)}")

Training Data Score: 0.9987072154958989
Testing Data Score: 0.9988713755573047

---

In [35]:
df = pd.merge(final_la_weather, final_la_fire_merged)
# df['Dates'] = pd.to_datetime(df['Dates'])
# mask = (df['Dates'] > '2020-07-01') & (df['Dates'] <= '2000-09-30')
# print(df.loc[mask])
df['date'] = pd.to_datetime(df['Dates'])
mask = (df['date'] > '2020-7-1') & (df['date'] <= '2020-9-30')
hol_out_df = df.loc[mask]

In [36]:
df = hol_out_df
df['Date'] = pd.to_datetime(df['Dates'], format="%Y-%m-%d")
df['month'] = df['Date'].dt.month
import calendar
df['month'] = df['month'].apply(lambda x: calendar.month_abbr[x])
df = df.loc[:, ~df.columns.str.contains('^Unnamed')].drop(columns=['Dates', 'Date', 'date'])
df

,Temperature,Wind Speed,Precipitation,Pressure,Heat Index,Fire Intensity,Brightness,Fire Count,month
918,17,12,0.0,1012,19,21.166667,332.733333,1,Jul
919,21,10,0.0,1016,24,23.133333,317.033333,1,Jul
920,18,15,0.0,1014,19,43.116667,332.766667,1,Jul
921,19,8,0.0,1015,20,34.950000,325.483333,1,Jul
922,17,13,0.0,1013,19,16.325000,324.500000,1,Jul
923,19,12,0.0,1012,20,16.500000,331.050000,1,Jul
924,18,12,0.0,1014,20,14.450000,315.850000,1,Jul
925,18,14,0.0,1015,20,38.300000,327.600000,1,Jul
926,17,13,0.0,1012,18,30.500000,327.000000,1,Jul
927,19,11,0.0,1012,21,11.875000,325.850000,1,Jul
928,16,14,0.0,1013,17,25.600000,334.500000,1,Jul
929,19,10,0.0,1013,21,11.100000,326.250000,1,Jul
930,19,12,0.0,1013,20,10.700000,327.700000,1,Jul
931,20,12,0.0,1013,21,60.650000,355.700000,1,Jul
932,20,12,0.0,1015,22,13.400000,324.600000,1,Jul
933,21,8,0.0,1016,25,10.050000,324.350000,1,Aug
934,17,12,0.0,1015,18,20.766667,330.166667,1,Aug
935,18,9,0.0,1013,19,31.250000,329.950000,1,Aug
936,21,10,0.0,1014,25,7.600000,323.800000,1,Aug
937,21,12,0.0,1013,25,75.400000,362.500000,1,Aug
938,23,9,0.5,1013,25,261.950000,345.500000,1,Aug
939,23,10,0.1,1014,26,7.900000,322.500000,1,Aug
940,23,9,0.0,1015,25,157.639655,334.524138,1,Aug
941,24,11,0.0,1014,26,315.387240,361.240365,1,Aug
942,22,9,0.0,1013,25,75.337716,333.002422,1,Aug
943,22,9,0.0,1011,25,35.016901,321.087324,1,Aug
944,21,8,0.0,1011,25,84.238636,337.543182,1,Aug
945,20,10,0.0,1012,25,80.954348,325.891304,1,Aug
946,21,10,0.0,1011,25,129.239286,346.685714,1,Aug
947,19,12,0.0,1012,22,56.639216,323.182353,1,Aug
948,18,12,0.0,1010,20,60.540000,336.620000,1,Aug
949,19,10,0.0,1010,19,25.561538,319.557692,1,Aug
950,21,9,0.0,1009,25,26.600000,317.188889,1,Aug
951,19,11,0.0,1011,21,33.425000,322.325000,1,Aug
952,22,8,0.0,1009,25,15.600000,331.800000,1,Aug
953,19,10,0.0,1016,21,19.200000,328.900000,1,Sep
954,20,11,0.0,1018,25,20.100000,315.250000,1,Sep
955,26,8,0.0,1012,27,157.545455,351.018182,1,Sep
956,27,5,0.0,1013,28,172.746769,358.553538,1,Sep
957,25,6,0.0,1016,27,73.657143,324.331429,1,Sep
958,23,6,0.0,1018,26,49.594624,329.426882,1,Sep

In [37]:
new_la  = pd.get_dummies(df, prefix=['month'])
new_la

,Temperature,Wind Speed,Precipitation,Pressure,Heat Index,Fire Intensity,Brightness,Fire Count,month_Aug,month_Jul,month_Sep
918,17,12,0.0,1012,19,21.166667,332.733333,1,0,1,0
919,21,10,0.0,1016,24,23.133333,317.033333,1,0,1,0
920,18,15,0.0,1014,19,43.116667,332.766667,1,0,1,0
921,19,8,0.0,1015,20,34.950000,325.483333,1,0,1,0
922,17,13,0.0,1013,19,16.325000,324.500000,1,0,1,0
923,19,12,0.0,1012,20,16.500000,331.050000,1,0,1,0
924,18,12,0.0,1014,20,14.450000,315.850000,1,0,1,0
925,18,14,0.0,1015,20,38.300000,327.600000,1,0,1,0
926,17,13,0.0,1012,18,30.500000,327.000000,1,0,1,0
927,19,11,0.0,1012,21,11.875000,325.850000,1,0,1,0
928,16,14,0.0,1013,17,25.600000,334.500000,1,0,1,0
929,19,10,0.0,1013,21,11.100000,326.250000,1,0,1,0
930,19,12,0.0,1013,20,10.700000,327.700000,1,0,1,0
931,20,12,0.0,1013,21,60.650000,355.700000,1,0,1,0
932,20,12,0.0,1015,22,13.400000,324.600000,1,0,1,0
933,21,8,0.0,1016,25,10.050000,324.350000,1,1,0,0
934,17,12,0.0,1015,18,20.766667,330.166667,1,1,0,0
935,18,9,0.0,1013,19,31.250000,329.950000,1,1,0,0
936,21,10,0.0,1014,25,7.600000,323.800000,1,1,0,0
937,21,12,0.0,1013,25,75.400000,362.500000,1,1,0,0
938,23,9,0.5,1013,25,261.950000,345.500000,1,1,0,0
939,23,10,0.1,1014,26,7.900000,322.500000,1,1,0,0
940,23,9,0.0,1015,25,157.639655,334.524138,1,1,0,0
941,24,11,0.0,1014,26,315.387240,361.240365,1,1,0,0
942,22,9,0.0,1013,25,75.337716,333.002422,1,1,0,0
943,22,9,0.0,1011,25,35.016901,321.087324,1,1,0,0
944,21,8,0.0,1011,25,84.238636,337.543182,1,1,0,0
945,20,10,0.0,1012,25,80.954348,325.891304,1,1,0,0
946,21,10,0.0,1011,25,129.239286,346.685714,1,1,0,0
947,19,12,0.0,1012,22,56.639216,323.182353,1,1,0,0
948,18,12,0.0,1010,20,60.540000,336.620000,1,1,0,0
949,19,10,0.0,1010,19,25.561538,319.557692,1,1,0,0
950,21,9,0.0,1009,25,26.600000,317.188889,1,1,0,0
951,19,11,0.0,1011,21,33.425000,322.325000,1,1,0,0
952,22,8,0.0,1009,25,15.600000,331.800000,1,1,0,0
953,19,10,0.0,1016,21,19.200000,328.900000,1,0,0,1
954,20,11,0.0,1018,25,20.100000,315.250000,1,0,0,1
955,26,8,0.0,1012,27,157.545455,351.018182,1,0,0,1
956,27,5,0.0,1013,28,172.746769,358.553538,1,0,0,1
957,25,6,0.0,1016,27,73.657143,324.331429,1,0,0,1
958,23,6,0.0,1018,26,49.594624,329.426882,1,0,0,1

In [38]:
new_la['month_October']=0
new_la['month_November']=0
new_la['month_December']=0
new_la['month_January']=0
new_la['month_February']=0
new_la['month_March']=0
new_la['month_April']=0
new_la['month_May']=0
new_la['month_June']=0
new_la

,Temperature,Wind Speed,Precipitation,Pressure,Heat Index,Fire Intensity,Brightness,Fire Count,month_Aug,month_Jul,month_Sep,month_October,month_November,month_December,month_January,month_February,month_March,month_April,month_May,month_June
918,17,12,0.0,1012,19,21.166667,332.733333,1,0,1,0,0,0,0,0,0,0,0,0,0
919,21,10,0.0,1016,24,23.133333,317.033333,1,0,1,0,0,0,0,0,0,0,0,0,0
920,18,15,0.0,1014,19,43.116667,332.766667,1,0,1,0,0,0,0,0,0,0,0,0,0
921,19,8,0.0,1015,20,34.950000,325.483333,1,0,1,0,0,0,0,0,0,0,0,0,0
922,17,13,0.0,1013,19,16.325000,324.500000,1,0,1,0,0,0,0,0,0,0,0,0,0
923,19,12,0.0,1012,20,16.500000,331.050000,1,0,1,0,0,0,0,0,0,0,0,0,0
924,18,12,0.0,1014,20,14.450000,315.850000,1,0,1,0,0,0,0,0,0,0,0,0,0
925,18,14,0.0,1015,20,38.300000,327.600000,1,0,1,0,0,0,0,0,0,0,0,0,0
926,17,13,0.0,1012,18,30.500000,327.000000,1,0,1,0,0,0,0,0,0,0,0,0,0
927,19,11,0.0,1012,21,11.875000,325.850000,1,0,1,0,0,0,0,0,0,0,0,0,0
928,16,14,0.0,1013,17,25.600000,334.500000,1,0,1,0,0,0,0,0,0,0,0,0,0
929,19,10,0.0,1013,21,11.100000,326.250000,1,0,1,0,0,0,0,0,0,0,0,0,0
930,19,12,0.0,1013,20,10.700000,327.700000,1,0,1,0,0,0,0,0,0,0,0,0,0
931,20,12,0.0,1013,21,60.650000,355.700000,1,0,1,0,0,0,0,0,0,0,0,0,0
932,20,12,0.0,1015,22,13.400000,324.600000,1,0,1,0,0,0,0,0,0,0,0,0,0
933,21,8,0.0,1016,25,10.050000,324.350000,1,1,0,0,0,0,0,0,0,0,0,0,0
934,17,12,0.0,1015,18,20.766667,330.166667,1,1,0,0,0,0,0,0,0,0,0,0,0
935,18,9,0.0,1013,19,31.250000,329.950000,1,1,0,0,0,0,0,0,0,0,0,0,0
936,21,10,0.0,1014,25,7.600000,323.800000,1,1,0,0,0,0,0,0,0,0,0,0,0
937,21,12,0.0,1013,25,75.400000,362.500000,1,1,0,0,0,0,0,0,0,0,0,0,0
938,23,9,0.5,1013,25,261.950000,345.500000,1,1,0,0,0,0,0,0,0,0,0,0,0
939,23,10,0.1,1014,26,7.900000,322.500000,1,1,0,0,0,0,0,0,0,0,0,0,0
940,23,9,0.0,1015,25,157.639655,334.524138,1,1,0,0,0,0,0,0,0,0,0,0,0
941,24,11,0.0,1014,26,315.387240,361.240365,1,1,0,0,0,0,0,0,0,0,0,0,0
942,22,9,0.0,1013,25,75.337716,333.002422,1,1,0,0,0,0,0,0,0,0,0,0,0
943,22,9,0.0,1011,25,35.016901,321.087324,1,1,0,0,0,0,0,0,0,0,0,0,0
944,21,8,0.0,1011,25,84.238636,337.543182,1,1,0,0,0,0,0,0,0,0,0,0,0
945,20,10,0.0,1012,25,80.954348,325.891304,1,1,0,0,0,0,0,0,0,0,0,0,0
946,21,10,0.0,1011,25,129.239286,346.685714,1,1,0,0,0,0,0,0,0,0,0,0,0
947,19,12,0.0,1012,22,56.639216,323.182353,1,1,0,0,0,0,0,0,0,0,0,0,0
948,18,12,0.0,1010,20,60.540000,336.620000,1,1,0,0,0,0,0,0,0,0,0,0,0
949,19,10,0.0,1010,19,25.561538,319.557692,1,1,0,0,0,0,0,0,0,0,0,0,0
950,21,9,0.0,1009,25,26.600000,317.188889,1,1,0,0,0,0,0,0,0,0,0,0,0
951,19,11,0.0,1011,21,33.425000,322.325000,1,1,0,0,0,0,0,0,0,0,0,0,0
952,22,8,0.0,1009,25,15.600000,331.800000,1,1,0,0,0,0,0,0,0,0,0,0,0
953,19,10,0.0,1016,21,19.200000,328.900000,1,0,0,1,0,0,0,0,0,0,0,0,0
954,20,11,0.0,1018,25,20.100000,315.250000,1,0,0,1,0,0,0,0,0,0,0,0,0
955,26,8,0.0,1012,27,157.545455,351.018182,1,0,0,1,0,0,0,0,0,0,0,0,0
956,27,5,0.0,1013,28,172.746769,358.553538,1,0,0,1,0,0,0,0,0,0,0,0,0
957,25,6,0.0,1016,27,73.657143,324.331429,1,0,0,1,0,0,0,0,0,0,0,0,0
958,23,6,0.0,1018,26,49.594624,329.426882,1,0,0,1,0,0,0,0,0,0,0,0,0

## PREDICTION
(i should really have split the dataset lol)

In [39]:
#predict FRP values
X_new_fire=new_la.drop("Fire Intensity", axis=1)
new_fire=model.predict(X_new_fire)
len(new_fire)

41

In [40]:
new_fire

array([[ 56.87500791],
       [ 23.05961324],
       [ 58.30169361],
       [ 41.38973007],
       [ 37.95285943],
       [ 53.47831436],
       [ 18.26146704],
       [ 46.62433393],
       [ 43.25540336],
       [ 41.26818749],
       [ 61.13798501],
       [ 42.59231441],
       [ 46.01803966],
       [112.53223521],
       [ 40.11691185],
       [ 38.56394271],
       [ 50.2427684 ],
       [ 48.9631023 ],
       [ 36.50630773],
       [127.62985157],
       [ 87.86890535],
       [ 34.05428307],
       [ 62.65147034],
       [125.82852741],
       [ 57.93316145],
       [ 28.87599863],
       [ 67.46242063],
       [ 40.32367015],
       [ 89.21119152],
       [ 33.40946484],
       [ 63.73302987],
       [ 23.33961463],
       [ 18.54274885],
       [ 30.70546365],
       [ 53.20151538],
       [ 55.38622219],
       [ 24.93511311],
       [108.07860583],
       [126.47495838],
       [ 46.48285962],
       [ 58.84863843]])

In [41]:
new_fire_list=[]
for i in range(len(new_fire)):
    new_fire_list.append(new_fire[i][0])
new_fire_list

[56.87500790827016,
 23.059613238872316,
 58.30169361003527,
 41.389730073822875,
 37.95285943016097,
 53.47831435857006,
 18.261467039314766,
 46.624333927421276,
 43.2554033580152,
 41.26818748908022,
 61.13798501035535,
 42.59231440655253,
 46.01803965793374,
 112.53223520646475,
 40.116911850971064,
 38.56394270842742,
 50.24276839946356,
 48.96310230009749,
 36.50630773216602,
 127.62985157488447,
 87.86890535466932,
 34.054283068010534,
 62.65147034200754,
 125.82852741138959,
 57.93316144544269,
 28.87599863013969,
 67.46242063125396,
 40.323670146264874,
 89.21119152132451,
 33.40946483591637,
 63.73302987228726,
 23.339614634574616,
 18.54274884514706,
 30.705463652374362,
 53.20151537991296,
 55.38622218822388,
 24.93511311348857,
 108.07860582631315,
 126.47495838350756,
 46.48285962392447,
 58.84863842994173]

In [42]:
# prediciton data farme
predict_df=pd.DataFrame({'Fire Intensity': new_fire_list})
predict_df

    Fire Intensity
0        56.875008
1        23.059613
2        58.301694
3        41.389730
4        37.952859
5        53.478314
6        18.261467
7        46.624334
8        43.255403
9        41.268187
10       61.137985
11       42.592314
12       46.018040
13      112.532235
14       40.116912
15       38.563943
16       50.242768
17       48.963102
18       36.506308
19      127.629852
20       87.868905
21       34.054283
22       62.651470
23      125.828527
24       57.933161
25       28.875999
26       67.462421
27       40.323670
28       89.211192
29       33.409465
30       63.733030
31       23.339615
32       18.542749
33       30.705464
34       53.201515
35       55.386222
36       24.935113
37      108.078606
38      126.474958
39       46.482860
40       58.848638

In [43]:
new_dates = pd.date_range(start='2020-10-01', end='2020-11-30', freq='D')
print(new_dates)
print(len(new_dates))

DatetimeIndex(['2020-10-01', '2020-10-02', '2020-10-03', '2020-10-04',
               '2020-10-05', '2020-10-06', '2020-10-07', '2020-10-08',
               '2020-10-09', '2020-10-10', '2020-10-11', '2020-10-12',
               '2020-10-13', '2020-10-14', '2020-10-15', '2020-10-16',
               '2020-10-17', '2020-10-18', '2020-10-19', '2020-10-20',
               '2020-10-21', '2020-10-22', '2020-10-23', '2020-10-24',
               '2020-10-25', '2020-10-26', '2020-10-27', '2020-10-28',
               '2020-10-29', '2020-10-30', '2020-10-31', '2020-11-01',
               '2020-11-02', '2020-11-03', '2020-11-04', '2020-11-05',
               '2020-11-06', '2020-11-07', '2020-11-08', '2020-11-09',
               '2020-11-10', '2020-11-11', '2020-11-12', '2020-11-13',
               '2020-11-14', '2020-11-15', '2020-11-16', '2020-11-17',
               '2020-11-18', '2020-11-19', '2020-11-20', '2020-11-21',
               '2020-11-22', '2020-11-23', '2020-11-24', '2020-11-25',
               '2020-11-26', '2020-11-27', '2020-11-28', '2020-11-29',
               '2020-11-30'],
              dtype='datetime64[ns]', freq='D')
61

In [45]:
predict_df['Dates']=list(new_dates)[:41]

In [46]:
predict_df

    Fire Intensity      Dates
0        56.875008 2020-10-01
1        23.059613 2020-10-02
2        58.301694 2020-10-03
3        41.389730 2020-10-04
4        37.952859 2020-10-05
5        53.478314 2020-10-06
6        18.261467 2020-10-07
7        46.624334 2020-10-08
8        43.255403 2020-10-09
9        41.268187 2020-10-10
10       61.137985 2020-10-11
11       42.592314 2020-10-12
12       46.018040 2020-10-13
13      112.532235 2020-10-14
14       40.116912 2020-10-15
15       38.563943 2020-10-16
16       50.242768 2020-10-17
17       48.963102 2020-10-18
18       36.506308 2020-10-19
19      127.629852 2020-10-20
20       87.868905 2020-10-21
21       34.054283 2020-10-22
22       62.651470 2020-10-23
23      125.828527 2020-10-24
24       57.933161 2020-10-25
25       28.875999 2020-10-26
26       67.462421 2020-10-27
27       40.323670 2020-10-28
28       89.211192 2020-10-29
29       33.409465 2020-10-30
30       63.733030 2020-10-31
31       23.339615 2020-11-01
32       18.542749 2020-11-02
33       30.705464 2020-11-03
34       53.201515 2020-11-04
35       55.386222 2020-11-05
36       24.935113 2020-11-06
37      108.078606 2020-11-07
38      126.474958 2020-11-08
39       46.482860 2020-11-09
40       58.848638 2020-11-10

In [48]:
predict_df.to_csv('FINAL_SF_40_DAYS.csv')

In [49]:
# comined CSV FOR JAISAL

In [62]:
lacsv = pd.read_csv('FINAL_LA_44_DAYS.csv')
sfcsv = pd.read_csv('FINAL_SF_40_DAYS.csv')
phoecsv = pd.read_csv('FINAL_PHOENIX_30_DAYS.csv')
merged = pd.merge(lacsv, sfcsv, on='Dates', how='outer')
final_merged = pd.merge(merged, phoecsv, on='Dates', how='outer')
df = final_merged
df = df.loc[:, ~df.columns.str.contains('^Unnamed')]
df

    Fire Intensity_x       Dates  Fire Intensity_y  Fire Intensity
0          74.672755  2020-10-01         56.875008       62.170287
1          76.782775  2020-10-02         23.059613       15.453074
2          75.725114  2020-10-03         58.301694       84.317342
3          72.082963  2020-10-04         41.389730       35.599108
4          69.535390  2020-10-05         37.952859      -11.448706
5          79.029996  2020-10-06         53.478314        6.452678
6          80.563014  2020-10-07         18.261467      -14.889214
7          73.666036  2020-10-08         46.624334       54.455350
8          66.687940  2020-10-09         43.255403      -13.095983
9          62.848122  2020-10-10         41.268187      -14.226464
10         72.730146  2020-10-11         61.137985       93.098899
11         82.593036  2020-10-12         42.592314       24.371154
12         88.565791  2020-10-13         46.018040       83.630981
13         76.330033  2020-10-14        112.532235       22.570507
14         82.029706  2020-10-15         40.116912      108.583933
15         82.651339  2020-10-16         38.563943        8.687232
16         78.138199  2020-10-17         50.242768       66.901615
17         82.504649  2020-10-18         48.963102       33.000479
18         83.573265  2020-10-19         36.506308       70.473055
19         78.772493  2020-10-20        127.629852       -6.707821
20        106.594550  2020-10-21         87.868905       48.990646
21         95.604761  2020-10-22         34.054283       26.069832
22         86.926769  2020-10-23         62.651470       47.225496
23         87.070623  2020-10-24        125.828527       42.835354
24         80.517322  2020-10-25         57.933161       21.749314
25         81.845389  2020-10-26         28.875999       99.751395
26         80.538746  2020-10-27         67.462421       44.731889
27         82.072008  2020-10-28         40.323670       43.519676
28         85.188441  2020-10-29         89.211192       -1.173666
29         83.688808  2020-10-30         33.409465       30.509182
30         84.366053  2020-10-31         63.733030             NaN
31         86.470858  2020-11-01         23.339615             NaN
32         90.035852  2020-11-02         18.542749             NaN
33         85.682124  2020-11-03         30.705464             NaN
34         82.138220  2020-11-04         53.201515             NaN
35         79.592682  2020-11-05         55.386222             NaN
36         76.316623  2020-11-06         24.935113             NaN
37         75.681574  2020-11-07        108.078606             NaN
38         78.360120  2020-11-08        126.474958             NaN
39         74.052196  2020-11-09         46.482860             NaN
40         76.310665  2020-11-10         58.848638             NaN
41         80.310579  2020-11-11               NaN             NaN
42         79.382345  2020-11-12               NaN             NaN
43         84.934814  2020-11-13               NaN             NaN
44         86.780886  2020-11-14               NaN             NaN

In [63]:
df = df[ ['Dates'] + [ col for col in df.columns if col != 'Dates' ] ]

In [64]:
df

         Dates  Fire Intensity_x  Fire Intensity_y  Fire Intensity
0   2020-10-01         74.672755         56.875008       62.170287
1   2020-10-02         76.782775         23.059613       15.453074
2   2020-10-03         75.725114         58.301694       84.317342
3   2020-10-04         72.082963         41.389730       35.599108
4   2020-10-05         69.535390         37.952859      -11.448706
5   2020-10-06         79.029996         53.478314        6.452678
6   2020-10-07         80.563014         18.261467      -14.889214
7   2020-10-08         73.666036         46.624334       54.455350
8   2020-10-09         66.687940         43.255403      -13.095983
9   2020-10-10         62.848122         41.268187      -14.226464
10  2020-10-11         72.730146         61.137985       93.098899
11  2020-10-12         82.593036         42.592314       24.371154
12  2020-10-13         88.565791         46.018040       83.630981
13  2020-10-14         76.330033        112.532235       22.570507
14  2020-10-15         82.029706         40.116912      108.583933
15  2020-10-16         82.651339         38.563943        8.687232
16  2020-10-17         78.138199         50.242768       66.901615
17  2020-10-18         82.504649         48.963102       33.000479
18  2020-10-19         83.573265         36.506308       70.473055
19  2020-10-20         78.772493        127.629852       -6.707821
20  2020-10-21        106.594550         87.868905       48.990646
21  2020-10-22         95.604761         34.054283       26.069832
22  2020-10-23         86.926769         62.651470       47.225496
23  2020-10-24         87.070623        125.828527       42.835354
24  2020-10-25         80.517322         57.933161       21.749314
25  2020-10-26         81.845389         28.875999       99.751395
26  2020-10-27         80.538746         67.462421       44.731889
27  2020-10-28         82.072008         40.323670       43.519676
28  2020-10-29         85.188441         89.211192       -1.173666
29  2020-10-30         83.688808         33.409465       30.509182
30  2020-10-31         84.366053         63.733030             NaN
31  2020-11-01         86.470858         23.339615             NaN
32  2020-11-02         90.035852         18.542749             NaN
33  2020-11-03         85.682124         30.705464             NaN
34  2020-11-04         82.138220         53.201515             NaN
35  2020-11-05         79.592682         55.386222             NaN
36  2020-11-06         76.316623         24.935113             NaN
37  2020-11-07         75.681574        108.078606             NaN
38  2020-11-08         78.360120        126.474958             NaN
39  2020-11-09         74.052196         46.482860             NaN
40  2020-11-10         76.310665         58.848638             NaN
41  2020-11-11         80.310579               NaN             NaN
42  2020-11-12         79.382345               NaN             NaN
43  2020-11-13         84.934814               NaN             NaN
44  2020-11-14         86.780886               NaN             NaN

In [66]:
jaisal = df.rename(columns={'Fire Intensity_x':"Los Angeles, CA", 'Fire Intensity_y': 'San Francisco, CA', "Fire Intensity":"Phoenix, AZ"})

In [67]:
jaisal.to_csv('city_wise(3)-data.csv')