## LA MODEL

In [45]:
import pandas as pd
prev_la_weather = pd.read_csv('city_weather_data/Los+Angeles.csv')
prev_la_weather.head()

,Unnamed: 0,Dates,Temperature,Wind Speed,Precipitation,Pressure,Heat Index
0,0,2016-01-01,8,5,0.0,1020,18
1,1,2016-01-02,9,11,0.0,1018,19
2,2,2016-01-03,8,15,0.0,1014,16
3,3,2016-01-04,11,7,0.1,1020,19
4,4,2016-01-05,12,19,14.1,1008,13

In [46]:
prev_la_weather.tail()

,Unnamed: 0,Dates,Temperature,Wind Speed,Precipitation,Pressure,Heat Index
1730,1730,2020-09-26,27,9,0.0,1013,28
1731,1731,2020-09-27,27,10,0.0,1012,29
1732,1732,2020-09-28,29,8,0.0,1014,31
1733,1733,2020-09-29,32,10,0.0,1016,32
1734,1734,2020-09-30,35,6,0.0,1015,36

In [47]:
start_dates=['2015-03-01', '2015-04-01', '2015-05-01', '2015-06-01', '2015-07-01', '2015-08-01', '2015-09-01', '2015-10-01', '2015-11-01', '2015-12-01']
end_dates=['2015-03-31', '2015-04-30', '2015-05-31', '2015-06-30', '2015-07-31', '2015-08-31', '2015-09-30', '2015-10-31', '2015-11-30', '2015-12-31']

In [75]:
import requests
def get_weather(city):
    city_dat = []
    dates, temp, wind, precip, pressure, heat = [], [] ,[], [], [], []
    for i in range(len(start_dates)):
        res_str = f'http://api.worldweatheronline.com/premium/v1/past-weather.ashx?key=7b7c4ad8a29e48c3a51114119200310&q={city}&format=json&date={start_dates[i]}&enddate={end_dates[i]}'
        city_dat.append(res_str)
#     print(city_dat[0])
        res = requests.get(res_str).json()['data']['weather']
        for j in range(len(res)):
            dates.append(res[j]['date'])
            temp.append(res[j]['avgtempC'])
            wind.append(res[j]['hourly'][4]['windspeedKmph'])
            precip.append(res[j]['hourly'][4]['precipMM'])
            pressure.append(res[j]['hourly'][4]['pressure'])
            heat.append(res[j]['hourly'][4]['HeatIndexC'])
    city_df = pd.DataFrame({
        "Dates":dates,
        "Temperature": temp,
        "Wind Speed": wind,
        "Precipitation": precip,
        "Pressure": pressure,
        "Heat Index": heat
    })
    city_df.to_csv(f'{city}.csv')
    print("OK")

In [76]:
get_weather('Los+Angeles')

OK

In [77]:
new_la_weather = pd.read_csv('Los+Angeles.csv')

In [78]:
new_la_weather.head()

,Unnamed: 0,Dates,Temperature,Wind Speed,Precipitation,Pressure,Heat Index
0,0,2015-03-01,10,19,0.1,1013,17
1,1,2015-03-02,10,12,0.3,1012,15
2,2,2015-03-03,9,8,0.0,1013,19
3,3,2015-03-04,10,8,0.0,1019,23
4,4,2015-03-05,11,5,0.0,1024,24

In [79]:
final_la_weather = pd.concat([new_la_weather,prev_la_weather])
final_la_weather

,Unnamed: 0,Dates,Temperature,Wind Speed,Precipitation,Pressure,Heat Index
0,0,2015-03-01,10,19,0.1,1013,17
1,1,2015-03-02,10,12,0.3,1012,15
2,2,2015-03-03,9,8,0.0,1013,19
3,3,2015-03-04,10,8,0.0,1019,23
4,4,2015-03-05,11,5,0.0,1024,24
...,...,...,...,...,...,...,...
1730,1730,2020-09-26,27,9,0.0,1013,28
1731,1731,2020-09-27,27,10,0.0,1012,29
1732,1732,2020-09-28,29,8,0.0,1014,31
1733,1733,2020-09-29,32,10,0.0,1016,32
1734,1734,2020-09-30,35,6,0.0,1015,36

In [53]:
final_la_weather.to_csv('final_la_weather.csv')

---
## WEATHER COMPLETE, LA FIRE TIME

In [60]:
final_la_fire = pd.read_csv('cities/Los_Angeles/la_fire_data.csv')

In [61]:
final_la_fire

,Unnamed: 0,Unnamed: 0.1,Latitude,Longitude,Date,Fire Intensity,Brightness,dist
0,18265,18265,33.9094,-117.6339,2015-04-19,38.1,325.4,58.444284
1,18268,18268,33.8992,-117.6312,2015-04-19,40.9,326.8,59.004412
2,18271,18271,33.9120,-117.6195,2015-04-19,214.6,375.7,59.646445
3,18278,18278,33.9159,-117.6153,2015-04-19,14.7,310.8,59.907905
4,18281,18281,33.9066,-117.6175,2015-04-19,14.9,310.9,59.985649
...,...,...,...,...,...,...,...,...
2956,748188,66634,34.2450,-118.0360,2020-09-28,5.4,304.8,28.730408
2957,749376,67822,34.2590,-118.0920,2020-09-28,43.4,319.6,26.908661
2958,750682,69128,34.2620,-118.0800,2020-09-29,23.9,335.0,27.777616
2959,750973,69419,34.2510,-118.0910,2020-09-30,7.7,306.4,26.201694
2960,751141,69587,34.2550,-118.0670,2020-09-30,8.2,306.8,27.809613

In [67]:
# remove unnamed columns
df = final_la_fire
df = df.loc[:, ~df.columns.str.contains('^Unnamed')].drop(columns=['dist'])
df

      Latitude  Longitude        Date  Fire Intensity  Brightness
0      33.9094  -117.6339  2015-04-19            38.1       325.4
1      33.8992  -117.6312  2015-04-19            40.9       326.8
2      33.9120  -117.6195  2015-04-19           214.6       375.7
3      33.9159  -117.6153  2015-04-19            14.7       310.8
4      33.9066  -117.6175  2015-04-19            14.9       310.9
...        ...        ...         ...             ...         ...
2956   34.2450  -118.0360  2020-09-28             5.4       304.8
2957   34.2590  -118.0920  2020-09-28            43.4       319.6
2958   34.2620  -118.0800  2020-09-29            23.9       335.0
2959   34.2510  -118.0910  2020-09-30             7.7       306.4
2960   34.2550  -118.0670  2020-09-30             8.2       306.8

[2961 rows x 5 columns]

In [80]:
# reassign to good var name
final_la_fire = df
final_la_fire = final_la_fire.rename(columns={'Date':"Dates"})

In [83]:
final_la_weather

,Unnamed: 0,Dates,Temperature,Wind Speed,Precipitation,Pressure,Heat Index
0,0,2015-03-01,10,19,0.1,1013,17
1,1,2015-03-02,10,12,0.3,1012,15
2,2,2015-03-03,9,8,0.0,1013,19
3,3,2015-03-04,10,8,0.0,1019,23
4,4,2015-03-05,11,5,0.0,1024,24
...,...,...,...,...,...,...,...
1730,1730,2020-09-26,27,9,0.0,1013,28
1731,1731,2020-09-27,27,10,0.0,1012,29
1732,1732,2020-09-28,29,8,0.0,1014,31
1733,1733,2020-09-29,32,10,0.0,1016,32
1734,1734,2020-09-30,35,6,0.0,1015,36

In [84]:
final_la_fire

      Latitude  Longitude       Dates  Fire Intensity  Brightness
0      33.9094  -117.6339  2015-04-19            38.1       325.4
1      33.8992  -117.6312  2015-04-19            40.9       326.8
2      33.9120  -117.6195  2015-04-19           214.6       375.7
3      33.9159  -117.6153  2015-04-19            14.7       310.8
4      33.9066  -117.6175  2015-04-19            14.9       310.9
...        ...        ...         ...             ...         ...
2956   34.2450  -118.0360  2020-09-28             5.4       304.8
2957   34.2590  -118.0920  2020-09-28            43.4       319.6
2958   34.2620  -118.0800  2020-09-29            23.9       335.0
2959   34.2510  -118.0910  2020-09-30             7.7       306.4
2960   34.2550  -118.0670  2020-09-30             8.2       306.8

[2961 rows x 5 columns]

In [111]:
# add count of fires as feature
la_fire_cocunt = final_la_fire['Dates'].value_counts()
la_fire_cocunt

2018-11-09    316
2020-09-18    223
2020-09-19    173
2016-07-23    161
2020-09-17    121
             ...
2016-05-28      1
2020-07-09      1
2019-11-17      1
2018-06-12      1
2020-08-03      1
Name: Dates, Length: 139, dtype: int64

In [113]:
la_fire_count = la_fire_cocunt.to_frame().reset_index().rename(columns={"index":"Dates", "Dates":"Fire Count"}).sort_values(by="Dates", ascending=True)
la_fire_count

          Dates  Fire Count
51   2015-04-19           5
85   2015-04-27           2
129  2015-06-18           1
75   2015-06-24           2
94   2015-07-13           1
..          ...         ...
59   2020-09-26           4
44   2020-09-27           8
53   2020-09-28           5
117  2020-09-29           1
68   2020-09-30           2

[139 rows x 2 columns]

In [114]:
final_la_fire_merged = pd.merge(final_la_fire, la_fire_count, on='Dates', how='outer')
final_la_fire_merged

      Latitude  Longitude       Dates  Fire Intensity  Brightness  Fire Count
0      33.9094  -117.6339  2015-04-19            38.1       325.4           5
1      33.8992  -117.6312  2015-04-19            40.9       326.8           5
2      33.9120  -117.6195  2015-04-19           214.6       375.7           5
3      33.9159  -117.6153  2015-04-19            14.7       310.8           5
4      33.9066  -117.6175  2015-04-19            14.9       310.9           5
...        ...        ...         ...             ...         ...         ...
2956   34.2450  -118.0360  2020-09-28             5.4       304.8           5
2957   34.2590  -118.0920  2020-09-28            43.4       319.6           5
2958   34.2620  -118.0800  2020-09-29            23.9       335.0           1
2959   34.2510  -118.0910  2020-09-30             7.7       306.4           2
2960   34.2550  -118.0670  2020-09-30             8.2       306.8           2

[2961 rows x 6 columns]

In [211]:
los_angeles_data = pd.merge(final_la_weather, final_la_fire_merged, on='Dates', how='left')

In [212]:
los_angeles_data

,Unnamed: 0,Dates,Temperature,Wind Speed,Precipitation,Pressure,Heat Index,Latitude,Longitude,Fire Intensity,Brightness,Fire Count
0,0,2015-03-01,10,19,0.1,1013,17,NaN,NaN,NaN,NaN,NaN
1,1,2015-03-02,10,12,0.3,1012,15,NaN,NaN,NaN,NaN,NaN
2,2,2015-03-03,9,8,0.0,1013,19,NaN,NaN,NaN,NaN,NaN
3,3,2015-03-04,10,8,0.0,1019,23,NaN,NaN,NaN,NaN,NaN
4,4,2015-03-05,11,5,0.0,1024,24,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
4858,1732,2020-09-28,29,8,0.0,1014,31,34.245,-118.036,5.4,304.8,5.0
4859,1732,2020-09-28,29,8,0.0,1014,31,34.259,-118.092,43.4,319.6,5.0
4860,1733,2020-09-29,32,10,0.0,1016,32,34.262,-118.080,23.9,335.0,1.0
4861,1734,2020-09-30,35,6,0.0,1015,36,34.251,-118.091,7.7,306.4,2.0
4862,1734,2020-09-30,35,6,0.0,1015,36,34.255,-118.067,8.2,306.8,2.0

In [213]:
# bhai = los_angeles_data.fillna(los_angeles_data.median())
bhai = los_angeles_data.fillna(0)
bhai.head(-65)

,Unnamed: 0,Dates,Temperature,Wind Speed,Precipitation,Pressure,Heat Index,Latitude,Longitude,Fire Intensity,Brightness,Fire Count
0,0,2015-03-01,10,19,0.1,1013,17,0.000,0.000,0.0,0.0,0.0
1,1,2015-03-02,10,12,0.3,1012,15,0.000,0.000,0.0,0.0,0.0
2,2,2015-03-03,9,8,0.0,1013,19,0.000,0.000,0.0,0.0,0.0
3,3,2015-03-04,10,8,0.0,1019,23,0.000,0.000,0.0,0.0,0.0
4,4,2015-03-05,11,5,0.0,1024,24,0.000,0.000,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
4793,1727,2020-09-23,28,10,0.0,1017,28,34.267,-118.076,33.9,322.3,36.0
4794,1727,2020-09-23,28,10,0.0,1017,28,34.271,-118.084,15.1,315.1,36.0
4795,1727,2020-09-23,28,10,0.0,1017,28,34.247,-118.052,10.3,310.0,36.0
4796,1727,2020-09-23,28,10,0.0,1017,28,34.379,-117.785,7.2,302.7,36.0
4797,1727,2020-09-23,28,10,0.0,1017,28,34.409,-117.790,41.6,334.3,36.0

In [214]:
bhai.to_csv('final_la_data.csv')

## ML STARTS NOW
### DATA PREPROCESSING DONE

In [215]:
# IMPORT LIBRARIES
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, MinMaxScaler
from sklearn.linear_model import LinearRegression
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from tensorflow.keras.utils import to_categorical

In [216]:
src = pd.read_csv('final_la_data.csv', index_col=0)
src

,Unnamed: 0.1,Dates,Temperature,Wind Speed,Precipitation,Pressure,Heat Index,Latitude,Longitude,Fire Intensity,Brightness,Fire Count
0,0,2015-03-01,10,19,0.1,1013,17,0.000,0.000,0.0,0.0,0.0
1,1,2015-03-02,10,12,0.3,1012,15,0.000,0.000,0.0,0.0,0.0
2,2,2015-03-03,9,8,0.0,1013,19,0.000,0.000,0.0,0.0,0.0
3,3,2015-03-04,10,8,0.0,1019,23,0.000,0.000,0.0,0.0,0.0
4,4,2015-03-05,11,5,0.0,1024,24,0.000,0.000,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
4858,1732,2020-09-28,29,8,0.0,1014,31,34.245,-118.036,5.4,304.8,5.0
4859,1732,2020-09-28,29,8,0.0,1014,31,34.259,-118.092,43.4,319.6,5.0
4860,1733,2020-09-29,32,10,0.0,1016,32,34.262,-118.080,23.9,335.0,1.0
4861,1734,2020-09-30,35,6,0.0,1015,36,34.251,-118.091,7.7,306.4,2.0
4862,1734,2020-09-30,35,6,0.0,1015,36,34.255,-118.067,8.2,306.8,2.0

In [217]:
df = src.loc[:, ~src.columns.str.contains('^Unnamed')]
df

,Dates,Temperature,Wind Speed,Precipitation,Pressure,Heat Index,Latitude,Longitude,Fire Intensity,Brightness,Fire Count
0,2015-03-01,10,19,0.1,1013,17,0.000,0.000,0.0,0.0,0.0
1,2015-03-02,10,12,0.3,1012,15,0.000,0.000,0.0,0.0,0.0
2,2015-03-03,9,8,0.0,1013,19,0.000,0.000,0.0,0.0,0.0
3,2015-03-04,10,8,0.0,1019,23,0.000,0.000,0.0,0.0,0.0
4,2015-03-05,11,5,0.0,1024,24,0.000,0.000,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
4858,2020-09-28,29,8,0.0,1014,31,34.245,-118.036,5.4,304.8,5.0
4859,2020-09-28,29,8,0.0,1014,31,34.259,-118.092,43.4,319.6,5.0
4860,2020-09-29,32,10,0.0,1016,32,34.262,-118.080,23.9,335.0,1.0
4861,2020-09-30,35,6,0.0,1015,36,34.251,-118.091,7.7,306.4,2.0
4862,2020-09-30,35,6,0.0,1015,36,34.255,-118.067,8.2,306.8,2.0

In [218]:
df['Date'] = pd.to_datetime(df['Dates'], format="%Y-%m-%d")
df['month'] = df['Date'].dt.month
import calendar
df['month'] = df['month'].apply(lambda x: calendar.month_abbr[x])
df = df.drop(columns=['Dates', 'Date'])
df

,Temperature,Wind Speed,Precipitation,Pressure,Heat Index,Latitude,Longitude,Fire Intensity,Brightness,Fire Count,month
0,10,19,0.1,1013,17,0.000,0.000,0.0,0.0,0.0,Mar
1,10,12,0.3,1012,15,0.000,0.000,0.0,0.0,0.0,Mar
2,9,8,0.0,1013,19,0.000,0.000,0.0,0.0,0.0,Mar
3,10,8,0.0,1019,23,0.000,0.000,0.0,0.0,0.0,Mar
4,11,5,0.0,1024,24,0.000,0.000,0.0,0.0,0.0,Mar
...,...,...,...,...,...,...,...,...,...,...,...
4858,29,8,0.0,1014,31,34.245,-118.036,5.4,304.8,5.0,Sep
4859,29,8,0.0,1014,31,34.259,-118.092,43.4,319.6,5.0,Sep
4860,32,10,0.0,1016,32,34.262,-118.080,23.9,335.0,1.0,Sep
4861,35,6,0.0,1015,36,34.251,-118.091,7.7,306.4,2.0,Sep
4862,35,6,0.0,1015,36,34.255,-118.067,8.2,306.8,2.0,Sep

In [219]:
src = pd.get_dummies(df, prefix=['month'])
src

,Temperature,Wind Speed,Precipitation,Pressure,Heat Index,Latitude,Longitude,Fire Intensity,Brightness,Fire Count,...,month_Dec,month_Feb,month_Jan,month_Jul,month_Jun,month_Mar,month_May,month_Nov,month_Oct,month_Sep
0,10,19,0.1,1013,17,0.000,0.000,0.0,0.0,0.0,...,0,0,0,0,0,1,0,0,0,0
1,10,12,0.3,1012,15,0.000,0.000,0.0,0.0,0.0,...,0,0,0,0,0,1,0,0,0,0
2,9,8,0.0,1013,19,0.000,0.000,0.0,0.0,0.0,...,0,0,0,0,0,1,0,0,0,0
3,10,8,0.0,1019,23,0.000,0.000,0.0,0.0,0.0,...,0,0,0,0,0,1,0,0,0,0
4,11,5,0.0,1024,24,0.000,0.000,0.0,0.0,0.0,...,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4858,29,8,0.0,1014,31,34.245,-118.036,5.4,304.8,5.0,...,0,0,0,0,0,0,0,0,0,1
4859,29,8,0.0,1014,31,34.259,-118.092,43.4,319.6,5.0,...,0,0,0,0,0,0,0,0,0,1
4860,32,10,0.0,1016,32,34.262,-118.080,23.9,335.0,1.0,...,0,0,0,0,0,0,0,0,0,1
4861,35,6,0.0,1015,36,34.251,-118.091,7.7,306.4,2.0,...,0,0,0,0,0,0,0,0,0,1
4862,35,6,0.0,1015,36,34.255,-118.067,8.2,306.8,2.0,...,0,0,0,0,0,0,0,0,0,1

## Regression Take 1

In [220]:
X=src.drop("Fire Intensity", axis=1)
y=src["Fire Intensity"].values.reshape(-1,1)
print(X.shape,y.shape)

(4863, 21) (4863, 1)

In [221]:
# ok data setup epic
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [222]:
a = [X_train, X_test, y_train, y_test]
for m in a:
    print(len(m))

3647
1216
3647
1216

In [223]:
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

In [224]:

print(f"Training Data Score: {model.score(X_train, y_train)}")
print(f"Testing Data Score: {model.score(X_test, y_test)}")

Training Data Score: 0.5737315345826812
Testing Data Score: 0.5146712648293226

---
## Regression Take 2

In [225]:
X_c = src.drop("Fire Count", axis=1)
y_c = src["Fire Count"].values.reshape(-1,1)
print(X_c.shape, y_c.shape)

(4863, 21) (4863, 1)

In [226]:
X_c_train, X_c_test, y_c_train, y_c_test = train_test_split(X_c, y_c, random_state=1)

In [227]:
a = [X_c_train, X_c_test, y_c_train, y_c_test]
for m in a:
    print(len(m))

3647
1216
3647
1216

In [228]:
model_2 = LinearRegression()
model_2.fit(X_c_train, y_c_train)
print(f"Training Data Score: {model_2.score(X_c_train, y_c_train)}")
print(f"Testing Data Score: {model_2.score(X_c_test, y_c_test)}")

Training Data Score: 0.6332424116489576
Testing Data Score: 0.6078374449216355

---

In [235]:
df = pd.merge(final_la_weather, final_la_fire_merged)
df['Date'] = pd.to_datetime(df['Dates'], format="%Y-%m-%d")
df['month'] = df['Date'].dt.month
import calendar
df['month'] = df['month'].apply(lambda x: calendar.month_abbr[x])
df = df.loc[:, ~df.columns.str.contains('^Unnamed')].drop(columns=['Dates', 'Date'])
df

,Temperature,Wind Speed,Precipitation,Pressure,Heat Index,Latitude,Longitude,Fire Intensity,Brightness,Fire Count,month
0,13,18,0.0,1012,25,33.9094,-117.6339,38.1,325.4,5,Apr
1,13,18,0.0,1012,25,33.8992,-117.6312,40.9,326.8,5,Apr
2,13,18,0.0,1012,25,33.9120,-117.6195,214.6,375.7,5,Apr
3,13,18,0.0,1012,25,33.9159,-117.6153,14.7,310.8,5,Apr
4,13,18,0.0,1012,25,33.9066,-117.6175,14.9,310.9,5,Apr
...,...,...,...,...,...,...,...,...,...,...,...
2956,29,8,0.0,1014,31,34.2450,-118.0360,5.4,304.8,5,Sep
2957,29,8,0.0,1014,31,34.2590,-118.0920,43.4,319.6,5,Sep
2958,32,10,0.0,1016,32,34.2620,-118.0800,23.9,335.0,1,Sep
2959,35,6,0.0,1015,36,34.2510,-118.0910,7.7,306.4,2,Sep
2960,35,6,0.0,1015,36,34.2550,-118.0670,8.2,306.8,2,Sep

In [236]:
new_la  = pd.get_dummies(df, prefix=['month'])
new_la

,Temperature,Wind Speed,Precipitation,Pressure,Heat Index,Latitude,Longitude,Fire Intensity,Brightness,Fire Count,...,month_Dec,month_Feb,month_Jan,month_Jul,month_Jun,month_Mar,month_May,month_Nov,month_Oct,month_Sep
0,13,18,0.0,1012,25,33.9094,-117.6339,38.1,325.4,5,...,0,0,0,0,0,0,0,0,0,0
1,13,18,0.0,1012,25,33.8992,-117.6312,40.9,326.8,5,...,0,0,0,0,0,0,0,0,0,0
2,13,18,0.0,1012,25,33.9120,-117.6195,214.6,375.7,5,...,0,0,0,0,0,0,0,0,0,0
3,13,18,0.0,1012,25,33.9159,-117.6153,14.7,310.8,5,...,0,0,0,0,0,0,0,0,0,0
4,13,18,0.0,1012,25,33.9066,-117.6175,14.9,310.9,5,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2956,29,8,0.0,1014,31,34.2450,-118.0360,5.4,304.8,5,...,0,0,0,0,0,0,0,0,0,1
2957,29,8,0.0,1014,31,34.2590,-118.0920,43.4,319.6,5,...,0,0,0,0,0,0,0,0,0,1
2958,32,10,0.0,1016,32,34.2620,-118.0800,23.9,335.0,1,...,0,0,0,0,0,0,0,0,0,1
2959,35,6,0.0,1015,36,34.2510,-118.0910,7.7,306.4,2,...,0,0,0,0,0,0,0,0,0,1
2960,35,6,0.0,1015,36,34.2550,-118.0670,8.2,306.8,2,...,0,0,0,0,0,0,0,0,0,1

In [240]:
# ones in april and septmeber,now to predict in others that is after 
# sepetmber to next march

0       0
1       0
2       0
3       0
4       0
       ..
2956    1
2957    1
2958    1
2959    1
2960    1
Name: month_Sep, Length: 2961, dtype: uint8

## PREDICTION
(i should really have split the dataset lol)

In [244]:
#predict FRP values
X_new_fire=new_la.drop("Fire Intensity", axis=1)
new_fire=model.predict(X_new_fire)
len(new_fire)

2961

In [245]:
new_fire

array([[  25.35228351],
       [  35.43650461],
       [ 434.58033273],
       ...,
       [ 106.39934665],
       [-141.75338595],
       [-136.43759118]])

In [246]:
new_fire_list=[]
for i in range(len(new_fire)):
    new_fire_list.append(new_fire[i][0])
new_fire_list

[25.352283508351775,
 35.436504610863494,
 434.5803327273576,
 -90.97515555573506,
 -91.61515566769697,
 592.0441110163935,
 852.1633718204095,
 73.44796429785924,
 805.9996678033218,
 116.388720293873,
 140.6322847232542,
 -64.34858990473981,
 -116.45998365874192,
 -113.2919840212723,
 591.9167408318127,
 281.6869457368929,
 236.51820035245976,
 528.8406045246617,
 229.14987650313117,
 407.9789526442041,
 776.9329840035401,
 84.63086756921075,
 73.50131618239072,
 -111.16540354358602,
 54.39970276276301,
 185.873247492343,
 -76.46484194288968,
 -128.51324147936094,
 -27.362034712241098,
 18.98488625021548,
 97.50299850686702,
 -29.266751876415583,
 171.1725311632207,
 -187.77158583174133,
 -167.92391821990964,
 233.02321946554218,
 102.48449327280525,
 107.51699364299907,
 91.93752538416766,
 642.9139010561092,
 142.81950229187726,
 366.34916614927124,
 175.08892039597606,
 435.91692034961386,
 569.0897593105902,
 1132.4404529167796,
 818.2190034306135,
 514.3043440338398,
 834.2890219934444,
 653.0730703291537,
 169.56952156723878,
 931.5389295460033,
 1332.6942568278428,
 319.1884518772466,
 618.848273778627,
 137.01208275393185,
 567.2756541987306,
 253.79462561764421,
 -85.32552129092244,
 33.937850219215534,
 -74.14581999141183,
 -80.32381621122005,
 22.343429747589425,
 -100.77468470217053,
 -112.77303482371008,
 -101.82325392263283,
 -34.028444206730114,
 -49.60931337814134,
 -50.73885976747624,
 24.717460486605546,
 -77.6571161749082,
 -50.84480463864702,
 -27.397132661257956,
 -84.34521533265752,
 -45.33107951284376,
 -94.96966146160997,
 152.30925611448436,
 314.05862928236047,
 41.78257770299706,
 36.669532893485666,
 -64.9399710637822,
 -121.59814681828914,
 -139.45534633530298,
 -0.5173617927304122,
 -3.6230999722383785,
 38.04329994703778,
 -126.33953095690595,
 -16.027444623547808,
 -1.1082533175874687,
 84.71032339538465,
 330.6008616948236,
 202.55146901649925,
 350.27859474392994,
 134.38973660230238,
 378.2061860795967,
 -17.136995807066683,
 -24.93887553270315,
 -9.133569425722158,
 -30.43681433405277,
 132.68292451152104,
 129.56879264458018,
 94.3049354755957,
 109.07284934748293,
 201.6011135871812,
 190.4034593506599,
 121.82159464671372,
 146.6813694941403,
 295.1283612217336,
 60.991637744451964,
 193.05680626871901,
 -66.7495134878028,
 100.52693716022793,
 82.71037011701083,
 -88.10769608250479,
 -68.05626574964685,
 -61.909459271532455,
 47.27320784364758,
 67.23819434140557,
 -23.4391368964466,
 624.0210104533418,
 143.23614976154124,
 388.74947426474887,
 98.28141010949957,
 437.6608786367009,
 219.52815566951324,
 590.8624469160624,
 -40.4113053088638,
 120.31642308883545,
 16.14402625856974,
 -9.369915800694685,
 24.510232255624715,
 185.3685125669058,
 -4.578301786977931,
 -46.055016310446604,
 -12.057489616192697,
 379.9875351065011,
 759.851300848709,
 792.0732807980093,
 272.65444943513046,
 -75.81214242151765,
 358.8099852196706,
 272.843847247286,
 35.134657588962796,
 277.3286839330874,
 582.2246728423964,
 -11.427673251269198,
 692.3541968721794,
 163.4977411154698,
 1009.2066306631679,
 384.2656097297372,
 1032.687495391186,
 700.5659864760611,
 351.6412612605243,
 197.83560631214868,
 936.9102728974302,
 213.87958543430057,
 1071.5297491273232,
 593.480893352225,
 334.50240674117936,
 -40.43380666115786,
 91.52860686547876,
 -61.53415286806353,
 -44.470485236039735,
 603.6008892561653,
 41.436579688881466,
 -33.889792963061495,
 -7.327868321000551,
 740.3992363983674,
 439.3613781118946,
 359.8219440818582,
 503.1812536374722,
 382.3851407900563,
 341.6614047623634,
 86.02893924532134,
 376.32444500142606,
 175.10278303034568,
 217.4706484067708,
 142.3796223018345,
 155.98713036044649,
 -58.82691906771936,
 163.55147964151922,
 14.368786527374255,
 39.63614676461168,
 45.16702949494368,
 96.84662662977996,
 81.54570059833782,
 706.2132651009985,
 402.7474405207556,
 355.4899631462289,
 85.47497344170813,
 386.08325127187027,
 661.633057412411,
 614.4566572813443,
 238.554046971258,
 290.3505470661007,
 278.83823769213666,
 268.66086802593736,
 321.17263410710996,
 106.61287476918585,
 461.60921490511225,
 -81.2066605036701,
 567.9830254936768,
 267.24991734436855,
 853.2395600962003,
 29.58356768019553,
 219.19846047816782,
 -12.399028393659478,
 390.2781318813087,
 16.355140683753234,
 313.82421923448453,
 234.91534657195405,
 431.6394942741605,
 184.85008479865235,
 400.22048456416235,
 130.5719705371513,
 210.63467067591807,
 261.37028306653815,
 423.7978851489381,
 312.4533945458471,
 157.17512410360632,
 207.24162735235177,
 464.7927716698904,
 337.0901134531714,
 266.16705331963885,
 451.541256195129,
 200.14932116343425,
 640.9846244481588,
 473.5516405561517,
 195.01927769884878,
 89.21334001437287,
 387.17768985067323,
 858.1609130172341,
 367.04850835169634,
 199.8104057347067,
 204.2338563549747,
 368.4336483995895,
 443.7065624433566,
 364.58585017331404,
 172.9778176501419,
 161.18659869780288,
 285.5946388740871,
 141.8731559662882,
 448.4451160021375,
 322.71354239814013,
 559.0754721092877,
 162.98106247395822,
 861.113496391874,
 542.0628189947719,
 270.7809439554744,
 356.4398983894205,
 778.7984178202054,
 266.06763694328686,
 382.6041622664475,
 843.2316178291077,
 280.7653806478951,
 187.55024417923846,
 246.08570998256812,
 646.9412641092393,
 138.2501700831716,
 349.12681090661226,
 387.3289770969958,
 347.82964550924,
 828.7700637011006,
 849.510870887243,
 438.55503029423835,
 244.63166106241067,
 245.54020862682773,
 540.770927682691,
 177.98294092270544,
 259.0668796211256,
 556.4713626076008,
 577.1096906167915,
 718.9766743631125,
 192.80072742424773,
 603.7604628634025,
 741.0248504157001,
 7.314369855121527,
 -79.7906057719618,
 35.2192799958907,
 -54.372266082451574,
 70.39686365205841,
 -24.97502740138009,
 -16.070107860733174,
 -41.84448978124442,
 -45.55940110913889,
 -1.1106407418855042,
 -37.84378645025515,
 352.68211859845997,
 546.8312750559247,
 28.413127055172254,
 58.34069459997784,
 59.03212691033423,
 -75.71331395831993,
 7.672001287369426,
 57.39317108462399,
 -8.810172558920272,
 54.33191096805899,
 -63.01051641926142,
 -40.600137186912775,
 179.81531491360624,
 542.6353016205666,
 -33.75017976770971,
 -40.91407685674119,
 -86.8937212058014,
 -34.252544513685734,
 386.4463857853225,
 -85.80533398084663,
 147.64509526400388,
 137.0124520611131,
 188.34464027206138,
 171.51700307211388,
 146.68465671675597,
 132.41895728320856,
 127.99381855685465,
 365.4047552822152,
 393.3943794639139,
 329.9131916336389,
 619.59206508808,
 474.02065203462746,
 354.6867426153981,
 263.3207317328761,
 632.7097985499942,
 275.0627627209203,
 152.4486500123486,
 327.190876968451,
 364.4430555374863,
 267.1114055062177,
 379.5076230355513,
 195.40561048060192,
 379.15616915294834,
 126.92953150330266,
 442.84451856521616,
 814.452483480956,
 387.11033063120794,
 356.3881879251029,
 189.41007892818345,
 1024.10393473437,
 1535.174025108624,
 1509.9325247627503,
 1383.2989107090066,
 328.02856018058685,
 1326.8387765687694,
 329.3543899279514,
 197.1961811662569,
 1306.051157018319,
 206.61891327788476,
 494.62428864688684,
 199.72165663800786,
 301.1939643353828,
 504.0330819772772,
 189.44434283197825,
 1091.049259047491,
 1552.6250607489478,
 1458.6600557938646,
 371.155684506248,
 240.9931590511585,
 674.7870323148792,
 653.3784187755736,
 1161.7949333272304,
 257.05802195981937,
 249.22305976121697,
 496.5089805346994,
 1197.9547806650107,
 446.03123479141993,
 674.0128224036447,
 610.8425041662855,
 304.33128546372893,
 245.2128556897544,
 465.91541268693675,
 616.8474955513813,
 174.9243117176411,
 957.7745280355872,
 260.1823678159028,
 536.9907245511246,
 670.5819885589448,
 202.09386004352314,
 293.2174512258857,
 343.5874927688574,
 249.26164473633003,
 550.2437787996952,
 289.99521668704017,
 1151.347533772333,
 709.4243499385926,
 224.8370335907398,
 165.9690605685132,
 -72.80483999155126,
 147.633082560787,
 -77.69335955455693,
 -0.6399003054714285,
 17.202259158321112,
 114.96202995599288,
 -5.140822857421426,
 55.15448313374384,
 -76.53046048909897,
 -32.89067128823979,
 -47.52989021187045,
 -18.062304154389267,
 40.87152631300819,
 340.55782437591915,
 451.0160909732216,
 263.3970697705216,
 641.8491890855831,
 759.6927385730024,
 244.0956967011233,
 775.9924816766764,
 421.2467369340161,
 227.74588413552635,
 169.670052678253,
 281.09841263524686,
 334.5671885751227,
 752.897334149155,
 171.1079863923652,
 279.0925476312266,
 371.0604885775273,
 181.03843788356244,
 357.04793773514643,
 89.9951370582412,
 257.8861458846591,
 119.25234514952183,
 93.21361568506347,
 147.7278207165483,
 207.95501385068758,
 141.11111591856786,
 104.78083442268621,
 166.89781563940733,
 112.04199255080323,
 215.88804252571708,
 196.2906634891459,
 191.47429144263015,
 206.17930796188932,
 237.83811382823535,
 -14.704786782543124,
 151.31417693619653,
 -43.52807147563681,
 17.83198655625438,
 -58.00312688373765,
 50.71600200727596,
 -47.29128517300478,
 -41.329807951732846,
 8.512298098805672,
 38.669587940444785,
 90.14320765444211,
 374.45263798375686,
 -13.580038118498237,
 166.09955620666142,
 134.08165697482968,
 442.42744630965296,
 646.0086736454665,
 359.8401833905241,
 645.9373615896492,
 676.7828051656626,
 569.1144595121722,
 177.41947765464363,
 342.7143033631545,
 232.44271242196783,
 465.83256753465287,
 585.7024590175437,
 303.11458110178114,
 276.1848898546882,
 -120.25658225018907,
 402.09887174191226,
 191.58531842508614,
 32.283675898591355,
 27.16166588017029,
 93.73268615901566,
 -105.92877109092649,
 -41.43310231114992,
 -50.326914599598695,
 5.98735946837985,
 -45.51311357106829,
 72.2729412413097,
 303.70038059101773,
 -29.848192651143563,
 127.68022431302632,
 968.3047997467769,
 548.0908566191071,
 969.5333276447963,
 934.5810256112246,
 411.3703391423941,
 134.52137907819804,
 123.88638224136798,
 92.07923950584177,
 781.02383034403,
 -27.365467165211157,
 113.43523032966186,
 97.80529491618825,
 143.95673137851497,
 -17.877346038651126,
 178.8648735018486,
 159.54223005991673,
 850.721356476587,
 258.0767672876623,
 145.28003722838264,
 1.0724841355768149,
 96.6744958348412,
 -137.09735273544038,
 -128.838988995676,
 -57.36871948252883,
 78.7205208664559,
 -24.509739738170424,
 50.75250399548395,
 959.7266974899834,
 834.9921209985654,
 181.54653421487194,
 475.27947187543543,
 906.233591596346,
 639.5845532713705,
 -92.02208382092437,
 -103.89985454516102,
 -75.69126620068056,
 183.19958621001433,
 -28.849450126411398,
 -11.707962836222123,
 37.824286387382585,
 -57.477863064811004,
 21.33175051270814,
 70.91353503694654,
 58.873766921375136,
 147.13777561862196,
 85.51028239030711,
 273.84113166375744,
 36.48999316750633,
 40.5871353042827,
 236.26296241260184,
 76.66862628599051,
 182.2747550679942,
 -13.53405911083064,
 297.1555882513179,
 205.17005249195552,
 33.6070924217114,
 23.50054776057175,
 232.0016476301157,
 304.6838529868761,
 30.601655920769417,
 107.77076547666297,
 86.58816835946106,
 31.865451749206045,
 362.9841517925138,
 -5.389946033265005,
 111.31645653901376,
 -24.745621715796574,
 70.21542655760925,
 297.83181067317,
 603.416012776254,
 103.61983633711907,
 876.8642904241448,
 39.4920710325232,
 611.1711188989053,
 209.3124379039732,
 915.9839734488895,
 186.87386321092686,
 102.41331439142834,
 204.56920553938414,
 125.47555577661069,
 206.8426064985315,
 652.2757656631326,
 137.09976100839913,
 169.61109203918556,
 128.88370979191586,
 143.2066335585955,
 83.04522898743744,
 115.24036513161263,
 -146.10207842583043,
 -154.42988627272126,
 29.338514668147923,
 262.18223389524553,
 48.867285252656075,
 106.22831766217541,
 -30.154148404729767,
 210.319617721334,
 69.04039723152505,
 112.52593870473845,
 282.95982894140207,
 3.6305757582561,
 -16.67967638170171,
 265.00519888875476,
 499.31548352383595,
 -118.78676265888123,
 -88.38216610481646,
 -147.10040173542967,
 -171.93620407029135,
 -151.9482073009733,
 37.066871813412604,
 27.543827723286654,
 79.60689886358102,
 37.15052321162341,
 -13.971096889906221,
 665.9497132366035,
 -35.026101014269216,
 697.0514250309924,
 85.2719904178249,
 669.3197176314642,
 1056.396496521193,
 1159.6814285529786,
 572.752449937624,
 351.90570955199075,
 88.20172422600695,
 357.1797186789249,
 519.8798323322623,
 55.2070055257451,
 500.1327843954415,
 303.01447320632724,
 202.0028317584895,
 117.33788451768828,
 365.2892374105311,
 364.21436147299335,
 -3.619798032170479,
 183.96703327609225,
 2.092246284232033,
 41.88268642942512,
 299.1173574061994,
 380.7489219946897,
 106.17802197273181,
 201.00954061817492,
 526.4579291359447,
 -183.79029446456713,
 286.3401862009158,
 -69.92827508143921,
 41.1971428368538,
 241.21555172351134,
 -134.63030177723516,
 7.867690747519418,
 -135.5640435100879,
 304.1058775638978,
 -104.2982881918648,
 63.464868617673574,
 48.8547433403744,
 70.54142225870828,
 47.46676809485996,
 518.6765557549367,
 669.5433765519066,
 830.1031665796216,
 392.9021728621883,
 276.9886667672307,
 462.68464796992714,
 -16.698650064030062,
 86.26903262776341,
 67.69121141792846,
 135.89702374114347,
 475.4938850011969,
 41.57551903927322,
 413.0747070409658,
 609.2954682967901,
 124.39461936745681,
 428.49252583001964,
 318.11852654547135,
 196.27545398677523,
 231.88999001381285,
 234.52697544011733,
 391.1581867112442,
 -12.053217971687104,
 -0.2535642039815684,
 81.90612553179551,
 438.54867165928283,
 11.044054771551828,
 -8.159132022748054,
 190.71740984501946,
 238.50618115283032,
 50.335580630289314,
 572.3015946551612,
 760.7789328657894,
 395.31005001986296,
 312.8972718350726,
 395.8660610767881,
 -34.73609866943423,
 -73.67907137692742,
 -88.6008658212258,
 491.91299351139526,
 634.3416008045698,
 300.4470581180284,
 85.96313078844821,
 196.97072256034141,
 125.83202775512711,
 74.15219200103832,
 665.4117896954175,
 619.7521852362141,
 370.876566751473,
 302.1644071110941,
 537.1566769628652,
 141.3325821657303,
 252.7451561870522,
 112.83871567218921,
 503.4085116578202,
 -40.12313764788178,
 29.15102533674201,
 9.740598167109397,
 -158.07155714694068,
 69.21536747044775,
 114.57438576685558,
 224.3790911225584,
 -150.2233519126794,
 -57.25992387360873,
 265.3399513836108,
 5.355941606919828,
 -145.45264189587112,
 -170.91469453355984,
 84.21770450855979,
 -35.550633617925655,
 291.1720553780822,
 158.9547651228604,
 168.87170415552862,
 -76.02646164468393,
 -46.999007239071375,
 -62.56571931792837,
 39.41472865859271,
 74.07868295455069,
 490.6466925080955,
 204.09443945909652,
 -105.22392696659597,
 116.9101569979075,
 -119.29524608532591,
 -99.28756834047482,
 231.60462270862672,
 402.54746135390053,
 16.486199429390012,
 687.8951691229848,
 616.3149120232812,
 -75.34453007342148,
 88.64121679404855,
 -78.09237711320537,
 247.8505890712729,
 37.64925671032552,
 -162.74127962688846,
 -40.60234912848546,
 -128.75980375744456,
 -137.83549371095228,
 -64.07075526149572,
 -41.198281270677626,
 22.26540855351186,
 -24.679889945408945,
 59.59414470472586,
 -64.9214886284808,
 51.60280557101987,
 167.31422190109242,
 282.17097258679655,
 299.2895837366077,
 258.3045323583841,
 276.34739782211057,
 452.82963495084925,
 276.9111679655141,
 142.13798052302138,
 -14.448394660648319,
 314.36927539076123,
 -13.124433349653259,
 249.71606872305813,
 312.60115904440534,
 266.87029247050486,
 58.68257546002235,
 246.12746927204773,
 186.04313252035968,
 -63.03311527010999,
 298.1154700088848,
 -23.009156983625758,
 443.76787131142885,
 -129.48399511583585,
 73.947674475898,
 49.27695864856878,
 265.91473089714896,
 -76.17922296243154,
 -60.95868950977342,
 781.2166789073505,
 75.40920285658694,
 -74.48514995674714,
 127.48490011345461,
 206.164855623888,
 7.408166020373187,
 -102.8480059473431,
 270.82639693483327,
 -72.94296142826977,
 488.26797449256344,
 -208.29556651423655,
 -158.04922321480927,
 -5.807325051024463,
 97.38427837939503,
 482.53164977201266,
 257.8014449782296,
 248.19110323579991,
 755.8917459284258,
 -198.50100370204427,
 -155.51880884031038,
 -102.92143516363984,
 635.8963277955955,
 -23.327398686169772,
 356.8574192255576,
 -144.9765538689648,
 -124.11026977756745,
 387.71277751656146,
 385.2149202899503,
 21.21849359829082,
 -12.22259425125003,
 -113.5869702092802,
 377.2155962784632,
 103.83744974392084,
 -169.44065481952708,
 118.37256035691814,
 303.5097887207859,
 -138.64237123677174,
 89.2651918789926,
 142.76325473998304,
 112.89760102419041,
 1304.3475786700983,
 1373.2859336011888,
 -166.22393503416174,
 601.752381730466,
 -58.28307800480627,
 684.6592370316681,
 1367.5840431067131,
 1171.3397264339942,
 49.56415371003527,
 -91.80966609826254,
 104.54163833178916,
 -182.5987836965644,
 478.63895638644146,
 121.64434884553907,
 -248.13011873689152,
 215.87619381441766,
 -4.6995454102309395,
 641.7052768803156,
 986.4170306881705,
 360.4343038221783,
 -28.75921208388081,
 -133.6843900886114,
 -134.86205153342848,
 248.02918531919272,
 287.9274387719274,
 230.20541502626645,
 583.9727406035651,
 970.0397958332429,
 1354.1426118685672,
 578.4460598306808,
 520.3817922374068,
 981.5278342251635,
 822.2335989648794,
 10.795473645670086,
 72.76401869823133,
 198.80466429168166,
 319.95927473673714,
 441.9578863414241,
 87.18174134872004,
 626.8697734282231,
 868.895564395927,
 1054.1558746356332,
 114.79522513067911,
 1152.4679318708672,
 1349.095463558836,
 1348.6259149854704,
 1154.3160334150516,
 993.8340928730798,
 1350.5496306181867,
 443.1329557281209,
 11.876102565113001,
 111.30127474284347,
 1121.3584312613207,
 699.156782711843,
 240.69149836357894,
 1153.455064110677,
 1006.1733752166309,
 650.2890325107397,
 826.7448730502086,
 643.1192152379916,
 426.24061327146944,
 240.97402423641506,
 537.7247471969403,
 294.2887507446386,
 144.05603863059264,
 1354.4802857249956,
 759.5145392306091,
 372.143978104801,
 147.01429463527018,
 234.15042483954983,
 405.9113763892352,
 540.069420474539,
 434.96847613252146,
 268.2216491969315,
 132.29462416045294,
 548.7097274388533,
 283.0151154587429,
 984.0453731107417,
 423.9405482522651,
 253.9683680291248,
 211.30395754854032,
 271.66924415034816,
 298.76902900715515,
 474.2904914307418,
 1347.8061349649793,
 1348.2756835383461,
 992.7142518211637,
 792.8425304596041,
 593.781856516442,
 429.62289651026447,
 385.472279481064,
 1346.358246700976,
 1346.8152376836492,
 1011.5174338357145,
 827.6930712229181,
 26.7181609265225,
 125.19639739767388,
 189.60436350077714,
 132.3536570797271,
 290.8494025123106,
 544.4931498415671,
 110.46101006580761,
 445.7274199370057,
 295.2140989600631,
 445.60408923952116,
 92.28074197681406,
 289.2103395307696,
 201.96499598419575,
 255.82306685278024,
 275.4202286509309,
 697.8127248895393,
 417.05378432322584,
 88.92107871718599,
 143.41850418520278,
 80.99800566494412,
 449.5675900532259,
 245.52357969753962,
 -13.56780631027766,
 440.1601972452685,
 755.2006520193028,
 200.77787812046176,
 626.1887722228306,
 -35.386298923526624,
 707.026874296197,
 443.09024544106217,
 430.5830353200653,
 482.1360136617933,
 1344.8915220509311,
 301.83565239913344,
 474.1239229753277,
 463.9139668213453,
 277.695723048863,
 -18.464634394634345,
 341.88959452274196,
 787.4898472727629,
 1017.3514867289972,
 1150.7157600174505,
 758.4789143812555,
 469.28276365365434,
 214.9475345619635,
 775.6461529432569,
 1175.8387480892065,
 957.1660499901219,
 982.673574222374,
 895.4031154944106,
 1008.4660881415324,
 737.9240280370776,
 837.1162691995427,
 639.5684767508811,
 556.3344187288641,
 645.0848052100965,
 726.5483225164425,
 913.4244487975978,
 1015.1390363824972,
 732.919153488625,
 553.1955678586718,
 578.6685388478319,
 720.1621227063039,
 -30.911727118963768,
 914.3549523745841,
 1144.2165918308156,
 842.7803097134848,
 497.94706332925796,
 35.84244229619355,
 80.44628526654606,
 112.90877693734512,
 137.58953689415068,
 28.423311623276277,
 101.75435909324813,
 231.36281080860874,
 53.28015640149181,
 573.4882875717311,
 281.04166837518994,

In [247]:
X_new_Count=new_la.drop("Fire Count", axis=1)
new_Count=model.predict(X_new_Count)
len(new_Count)

2961

In [248]:
new_Count

array([[-2356.41307242],
       [-2335.19976977],
       [ -931.74803131],
       ...,
       [-2470.58666587],
       [-2613.40006404],
       [-2607.33767394]])

training data testing se alag karna tha madarchod